[2020-01-20 09:49] itome opened #38 "Yasnipet is broken in dart mode"
yasnippet with lsp-mode works fine with dart-mode just after lsp-mode started, but sometimes (I don't know the reason) error occurs in completion/resolve and after that, snippet directly shown in buffer like below.

<img width="331" alt="Screen Shot 2020-01-20 at 18 46 37" src="https://user-images.githubusercontent.com/24409457/72716252-402c8400-3bb5-11ea-9962-9cc08cc6904b.png">

First error messa

[2020-03-12 04:08] Sorixelle opened #13 "dart_analysis_server causing Emacs 27 to spuriously lock up"
**Describe the bug**
When editing a Dart file, Emacs sometimes locks up, until `dart_analysis_server` is killed. Sometimes, the echo area will display `error running timer 'lsp--on-idle': (error "Lisp nesting exceeds 'max-lisp-eval-depth'")` before the hang.

This error only occurs on Emacs 27. I have been unable to reproduce this on Emacs 26.

Error is reproducible using lsp-start-plain.el, addin

[2020-04-03 02:53] ericdallo opened #12 "Allow recent created files to be imported"
**Describe the bug**
when using `lsp-mode` with `dart-mode`, after I create a new dart file, when I try to use it, it just don't show an option on `lsp-ui` for the auto import.
Sometimes if I run `lsp-restart-workspace` then `lsp` again, or I kill the buffer, the option to import shows off.

**To Reproduce**
Example:

I create a file `b.dart`:
[code]
then on an existent file `a.dart`, `lsp-ui` doe

[2020-04-12 05:57] nickenchev opened #2 "Installation Issue"
Hey I'm trying to actually install lsp-dart, and can't do so neither with :ensure t or straight.el

I'm currently getting completions using dart-mode + lsp-mode, but I'm having terrible completion lag so I thought I'd try this. To be honest, I don't even know dart-mode uses lsp-dart, or how any of this ties together.

[2020-04-12 13:36] ericdallo commented on #2
@nickenchev we are migrating `lsp-dart` from `lsp-mode` to this repo and adding more feature to this, but this is recent and `lsp-dart` is not yet on melpa, I think in a couple of weeks this will be available.

I recommend you to use `lsp-dart` from `lsp`mode` temporarily or if you are using straight, you can use this repo with something like:

[code]

[2020-04-13 02:29] ericdallo commented on #2
The Melpa [PR](https://github.com/melpa/melpa/pull/6823) was merged, so I think this is fixed @nickenchev

[2020-04-13 02:29] #2 closed

[2020-04-13 13:49] nickenchev commented on #2
Thank you Eric! Hadn't had a change to try your suggested install method, but thanks for the info.

[2020-04-13 18:32] nickenchev opened #3 "Completion Performance"
**Describe the bug**
While typing inside a dart file, completions often take 1-2 seconds to return and freeze all input within the editor. When ```lsp-print-io``` is set to ```t```, completions takes 4, 5 seconds.

**To Reproduce**
Open main.dart in the sample application produced by flutter and start typing inside a method.

**Expected behavior**
No freezing during typing, or much more minimal. N

[2020-04-13 18:48] ericdallo commented on #3
@nickenchev, there's an issue on Dart sdk [here](https://github.com/dart-lang/sdk/issues/40026) about the log size.

`lsp-print-io` really slows down the completion, it may be used only for debug reasons.

I had this problem too when I had emacs 26.3, after I updated to emacs 28, the problem was resolved, I think that's because emacs 27 added a native JSON parser and increased all LSPs performance

[2020-04-13 20:53] nickenchev commented on #3
@ericdallo I was actually using the same the latest Emacs 28 git from Arch AUR, which is where I first noticed the issue. I realize that ```lsp-print-io``` causes a massive spike due to debug info, I don't normally keep that set, it was only for this issue report.

I'm not using capf, just company-lsp I believe. I'm not actually sure why I should use one over the other, though I did notice it as a

[2020-04-13 21:03] nickenchev commented on #3
I just added: ```:init (add-to-list 'company-backends 'company-capf)``` to my lsp-mode configuration, and it has made a big difference in completion performance. The freezing is pretty much gone.
[code]

[2020-04-13 21:08] ericdallo commented on #3
Nice, good to know that, I'm using `company-capf` too, maybe that's why I can't reproduce this.

I'll certainly add this to the FAQ on README, thanks @nickenchev

[2020-04-13 21:25] nickenchev commented on #3
So I might have lied and exaggerated the improvement that made, it really did feel quicker when getting completions right after I made that switch. I'm still getting freezes as I type and completions are being returned. Is there anything else I should check?

Evaluating this expression returns ```t``` so it appears to be ok.

[2020-04-13 21:32] ericdallo commented on #3
Odd, you can check my personal config [here](https://github.com/ericdallo/dotfiles/blob/master/emacs/.doom.d/config.el#L115-L120), but I don't think you need to change anything more...
![completion](https://user-images.githubusercontent.com/7820865/79163128-d935fa00-7db4-11ea-8328-3162e0c721e1.gif)

[2020-04-13 21:33] ericdallo commented on #3
@yyoncho do you know something more we can try?

[2020-04-13 21:43] nickenchev commented on #3
Honestly, my biggest takeaway there was that I need that "parrot" package.

[2020-04-13 21:46] ericdallo commented on #3
:p [parrot.el](https://github.com/jnc-nj/parrot)

[2020-04-14 04:25] yyoncho commented on #3
@nickenchev

No freezing during typing, or much more minimal. Not sure how these completion backends work, but it feels like heavy work is being done on the wrong thread.

There is only one thread.

Other than that:
0. Make sure you are using latest stuff on dart side.
1. Make sure that lsp-mode.el is byte-compiled using emacs 27+ which has native json parser.
2. After you ensure that follow the i

[2020-04-14 15:41] carlosperezm opened #4 "lsp-dart-show-flutter not working"
First of all thank you for maintaining this package. It is already working great!

**Describe the bug**
Running the command `lsp-dart-show-flutter` outline returns an error.
I am not sure if I am missing any dependencies or packages.

It also happens with `lsp-dart-show-outline`

**Logs**

<details><pre>
Debugger entered--Lisp error: (wrong-type-argument hash-table-p nil)
  gethash("uri" nil)
  ls

[2020-04-14 16:26] ericdallo commented on #4
Thanks @carlosperezm!

This probably is happening because `lsp-dart` is not receiving any outline notifications from the server.
This feature is only available for `dart 2.8.0` because [only on this version](https://github.com/dart-lang/sdk/commit/62e5531e36796bcd4b7e0778bd5cb6124f9ff4ea#diff-60aeb3c2003477c8456ed71b7ece0279R61) that the analysis_server send this notification for `LSP`s clients.

[2020-04-14 16:30] ericdallo commented on #4
Added a :warning: https://github.com/emacs-lsp/lsp-dart/blob/master/README.md#tree-views

[2020-04-14 19:43] carlosperezm commented on #4
Thanks for the clarification!
I changed to `dart 2.8.0` and it works perfectly! Such a nice feature!

Unfortunately now I see a different issue. Performing an operation (e.g. wrapping a widget) from the flutter outline crashes Emacs. It does not happen if I apply the same operation from the menu offered by `lsp-ui`
If you prefer, I can open a new issue for this.

[2020-04-14 19:49] ericdallo commented on #4
right, I think it's better to open a new issue just to track this problem

[2020-04-14 19:49] #4 closed

[2020-04-14 22:02] nickenchev commented on #3
@yyoncho When you say there is only one thread, is that an emacs limitation? I don't have a deep understanding of the Emacs limitations.

[2020-04-14 22:06] ericdallo commented on #3
Yes @nickenchev

[2020-04-22 00:10] ram535 opened #8 "Getting error after updating"
After updating and open a dart file (flutter project).
![1587513594401](https://user-images.githubusercontent.com/9011002/79926574-212ad180-83f2-11ea-987f-20d6be011be8.jpg)

I also noticed the same message appears even if it is not a dart or flutter project.
I open a `go` file and the same message appear `........lsp-dart-test)`.

In other words `lsp-mode` just stop working.
I remove `lsp-dart` fr

[2020-04-22 00:20] ericdallo commented on #8
Hi @ram535, probably a version different from master?
Are you using `doom-emacs`?

[2020-04-22 00:39] ericdallo commented on #8
Fixed [here](https://github.com/emacs-lsp/lsp-dart/commit/b842ef74e6c71a07cb7e8e914d4efad39b111b88) on `1.6.5` release.
This should be available on MELPA in about 2 hours.

Thank you for the report @ram535

[2020-04-22 00:39] #8 closed

[2020-04-22 01:05] ram535 commented on #8
I confirm that It works now with the your new update.
I am using vanilla emacs with `use-package, straight.el and evil-mode`.

[code]

Thanks.

[2020-04-22 01:08] ericdallo commented on #8
Nice, thanks!

[2020-04-22 02:38] ram535 opened #9 "Error when calling lsp-dart-show-outline and lsp-dart-show-flutter-outline"
I am running:

[code]

My relevant configuration.
[code]
Before calling `lsp-dart-show-outline or lsp-dart-show-flutter-outline`.

![1587522103880](https://user-images.githubusercontent.com/9011002/79934257-0020ab80-8407-11ea-92e3-9a5253524cad.jpg)

After calling `lsp-dart-show-outline or lsp-dart-show-flutter-outline`.
Notice that the color indicator disapear.
![1587522117124](https://user-images

[2020-04-22 07:41] zoechi opened #10 "Setting `lsp-dart-flutter-fringe` to `nil` does not disable fringe colors"
**Describe the bug**
A clear and concise description of what the bug is.

I tried to disable fringe colors, but it didn't work.

I tried

`M-x lsp-dart-flutter-fringe-colors-mode`, `(setq lsp-dart-flutter-fringe-colors nil)`, and
[code]

but the fringe colors show the same.

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages and it is reprodu

[2020-04-22 10:39] zoechi commented on #10
Seems to at least require a restart of Emacs to take effect.
Setting the var and close/reopen the buffer doesn't have any effect.

[2020-04-22 12:46] ericdallo commented on #9
This is odd, I tested with the latest `treemacs` and `lsp-treemacs` versions and could not reproduce this... Could you try to enable the debug on your emacs session to give us more feedback on why this `treemacs--maybe-move-forward` is void? I think [`debug-on-error`](https://www.gnu.org/software/emacs/manual/html_node/elisp/Error-Debugging.html) could help

[2020-04-22 13:02] ericdallo commented on #10
Thank you for the report @zoechi, it was a bug when disabling the `lsp-dart-flutter-fringe-colors-mode` that doesn't clean the colors in the current buffer.

I released a new [tag](https://github.com/emacs-lsp/lsp-dart/releases/tag/1.6.6) fixing it today.

Feel free to reopen if the problem persist.

[2020-04-22 13:02] #10 closed

[2020-04-22 13:15] ericdallo commented on #10
the variable `lsp-dart-flutter-fringe-colors` is checked only when initializing the LSP workspace for a project, so changing it in an already open buffer will not work, that's why restarting Emacs solved. For a realtime disable/enable the `lsp-dart-flutter-fringe-colors-mode` will do the trick.

[2020-04-22 15:21] ericdallo commented on #9
If you are using the latest release `1.6.7` I included a new command, could you try `M-x` `lsp-dart-version`?

[2020-04-22 15:53] zoechi commented on #10
`lsp-dart-flutter-fringe-colors-mode` didn't work either, not sure if you meant this was supposed to be fixed by the new tag.
I also tried restarting lsp and closing/reopening the file.

[2020-04-22 16:17] ericdallo commented on #10
Yeah, this was supposed to be fixed in the `1.6.6` tag, the bug keeps happening after the `1.6.6` tag?

[2020-04-22 20:28] ram535 commented on #9
M-x lsp-dart-version.
[code]

debug-on-error
[code]

[2020-04-22 21:59] ericdallo commented on #9
Hum it looks like a treemacs error, could you try `treemacs` to check if treemacs is opening correctly the tree view for your project?

[2020-04-22 23:20] ram535 commented on #9
When running treemacs.

![1587597572176](https://user-images.githubusercontent.com/9011002/80042923-269d2000-84b5-11ea-85a9-f9c63fad1886.jpg)

[2020-04-23 00:45] ericdallo commented on #9
The `lsp-dart-show-outline` implementation is similar to the `lsp-treemacs-symbol`, Can you please confirm again if `lsp-treemacs-symbol` is working?

[2020-04-23 01:02] ram535 commented on #9
It has a weird behavior.

When doing `lsp-treemacs-symbol`.
![1587603525687](https://user-images.githubusercontent.com/9011002/80047785-37ed2900-84c3-11ea-946c-af397aaf510b.jpg)

And after like 10 seconds, the symbols appear.
![1587603710788](https://user-images.githubusercontent.com/9011002/80047859-6408aa00-84c3-11ea-9c22-086f7226f8f8.jpg)

[2020-04-23 01:07] ericdallo commented on #9
Oh, that's a good start point to investigate, I'll check `lsp-treemacs-symbols` and try to find what's is causing it.
Thanks, hope I find something soon :sweat_smile:

[2020-04-23 09:17] zoechi commented on #10
Thanks, now `M-x lsp-dart-flutter-fring-colors-mode` removes the colors from the fringe.

[2020-04-23 09:51] zoechi opened #11 "Fringe colors cause high CPU usage"
**Describe the bug**
A clear and concise description of what the bug is.

I have a Flutter theme file with about 300 lines and about 30 colors.

Editing this file with `lsp-dart-flutter-fringe-colors` enabled, after a few (1-3) minutes causes high CPU usage for every action (pointer up/down/left/right, editing text).
This keeps getting worse until Emacs hardly reacts at all to anything (for exampl

[2020-04-23 12:46] ericdallo commented on #11
Thanks, @zoechi, yeah I realized this a few days ago, it's the need of defining a new face on every update... I have some ideas on how to fix this and I'll work on it

[2020-04-23 17:37] #11 closed

[2020-04-23 17:39] ericdallo commented on #11
@zoechi, the latest release, `1.6.9`, should fix this. I improved a lot the way `lsp-dart` define/update faces for flutter fringe. Could you test it and confirm, please?

[2020-04-23 20:14] #9 closed

[2020-04-23 20:55] ericdallo commented on #9
Nice, sorry for not noticing it before :)

[2020-04-24 21:04] ericdallo commented on #13
@Sorixelle, Could you test it again using `lsp-dart` and with the flutter on master like @LongCatIsLooong said?

[2020-04-24 21:28] ericdallo commented on #12
@yyoncho, so do you think I should open an issue on upstream?
It's odd, since creating the file via the terminal as I said above, works great. Isn't this a `lsp-mode` bug?

[2020-04-25 04:28] yyoncho commented on #12
Here it is the spec:

The server should work without depending on the file present on the disc or not.

[2020-04-25 13:46] ericdallo commented on #12
It makes totally sense, a weird behaviour too, is that evenly saving the buffer before or after creating the B class, it does not work

[2020-04-27 09:06] Sorixelle commented on #13
Yep, looks like that might have been it. Thanks for the pointer.

[2020-04-27 09:06] #13 closed

[2020-04-27 12:01] zoechi opened #14 "How to get started with dap-mode and Flutter/Dart"
I saw that `lsp-dap-dart.el` is now available and tried to figure out how to get started, but so far was only able to get some error messages. It's unclear what dap-dart is supposed to do exactly and what the prerequisites are so that it can be used with a Dart or Flutter project.

- Do I need to start devtools manually before `dap-debug`?
- Do I need to run the application manually before `dap-de

[2020-04-27 12:15] zoechi commented on #14
Seems to be similar to dap-mode#237

[2020-04-27 12:16] zoechi commented on #11
Looks good now after about 1h.
Thanks a lot for your great work!

[2020-04-27 12:28] ericdallo commented on #14
Currently `lsp-dart-dap.el` is only supported by Dart, the Flutter support is the next thing on my TODO list, so I think in the next days I should release this feature.
For the Dart support, DevTools is automatically installed, started and opened via the `lsp-dart-dap-open-devtools` command, that was [released yesterday](https://github.com/emacs-lsp/lsp-dart/releases/tag/1.7.0)

To setup the DAP,

[2020-04-27 12:51] zoechi commented on #14
I see. Looking forward trying it out :)

[2020-04-27 12:55] zoechi commented on #11
Actually, after working a bit longer in that specific file and switching between fringe-mode and no fringe-mode there is a notable lag for example when I move the point, but it's not as extreme as it was before and it doesn't seem to get worse over time.

[2020-04-27 13:16] ericdallo commented on #11
I think that the slowest moment of the fringe-colors-mode is when activating them becasue it needs to define a fringe for each color and depending on the number of colors on the buffer, this may take a while.

@zoechi Could you share your buffer or the colors that have on them?

[2020-04-27 13:44] zoechi commented on #11
It's not only initially, but all the time after it is switched on.
Every point movement has a lag of about 1/2 sec and CPU utilization goes up a bit higher (10% - 20% more) every time than without fringe-color-mode.

[code]

[2020-04-27 13:59] zoechi commented on #14
will probably work like in dap-mode#247

[2020-04-27 13:59] yyoncho commented on #11
@ericdallo

https://github.com/emacs-lsp/lsp-dart/blob/65ad13b2f67bd89286ff88b511f90d7ab7e924f5/lsp-dart-flutter-fringe.el#L119

Just wondering whether here you should use lsp-on-change-hook ?

[2020-04-27 14:01] ericdallo commented on #11
@yyoncho, I thought that `'lsp-on-idle-hook` would be faster, do you think `lsp-on-change-hook` would be better? or is there any other hook for this case?

[2020-04-27 14:07] ericdallo commented on #14
Yeah, @zoechi, you already can register a custom template by yourself, but I'll add more default templates for debug similar how VSCode does today.

[2020-04-27 14:12] ericdallo commented on #11
@zoechi, You can try to increase the check interval  for color changes to have a better performance,
[code]

It's not the best, but it helps

[2020-04-27 15:59] zoechi commented on #11
Weird. Previously I had a notable performance difference with or without fringe-color-mode  and I tried it multiple times to be sure, but now fringe-color-mode on or off or different interval does not make a difference, in CPU usage. It's always fast enough.

I'll report back when I can reproduce again.

[2020-04-27 16:16] zoechi commented on #14
I haven't used VSCode myself, but Danny did solid work there from what I have seen.
Great to see Emacs will benefit from his work as well \o/

[2020-04-27 16:27] ericdallo commented on #14
Thanks! Danny's work is helping me a lot on implementing these features :)

[2020-04-27 17:43] ericdallo commented on #11
@zoechi I followed the suggestion of @yyoncho and changed the hook that update the colors, could you test it one more time please on the latest release `1.7.1`?

[2020-04-28 13:08] zoechi commented on #11
It's a bit difficult because I have no automated benchmark, but I got the impression that now the CPU usage numbers in `top` are even lower then yesterday.
So it looks like the change was worth it.

[2020-04-28 13:22] ericdallo commented on #11
Nice, thanks for the help @zoechi!

[2020-04-30 15:04] #14 closed

[2020-04-30 15:58] ericdallo commented on #14
@zoechi, the current latest release, `1.8.0`, adds the Flutter debug support :)

[2020-05-04 08:49] zoechi opened #16 ""Invalid file path" error with lsp-find-definition in Dart core library"
**Describe the bug**
When I navigate to a Dart code library file from custom source code it works fine, but when I want to jump further from there, I only get the mentioned error.

For example if I use `lsp-find-definition` from a `String` type in a custom source file or in a file of a dependency (in `~/.pub-cach/hosted/...`) it works fine,
but if I try to do it in a core library file, for example

[2020-05-04 13:10] ericdallo commented on #16
Thanks for the report!
I tested on VScode with the LSP enabled and this not seems to happen, so the problem seems to be really in the `lsp-dart` client. I'll keep investigating

[2020-05-04 15:59] ericdallo commented on #16
@zoechi The problem was that `lsp-dart` was not including the Dart SDK libraries to the LSP workspace, I released a fix, could you test it again? thanks!

[2020-05-04 18:44] #16 closed

[2020-05-05 07:29] liurnd opened #17 "Cannot bring up LSP seesion"
**Describe the bug**
Upon M-x lsp, LSP session is not created. Error message:

LSP :: The following servers support current file but do not have automatic installation configuration: dart_analysis_server

**Note**
lsp-dart-sdk-dir is set already.
(setq lsp-dart-sdk-dir "~/utils/dart-sdk")

**To Reproduce**
Open a dart file, M-x lsp

**Expected behavior**
LSP session should be created

**Version**

[2020-05-05 13:00] ericdallo commented on #17
Are your `lsp-mode` and `lsp-dart` pacakges configured correctly?
Could you share you configuration?

[2020-05-05 13:06] liurnd commented on #17
Yes I was using the same config previously but it stops working after i upgraded.

My config:
[code]

Pls lmk where can i get more debug logs if that would help.

[2020-05-05 13:22] ericdallo commented on #17
@liurnd, I believe this was a change on `1.6.2` where we renamed the `lsp-dart-sdk-dir` -> `lsp-dart-project-sdk-dir`. Can you fix it in your config and test it?

[2020-05-06 03:30] liurnd commented on #17
It works now! Thx a lot

[2020-05-06 03:30] #17 closed

[2020-05-07 15:13] zoechi commented on #16
For me it is still the same behavior.

[2020-05-08 00:54] ericdallo commented on #16
Odd, I followed your steps and could not reproduce with the latest release:

![lsp-dart-issue-16](https://user-images.githubusercontent.com/7820865/81358541-36b82080-90ad-11ea-93aa-731deda8bef0.gif)

Could you check your version @zoechi ?

[2020-05-08 12:03] zoechi commented on #16
lsp-dart 20200504.1959
lsp-mode 20200507.2113

[2020-05-08 12:22] zoechi commented on #16
It looks like when I jump from a Dart file in a Flutter project to a core type (`String`), then it's working fine.
If I jump to a package (for example `LogRecord` from the `logging` package) and then to a core type, it does not work anymore.

Also a bit unfortunate is that in the former case it jumps into `~/flutter/bin/cache/pkg/sky_engine/lib/core` (correct) and in the later to `/usr/lib/dart/li

[2020-05-08 12:34] zoechi opened #18 "[dap-dart] Allow to pass parameters like `--flavor` but also others"
**Describe the Feature request**
I haven't found a way to pass the `--flavor` parameter to `flutter run` using `dap-debug`

There are likely others like `--route` `--no-pub`
See `flutter run --help` for all possibilities
There was also an interesting option added/reverted recently to pass constant values to Dart by `--dart-define` https://github.com/flutter/flutter/pull/52041
Hopefully that will f

[2020-05-08 12:41] zoechi opened #19 "dap-debug keeps launching forever"
I try to debug a flutter app, but it only shows `launching` with a "spinner" in the minibuffer.
The dap session window shows a session.

[code]

I got the impression `:args` is just ignored.
If I run from command line without `--flavor origin` I get the output

[code]
and then the the command exits without an error code.

This could just be a duplicate of #18 but I guess user experience could stil

[2020-05-08 12:46] ericdallo commented on #18
Nice, I forgot about the `flavor`, I'll think of something to easily achieve this :)

[2020-05-08 13:23] ericdallo commented on #19
@zoechi, Thanks for the report!
I'll improve the UX for custom debug parameters, but I think for this case the `args` should be a `list`:
[code]

[2020-05-08 14:03] zoechi commented on #19
<strike>
Thanks, didn't think of that form.
Now I only get

immediately after I execute `dap-debug`

Is there a way to get some log output.
I think I saw some buffer with log output of the debugger startup process at some point but I do not know if I have anything to do for it to show up.

It doesn't look like `(setq lsp-dart-dap-flutter-verbose-log t)` leads to any more log output.
</strike>

I r

[2020-05-08 14:09] zoechi opened #20 "dap-dart should allow to invoke hot-reload and hot-restart"
**Describe the bug**
Among others provided by the Flutter runtime

The output of <kbd>?</kbd> after `flutter run`
Not all might make sense from Emacs.

[2020-05-08 14:13] ericdallo commented on #19
Sorry, I didn't understand, is the flavor problem fixed?

[2020-05-08 14:15] ericdallo commented on #20
I think [flutter.el](https://github.com/amake/flutter.el) implemented this, but I think that won't work with the dap-debug because the debug use a flutter daemon on the background and `flutter.el` starts another flutter process :/

[2020-05-08 14:32] zoechi commented on #19
Yup, sorry for the confusion.

Args/flavor are working now.

[2020-05-08 14:36] ericdallo commented on #19
No problem :)
I released now a new tag making it less verbose to add a custom template and [added to the README](https://github.com/emacs-lsp/lsp-dart#custom-templates) how to add a custom template, thanks for the feedback!

[2020-05-08 14:36] #19 closed

[2020-05-08 14:38] ericdallo commented on #18
I think all of this can be achieved now with the custom template as explained [here](https://github.com/emacs-lsp/lsp-dart/issues/19#issuecomment-625846522).

[2020-05-08 14:38] #18 closed

[2020-05-08 14:40] ericdallo commented on #16
hum, this should be a corner case for flutter lib...
I 'll try to reproduce and fix it if it's a problem...

[2020-05-08 15:19] zoechi commented on #20
I only used this in IntelliJ, but I'm sure VSCode does this as well.

IMHO it doesn't really make sense to distinguish between debug and run in Flutter.
I'd always debug and when it hits a breakpoint or an exception (and halt on exceptions is configured) it should break, otherwise it just runs.

[2020-05-08 15:23] ericdallo commented on #16
@zoechi what's the value that you have on `lsp-dart-project-sdk-dir`?

[2020-05-08 20:09] freewebwithme commented on #3
I have same issue in emacs 28 using spacemacs.

[2020-05-08 20:19] yyoncho commented on #3
@freewebwithme what do you get when you do M-x lsp-diagnose?

[2020-05-08 20:37] ericdallo commented on #16
I release a new fix that's not entirely related to this but it worth checking it again.
I fixed the way we check for the Dart SDK, before this, even with flutter and dart on PATH, `lsp-dart` chose the dart SDK, not the dart SDK from flutter cache dir.

[2020-05-08 20:45] freewebwithme commented on #3
It says

Checking for Native JSON support: OK
Checking emacs version has `read-process-output-max': OK
Using company-capf: : OK
Check emacs supports `read-process-output-max': OK
Check `read-process-output-max' default has been changed from 4k: ERROR
Byte compiled against native json (recompile emacs if failing.): ERROR
`gc-cons-threshold' increased?: OK

[2020-05-08 20:49] yyoncho commented on #3
Delete lsp-mode. Change read-process-output-max.

[2020-05-08 21:04] freewebwithme commented on #3
where and how can I read-process-output-max to 1mb?

[2020-05-08 21:09] freewebwithme commented on #3
I found your message in gitter
(setq read-process-output-max (* 1024 1024))

[2020-05-08 21:11] ericdallo commented on #3
@freewebwithme I think `(setq read-process-output-max (* 1024 1024))` can handle it

[2020-05-08 21:21] freewebwithme commented on #3
Thanks I think it became little faster but I need some time to test.
Because it was fast when I first install lsp-dart.

[2020-05-08 23:13] #20 closed

[2020-05-08 23:16] ericdallo commented on #20
You are right, I checked the Dart-Code VSCode extension and noticed that they send a custom request for the debug session for `hotReload` and `hotRestart` and I implemented 2 new commands for the debug session:
`lsp-dart-dap-flutter-hot-restart`
`lsp-dart-dap-flutter-hot-reload`

Hope it helps and thanks for the report :)

[2020-05-09 10:33] carlosperezm opened #22 "lsp-dart incorrectly checks minimum SDK version"
**Describe the bug**
lsp-dart claims that my SDK version is below 2.8.0, when it is actually 2.8.1

**Expected behavior**
Identify that my version is greater than 2.8.0

**Version**
[LSP Dart] 1.8.7 at 2020.05.09 @ Emacs 26.3

[2020-05-09 12:23] zoechi commented on #20
Incredible! I love what you are doing!

[2020-05-09 12:29] zoechi commented on #16
`lsp-dart-project-sdk-dir` is set to the Flutter location with `.dir-local.el` (I checked the value with files from my Flutter project. For all other files (Dart SDK, Flutter SDK, packages it's the default value `nil`

[2020-05-09 15:36] ericdallo commented on #22
Thanks for the report, I'll take a look

[2020-05-09 15:51] ericdallo commented on #20
Thank you @zoechi! :rocket:

[2020-05-09 16:29] #22 closed

[2020-05-13 12:36] zoechi opened #25 "How to debug `flutter test`?"
It is not clear to me how a DAP template would look like to be able to debug `flutter test` execution.

[2020-05-13 12:38] zoechi commented on #25
There are also `flutter drive` tests where a part runs outside a device or emulator that drives code run inside a device or emulator.
I don't know how far other IDE's support that though

[2020-05-13 13:05] ericdallo commented on #25
Yeah, there're 2 features here, one is run the tests inside a device and other is run the tests with DAP for debugging.

I'm working on the last one, is almost finished and is already working for dart, just missing flutter debug:
![image](https://user-images.githubusercontent.com/7820865/81816056-2c5cb300-9501-11ea-812a-29ef792e312e.png)

[2020-05-13 13:40] zoechi commented on #25
Great to hear \o/

[2020-05-14 02:47] #25 closed

[2020-05-14 02:53] ericdallo commented on #25
Fixed on release [1.10.0](https://github.com/emacs-lsp/lsp-dart/releases/tag/1.10.0), thanks for the report :)

[2020-05-14 04:58] zoechi commented on #16
I think there should be a way to specify `lsp-dart-sdk-dir` and `lsp-flutter-sdk-dir` (instead of `lsp-dart-project-sdk-dir` and it should automatically take one or the other depending on whether it is a Flutter or Dart project.
I believe this is how it is distinguished.

[code]
That would also work for packages in `~/.pub-cache/hosted`

[2020-05-14 15:41] ericdallo commented on #16
Yeah, it's a little messy the way `lsp-dart` find/get the sdks.
I'll refactor this to a VSCode similar way, where it checks if it is a flutter project to decide which Dart SDK use.
I'll add an option to specify flutter SDK path and dart SDK path too.

Thanks for the suggestion :)

[2020-05-14 17:45] ericdallo commented on #16
Done on `1.10.1` release, @zoechi could you test it again please?

[2020-05-15 00:01] ericdallo commented on #16
Just FYI @zoechi, I renamed [some variables](https://github.com/emacs-lsp/lsp-dart/pull/27/files#diff-04c6e90faac2675aa89e2176d2eec7d8L153):
 `lsp-dart-project-sdk-dir` -> `lsp-dart-sdk-dir`
 `lsp-dart-project-flutter-sdk-dir` -> `lsp-dart-flutter-sdk-dir`

[2020-05-15 08:09] zoechi commented on #16
This seems to work fine now.

When I jump to declaration of `String` in a Dart project it jumps to the Dart SDK and when done from a Flutter project to the Flutter SDK.

Is `/home/user/flutter` the correct value for `lsp-dart-flutter-sdk-dir` or should it be `/home/user/flutter/bin/cache/dart-sdk`?
It worked with `/home/user/flutter` but I think it would be helpful to have this in the docs.

The F

[2020-05-15 08:23] zoechi commented on #16
`dap-debug` only seems to work with `lsp-dart-flutter-sdk-dir` `/home/user/flutter/bin/cache/dart-sdk`

[2020-05-15 08:57] zoechi commented on #16
I don't know why it worked once with `lsp-dart-sdk-dir` set to `nil`.
Now lsp won't start and instead suggest to install dart-analyzer.
Previously I updated the variables and executed `M-x` `lsp-workspace-restart` and closed/reopened the buffer but that doesn't seem to be enough.

[2020-05-15 12:40] ericdallo commented on #16
`lsp-dart-flutter-sdk-dir` should point to your flutter root: example `/home/user/flutter`
`lsp-dart-sdk-dir` should point ot your dart sdk root: example `/home/user/dart`

I'll add a info about these

[2020-05-15 12:49] ericdallo commented on #16
Updated the [Docs](https://emacs-lsp.github.io/lsp-dart/#supported-settings), if this is not working as described, could reply it?

[2020-05-18 12:38] zoechi opened #28 "How to open Dart Observatory from DAP"
**Describe the bug**
A clear and concise description of what the bug is.

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages and it is reproducible with the clean config(the config from the getting started page.

**To Reproduce**
{populate}

**Expected behavior**
{populate}

**Screenshots**
If applicable, add screenshots to help explain your

[2020-05-18 12:42] zoechi commented on #28
`lsp-dart-open-devtools` was what I was looking for.
I created this issue accidental when I pressed the wrong key when I tried to search.

[2020-05-18 12:42] #28 closed

[2020-05-18 13:24] l7ssha opened #29 "Abillity to view analyzer errors for whole project"
Hi, I was recently doing refactoring of my whole project according to new rules that I added to analyzer and currently it isn't possible to view all issue that analyzer is returning for project. It would be very convenient to have separate buffer or treemacs tab that could display all issue with current file and issue for whole project - it would speed up navigation to places where attention is ne

[2020-05-18 13:30] ericdallo commented on #29
@yyoncho may can confirm this, but I think `lsp-treemacs-errors-list` resolve you problem?

[2020-05-18 13:31] yyoncho commented on #29
yes.

[2020-05-18 13:53] ericdallo commented on #29
![image](https://user-images.githubusercontent.com/7820865/82221038-d4092500-98f5-11ea-9c04-aa4cd24516f8.png)

[2020-05-18 13:53] #29 closed

[2020-05-19 23:52] jpprime opened #30 "Error on lsp-dart-code-lens--build-main-overlay (wrong-type-argument hash-table-p nil)"
**Describe the bug**
When editing a Flutter project, whenever (this is what I assume) the code is verified for errors, and error is thrown.

**To Reproduce**
I suppose just open a Flutter project and do some editing that would trigger an error.

**Version**
`[LSP Dart] 1.11.1 (package: 20200518.1926) at 2020.05.19 @ Emacs `

**Logs**
 Here is the Emacs Lisp debugger trace:
[code]

[2020-05-20 00:53] ericdallo commented on #30
Thanks for the report!
Could you provide a dart class where this occurs?
Does this happen for every dart file on the project or only files with main methods?

[2020-05-20 03:08] jpprime commented on #30
It happens in any class. Although creating a dummy file called `test.dart` with only
[code]
as its contents, it happened when I deleted the all the text and when re inserting that text with and undo. But this error happens in any class, having `main` method or not.

[2020-05-20 13:26] ericdallo commented on #30
@jpprime, I was not able to reproduce the problem neither with Dart version from flutter 1.12.13 or 1.17.
What is the output of your `flutter --version`?
Would you mind providing a sample project?

[2020-05-20 20:20] jpprime commented on #30
I'm on Flutter version 1.17.1 on the stable channel and it behaves like that on any project. I've just now created a default project with `flutter create lsp_test` and I get this error.

[2020-05-20 20:30] ericdallo commented on #30
That's odd, I could not reproduce using flutter 1.17.1 and a new project with `flutter create`.
Maybe this could be something with your emacs?

[2020-05-20 20:38] ericdallo commented on #30
@jpprime just released a new version making a safe check for null notifications from server, could you try again with the `1.11.3` version?

[2020-05-20 20:40] ericdallo commented on #3
Closing this, we can reopen if the problem comes back

[2020-05-20 20:40] #3 closed

[2020-05-20 23:56] jpprime commented on #30
It could be. I'm on Emacs version `27.0.91` built today from the `emacs-27` branch of the Savannah Emacs repo.

It has been fixed. Thank you.

[2020-05-21 15:17] zoechi commented on #16
I somehow missed your response.
`(lsp-dart-get-sdk-dir)` and `(lsp-dart-get-flutter-sdk-dir)` both print the correct directory.

If I navigate (`lsp-find-definition`) to a core library type from within a Flutter project, it opens the file from the Flutter SDK. If I then navigate again from there, it opens a file from the Dart SDK which is wrong in my opinion. This doesn't seem to be 100% reproduci

[2020-05-22 15:27] ericdallo commented on #16
@zoechi I see the problem now, the problem is that when you enter in a file inside the dart SDK in Flutter SDK, `(lsp-dart-flutter-project-p)` returns false... I'll try to think on something to fix that.

About the `Invalid file path` message, this is a message sent by the dart SDK when you are analysing a external project, this happens to VSCode extension too with the `lsp-preview` flag enabled:

[2020-05-23 01:10] ericdallo commented on #16
I pushed a new release, `1.11.4`, which may fix your problem using the Dart SDK inside Flutter SDK when entering dart classes.

[2020-05-23 18:05] justinjk007 commented on #17
README still says to use the old variable `lsp-dart-sdk-dir`

[2020-05-23 19:41] ericdallo commented on #17
Yeah, I renamed back @justinjk007 and @liurnd, I think that `lsp-dart-sdk-dir` is a more friendly name.

[2020-05-23 20:43] justinjk007 commented on #17
Its a little bit annoying when you make config breaking changes like this so often.

[2020-05-23 21:35] ericdallo commented on #17
I know... It's just that I need to reorganize the project to keep the customizable variables the more friendly as possible, I do not pretend to change this again.

[2020-05-26 03:28] arashbi opened #32 "Invalid version syntax"
First of all, amazing job! I am really impressed by the features of this plugin. I am new to emacs, and lsp, so ...
**Describe the bug**
When I try `lsp-dart-show-outline`
I get
`Invalid version syntax: ‘2.9.05.0..4540`

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages and it is reproducible with the clean config(the config from the getting

[2020-05-26 12:33] ericdallo commented on #32
Thanks for the kind words and the report!
I'll take a look :)

[2020-05-26 13:29] ericdallo commented on #32
I just released a fix for the version check, could you please check if it works now @arashbi?

[2020-05-26 13:29] #32 closed

[2020-05-26 17:23] arashbi commented on #32
Great! it is fixed!

[2020-05-27 02:15] cassc opened #33 "dap-debug in flutter project not detecting real device"
**Describe the bug**

I tried `dap-debug`  - `Flutter -Debug`, it only listed emulators but not my connected phone.

I could see my connected phone with `flutter doctor` or Visual Studio.

**Version**
`[LSP Dart] 1.11.5 (package: 20200526.1328) at 2020.05.27 @ Emacs 26.3`

[2020-05-27 12:49] ericdallo commented on #33
I think real devices are not supported currently in debug in `lsp-dart` :pensive:
I'll take a look at how hard it is to make it work, thanks for the report!

[2020-05-28 00:56] ericdallo commented on #33
@cassc I just released a new tag `1.11.6` that checks for real devices when debugging/emulating, could you please test it?

[2020-05-28 00:56] #33 closed

[2020-05-28 05:23] cassc commented on #33
@ericdallo It's working, Thanks!

[2020-05-29 20:18] nrehm opened #34 "Feature not supported before dart SDK 2.8.0"
Currently when using lsp-dart-show-flutter-outline the error
Feature not supported before dart SDK 2.8.0
appears.

Dart VM version: 2.8.2 (stable) (Unknown timestamp) on "linux_x64"
[LSP Dart] 1.8.0 at 2020.05.29 @ Emacs 26.3 <- tested with 2.11 too same error.

Cant pinpoint why tested on Linux & MacOs

[2020-05-29 20:20] ericdallo commented on #34
Thanks for the report, I recently refactored that and I thought that I added some tests for it, I'll check it

[2020-05-29 20:21] ericdallo commented on #34
Could you test it again with an updated `lsp-dart` version? currently `lsp-dart` is on `1.11.7` version

[2020-05-29 20:24] nrehm commented on #34
[LSP Dart] 1.11.8 at 2020.05.29 @ Emacs 26.3
apply: Feature not supported before dart SDK 2.8.0

Can i somehow debug what dart version emacs sees?

[2020-05-29 20:28] ericdallo commented on #34
Yes, try <kbd>M-x</kbd> `(lsp-dart-get-sdk-dir)`

[2020-05-29 20:35] nrehm commented on #34
![image](https://user-images.githubusercontent.com/207529/83303038-afb61e00-a1fc-11ea-9ad2-93d8e6e99d55.png)

same with (lsp-dart-get-sdk-dir) running doom emacs

[2020-05-29 21:11] ericdallo commented on #34
sorry, I mean <kbd>M-x</kbd> `eval-expression` `(lsp-dart-get-sdk-dir) `

[2020-05-29 21:24] nrehm commented on #34
Symbol’s value as variable is void: lsp-dart-get-sdk-dir

[2020-05-29 21:33] nrehm commented on #34
(lsp-dart--get-version) returns 2.8.2 :

[2020-05-29 22:01] ericdallo commented on #34
That's odd, I reproduced a test for this exact behavior and could not reproduce that:

[lsp-dart-utils-test.el](https://github.com/emacs-lsp/lsp-dart/blob/master/test/lsp-dart-utils-test.el)
[code]

[2020-05-30 06:03] nrehm commented on #34
For some reason my installation does not see those two functions.

Debugger entered--Lisp error: (cl-assertion-failed ((string-prefix-p version (lsp-dart--get-dart-version)) "Feature not supported before dart SDK %s" "2.8.0" "2.8.2"))
  cl--assertion-failed((string-prefix-p version (lsp-dart--get-dart-version)) "Feature not supported before dart SDK %s" ("2.8.0" "2.8.2") nil)
  lsp-dart--assert-sd

[2020-05-30 12:59] ericdallo commented on #34
@nrehm Could you try to clean your `lsp-dart` byte-compiled files?
In doom-emacs, a `rm -r ~/.emacs.d/.local/straight/repos/lsp-dart` and a `doom sync` should fix, then restart Emacs and check if it happen again

[2020-05-30 14:29] nrehm commented on #34
Looks like i could clear it up.
The build directory for some reason did not setup correctly and incorrectly linked files.
Maybe through an older version of lsp-dart that currently gets pulled via doom sync.

Had to clear straight/build/lsp-dart and then refresh inside emacs.

Now emacs freezes when i try to wrap something :)

[2020-05-30 14:36] ericdallo commented on #34
Sorry, I didn't understand, the problem with `lsp-dart` was fixed?
I think for things like this you can try `doom build` and then restart emacs.

[2020-05-30 17:52] lybeen commented on #34
I encountered with the same problem, how to fix it ?

![image](https://user-images.githubusercontent.com/1678324/83335731-5542bd80-a2e1-11ea-8823-c428de71ee55.png)

seems i can not find the sdk dir

[2020-05-30 18:09] ericdallo commented on #34
you should run this command from a buffer of your project as said it [here](https://github.com/emacs-lsp/lsp-dart/issues/34#issuecomment-636194223).

[2020-05-30 18:10] nrehm commented on #34
@lybeen @ericdallo
Currently when installing lsp-dart via doom emacs it pulls in v1.8.0 from the pkg repository (melpa?)
The outline feature is not part of this release?

![image](https://user-images.githubusercontent.com/207529/83336168-8c00df80-a2b1-11ea-9c4f-46ac390ac585.png)

What fixed it for me is manually go into ~/.emacs.d/.local/straight/repos/lsp-dart
git pull origin master and then ~/.e

[2020-05-30 18:22] ericdallo commented on #34
Oh, doom-emacs in the package versions, I need to update the package version on doom-emacs, thanks for noticing it, I'll open a PR there.

[2020-05-30 18:26] lybeen commented on #34
![image](https://user-images.githubusercontent.com/1678324/83336453-18c59080-a2e6-11ea-9f40-622ee02eec80.png)
i eval from my project, it seems without this function

[2020-05-30 18:29] lybeen commented on #34
@nrehm  i use the Vanilla Emacs 😭

[2020-05-30 18:55] ericdallo commented on #34
@lybeen, this is a function, not a command so you need to run <kbd>M-x</kbd> `eval-expression` `(lsp-dart-get-sdk-dir)`

PS: I'm implementing to show the dart SDK version too when running `lsp-dart-version`

[2020-05-30 19:08] ericdallo commented on #34
@nrehm https://github.com/hlissner/doom-emacs/pull/3259

[2020-05-31 15:05] ericdallo commented on #34
I'm closing this as we updated the version on doom-emacs

[2020-05-31 15:05] #34 closed

[2020-06-02 20:59] jpprime commented on #30
Hi there, it's me again... I'm not having the exact same error, but it is pretty similar. This is the stack trace:
[code]
This also happens on `flycheck-buffer`. Should I open another issue?

[2020-06-02 21:03] jpprime commented on #30
Well, never mind, it appears it was an issue with `lsp-mode` itself and was already fixed on the newest version (wow, that was fast huh...).

[2020-06-02 21:03] #30 closed

[2020-06-02 21:03] yyoncho commented on #30
Delete ELC files in your elpa dir

[2020-06-26 13:10] ericdallo commented on #3
It seems to have a huge fix on that: https://github.com/dart-lang/sdk/issues/40026#issuecomment-650046508

[2020-06-26 16:25] gnumonk opened #37 "dap-debug for flutter is not running."
**Describe the bug**
While using dap-debug , following error is coming

Symbol’s function definition is void: lsp-make-flutter-daemon-command

**To Reproduce**
Install spacemacs, below are the configuration
 (dart :variables
           dart-backend 'lsp
           lsp-enable-on-type-formatting t
           )
lsp mode is working and there is no issue with lsp, when I use flutter-run, default device

[2020-06-26 18:14] ericdallo commented on #37
@gnumonk are you using the latest `lsp-mode` version?
If yes, make sure to remove all `.elc` files compiled and recompile again.

[2020-07-01 13:39] ericdallo commented on #38
@itome many things have changed after this issue was re-opened both in `lsp-mode` and `lsp-dart`, could you test if it's happening again with the latest version of everything?

[2020-07-02 03:59] gnumonk commented on #37
Thanks, With the latest version above issue is resolved.

[2020-07-02 03:59] #37 closed

[2020-07-03 13:09] gnumonk opened #39 "Emacs stuck with large files."
**Describe the bug**
While opening large file lsp-dart/emacs get stuck

**To Reproduce**
1) Create flutter project
2) Copy and Paste file in main.dart.
3) Try to import "import 'dart/ui'

**Expected behavior**
Emacs should not stuck and lsp dart should be able to handle multiple LSP connections.

**Version**
[LSP Dart] 1.12.6 (package: 20200630.2233) at 2020.07.03 @ Emacs 26.2
[Dart SDK] Dart VM v

[2020-07-03 13:12] gnumonk commented on #39
[backtrace.txt](https://github.com/emacs-lsp/lsp-dart/files/4869848/backtrace.txt)

[analyticspage_dart.txt](https://github.com/emacs-lsp/lsp-dart/files/4869857/analyticspage_dart.txt)

[2020-07-03 14:25] ericdallo commented on #39
@gnumonk Thanks for the report, it seems to be a bug with `lsp-dart-flutter-widget-guide-lines`, you can temporarily disable it with `(setq lsp-dart-flutter-widget-guides nil)`
Meanwhile, I'll investigate the bug

[2020-07-04 18:29] gnumonk opened #40 "dap-debug is not working with latest."
**Describe the bug**
dap-debug shows the "Flutter Debug" and along with devices which are available via flutter devices, but while selecting dep-debug through errors

string-match-p: Wrong type argument: stringp, (raise -0.24) [2 times]

**To Reproduce**
enable dap-debug and select "Flutter :: Debug"

**Expected behavior**
Should start process with the selected devices.

**Version**
[LSP Dart] 1.1

[2020-07-04 18:50] ericdallo commented on #39
The problem is not because of a huge file, it was a bug on the Flutter widget guide lines, it should be fixed on `lsp-dart` `1.12.7`, @gnumonk could you test it please?

[2020-07-04 18:50] #39 closed

[2020-07-04 20:04] ericdallo opened #41 "LSP server crashes when rename keeping the same name"
**Describe the bug**
When renaming a symbol using `lsp-rename` and keeping the same name, the server crashes and lsp mode prints `Server dart_analysis_server:23820 exited with status exit. Do you want to restart it? (y or n)`

**Version**
[code]

***lsp-log***
[code]

[2020-07-04 20:14] ericdallo commented on #40
@gnumonk could you provide the stack error with <kbd>M-x</kbd> `toggle-debug-on-error`?

[2020-07-05 12:25] gnumonk commented on #39
Nope, Fix is not working. Please find enclosed backtrace.

[backtrace.txt](https://github.com/emacs-lsp/lsp-dart/files/4874891/backtrace.txt)

[2020-07-05 14:06] ericdallo commented on #39
I think this could be some config in your emacs?
Your file works ok my emacs:
![image](https://user-images.githubusercontent.com/7820865/86534481-25be3c80-beaf-11ea-984f-a31685bad22e.png)

Please follow this debug template:

- [ ] Provide lsp-mode related package versions
:white_check_mark:  Provide the callstack when emacs locks up
- [ ] Make sure the issue reproduces with [lsp-start-plain.el](ht

[2020-07-06 13:45] gnumonk commented on #40
Please find enclosed.
[bt.txt](https://github.com/emacs-lsp/lsp-dart/files/4879273/bt.txt)

[2020-07-06 14:01] ericdallo commented on #39
@gnumonk, I was able to reproduce your problem with your file, now it seems to be a problem rendering the widget guides for a huge file, I'll need to try to improve the performance of the widget guides logic, if you want to work on that file without errors, temporary, you can `(setq lsp-dart-flutter-widget-guides nil)` or disabling `lsp-dart-flutter-widget-guides-mode`

[2020-07-06 14:06] ericdallo commented on #40
@gnumonk it seems to be a problem with `helm` after choosing the device.
@yyoncho, in the stacktrace, have you seen this problem with `dap-completing-read` and `helm`?

[2020-07-06 14:38] yyoncho commented on #40
This is the call that fails on helm:

[code]

I am not 100% this is valid call because the vanilla completing read does not work at all (or at least I was unable to make it work) because you cannot (or you cannot easily) type the completion.

What I suggest to test with the completion with ivy-mode off. If you can make it work, then it is helm bug otherwise it is lsp-dart bug. I suggest also to tr

[2020-07-06 14:41] yyoncho commented on #40
Ok, it works with vanilla by using C-n/C-p, then you should report in in helm repo.

[2020-07-06 15:39] ericdallo commented on #40
I tested it local with helm and seems to work too. I'm not sure what to say on the helm issue as it works on my emacs and vanilla, maybe you should open the issue @gnumonk ?

[2020-07-06 18:19] yyoncho commented on #40
reported this: https://github.com/emacs-helm/helm/issues/2335

[2020-07-06 18:58] ericdallo commented on #40
Thank you very much @yyoncho!

[2020-07-06 21:15] ericdallo commented on #40
@gnumonk it seems to [be fixed](https://github.com/emacs-helm/helm/issues/2335#issuecomment-654466053), can you test it again with latest helm version?

[2020-07-07 04:34] gnumonk commented on #40
Thanks, Let me check and get back.

[2020-07-07 05:54] itome commented on #38
I don't know what was the cause of bug but it seems solved. Thanks!

[2020-07-07 05:54] #38 closed

[2020-07-07 16:28] gnumonk commented on #40
It's working with the latest helm. Closing this bug now.

[2020-07-07 16:28] #40 closed

[2020-07-13 05:23] shivahnshankar opened #43 "dap-dart-setup not working?"
**Describe the bug**
When i run dap-dart-setup, nothing happens. And i am not able to run devtools. However, i am able to start flutter debug and run the app using flutter-run.

**Version**
[LSP Dart] 1.12.4 at 2020.07.13 @ Emacs 27.0.91
[Dart SDK] Dart VM version: 2.8.4 (stable) (Wed Jun 3 12:26:04 2020 +0200) on "macos_x64"

node and npm are available in exec-path. I am running this in the lates

[2020-07-13 13:51] ericdallo commented on #43
Thanks for the report @shivahnshankar, could test on latest release and removing ` ~/.emacs.d/.local/etc/dap-extension/github/Dart-Code.Dart-Code/` then running `dap-dart-setup` again ?

[2020-07-13 15:57] shivahnshankar commented on #43
Interesting, there is no dap-extension folder under DOOMDIR/.local/etc. Could this be related to this?
[https://github.com/hlissner/doom-emacs/issues/3103](https://github.com/hlissner/doom-emacs/issues/3103). Checking...

[2020-07-13 16:01] ericdallo commented on #43
Probably, `dap-dart-setup` did not run successfully or something like that

[2020-07-14 20:28] ericdallo commented on #43
Any news on that @shivahnshankar?

[2020-07-15 03:47] liurnd opened #44 "Laggy while inputting if the flutter SDK is not specified"
**Describe the bug**
If the flutter SDK path is not specified, the normal input will be really laggy.

**To Reproduce**
+ Do not set lsp-dart-flutter-sdk-dir
+ Type normally in dart buffer.
Observed that the typing is laggy.

**Expected behavior**
Normal typing should be smooth

**Version**
[LSP Dart] 1.13.0 at 2020.07.15 @ Emacs 28.0.50

**PS**
Here's the screenshot of the CPU profiling
![Screen

[2020-07-15 12:40] ericdallo commented on #44
Thank you for the report!
I see the problem, we should cache the analyzer status per buffer, I'll fix that

[2020-07-15 13:50] ericdallo commented on #44
@liurnd Fixed on [1.13.1](https://github.com/emacs-lsp/lsp-dart/releases/tag/1.13.1) release, if you could confirm it would be great, thank you!

[2020-07-15 13:50] #44 closed

[2020-07-18 12:58] gnumonk commented on #39
Any update on this?

[2020-07-18 17:01] ericdallo commented on #39
@gnumonk, I tested and the same behavior happens with VSCode, the problem is handling too many widget guides because of the huge file, in `lsp-dart`, it happens a `max-lisp-eval-depth`, I don't know how to improve that :/

You can disable that via `(setq lsp-dart-flutter-widget-guides nil)` or disabling `lsp-dart-flutter-widget-guides-mode`.

[2020-07-18 17:38] yyoncho commented on #39
@ericdallo you can try to show widget guides only for the visible part of the buffer

[2020-07-18 17:55] ericdallo commented on #39
This probably would help a lot, do you know how can I achieve that @yyoncho ?

[2020-07-18 18:09] yyoncho commented on #39
We do that for lenses in lsp-mode.el - We track what is visible and update the lenses when the visible part of the screen has changed.

[2020-07-18 18:25] ericdallo commented on #39
Looks good, I'll try to learn from it, thank you!

[2020-07-18 22:06] ericdallo commented on #39
@gnumonk I found a bug on the iteration of the widget guide lines build, I fixed it and the error does not happen anymore with your file, you can test it on `lsp-dart 1.13.3`.

@yyoncho I implemented the guide lines by window range, but I left in [this branch](https://github.com/emacs-lsp/lsp-dart/tree/widget-guides-only-on-window-range), I didn't pushed to master as the feature only show after `l

[2020-07-21 05:03] gnumonk commented on #39
Thanks, @yyoncho, and @ericdallo for continuous effort.

[2020-07-24 14:10] shivahnshankar commented on #43
Was away for a while sorry. Will check and revert.

[2020-07-24 14:17] shivahnshankar opened #45 "How to access Flutter console?"
Hi
In my flutter program, i have print statements that i use for debugging. Where does this output go?
Would appreciate if you could send me a pointer to existing documentation if any.
Thanks

[2020-07-24 14:21] shivahnshankar commented on #45
There is the "DEBUG CONSOLE" in VS Code where the print output messages appear.

[2020-07-24 14:24] ericdallo commented on #45
I think you seek for `dap-ui-show-many-windows`, but normally you don't need to manually open that, if `dap-mode-auto-configure` is enabled, it will open the default debug windows

@shivahnshankar `lsp-dart` uses [dap-mode](https://emacs-lsp.github.io/dap-mode/) for debugging features, you can find the documentation there and if it's missing something feel free to open an issue/PR and we will cert

[2020-07-24 14:29] ericdallo commented on #45
@shivahnshankar I think `dap-go-to-output-buffer` should do the trick

[2020-07-26 08:58] akirak opened #46 "Reference to obsolete `lsp--buffer-for-file` function"
**Describe the bug**
Several files contain references to `lsp--buffer-for-file` function, which was removed in this commit: https://github.com/emacs-lsp/lsp-mode/pull/1824/files

**To Reproduce**
Run `batch-byte-compile` on the source files against the latest version of `lsp` package:

[code]

The following error message is produced on several files:

**Expected behavior**
No byte-compilation erro

[2020-07-26 13:34] ericdallo commented on #46
@akirak this was already fixed on master a few releases ago, could you check your lsp-dart version? The latest is 1.13.3

[2020-07-26 13:34] #46 closed

[2020-07-26 14:59] akirak commented on #46
I see. Thanks.

[2020-07-29 22:24] #45 closed

[2020-07-29 22:24] ericdallo commented on #43
Any news @shivahnshankar

[2020-08-02 08:22] oatmealm commented on #17
Where should this variable pointing for a Dart SDK that's part of a flutter SDK installation? I'm seeing this message when opening dart files. I did not install dart separately. Every thing else seems to work, including hover, so I'm assuming the basic configuration for the SDK locations (Android and Flutter) are correct.

[2020-08-02 08:24] oatmealm commented on #17
Sorry, assuming it's bin/cache/dart-sdk...

[2020-08-02 14:11] ericdallo commented on #17
@oatmealm currently, in a flutter project, if you have `flutter` command in your `PATH` env, everything should work, if you don't have it, you only need to set `lsp-dart-flutter-sdk-dir` pointing to the `flutter` root dir, after that, `lsp-dart` will automatically pickup the dart-sdk built-in in flutter `bin/cached-dart-sdk` dir.

[2020-08-05 07:40] zoechi opened #47 "Lots of errors make Emacs unresponsive"
**Describe the bug**
When I open certain Dart files, I guess it's mostly when I open files from the SDK, but also sometimes when I open files from other projects, CPU usage goes up and Emacs becomes unresponsive
and the LSP errors count in the modeline keeps growing (up to 230000/4200 the last time)

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa

[2020-08-05 08:02] yyoncho commented on #47
Please provide a performance report.

[2020-08-05 09:17] zoechi opened #48 "Lots of `Invalid face reference: lsp-lens-face [8 times]`"
@yyoncho suggested to execute `(require 'lsp-lens)
which seems to have fixed it.

He meant that this should be fixed in lsp-dart.

[2020-08-05 12:56] ericdallo commented on #48
Sorry, We are segregating lsp-mode features into multiple files and I forgot to update lsp-dart to require that new file, thank you for the report!
Fixed on `lsp-dart` `1.13.5`

[2020-08-05 12:56] #48 closed

[2020-08-05 12:58] ericdallo commented on #47
I think the errors were related to this? https://github.com/emacs-lsp/lsp-dart/issues/48
Can you provide a performance report following this: https://github.com/emacs-lsp/lsp-dart/issues/48?

[2020-08-05 12:59] ericdallo commented on #41
Fixed on dart sdk: https://github.com/dart-lang/sdk/issues/42573#issuecomment-667942367

[2020-08-05 12:59] #41 closed

[2020-08-07 02:31] #43 closed

[2020-08-11 05:10] zoechi opened #49 "allow to update an outdated dart-code"
`dap-dart-setup` doesn't seem to do anything if the `.extension/github/Dart-Code.Dart-Code` directory already exists.
A way to update would be helpful.
Like checking for a new version, delete the directory and run `dap-dart-setup` again.

Currently I delete the directory manually ocassionally and run `dap-dart-setup` again.

[2020-08-11 13:21] yyoncho commented on #49
It is not harder. We could attack this problem on a larger scale - e. g. move the code that downloads the dap adapters in lsp-mode, integrates it with lsp-install-server which has prefix argument, etc.

[2020-08-11 19:07] zoechi commented on #47
I updated all packages again today and the issue seems to be solved.
I still wonder why I get do much errors when I open a file from the Flutter SDK, but it doesn't seem to affect performance.

[2020-08-11 19:07] #47 closed

[2020-08-12 09:36] giodevcoding opened #50 "[LSP Dart] Dart command not found in path"
I have been trying to get lsp-dart working in Emacs, but I keep running into this error:

`Command "[LSP Dart] Dart command not found in path ’c:/flutter/bin/cache/dart-sdk/bin/dart’ c:/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot --lsp --client-id emacs.lsp-dart --client-version 1.14.3 (package: 20200811.1515)" is not present on the path.`

`Command "[LSP Dart] Dart comm

[2020-08-12 12:59] ericdallo commented on #50
Hey @giodevcoding, thank you for the report, I think the problem is because `lsp-dart` expect that you dart/flutter/pub executbles do not have the `.exe`, we can fix that, but could you help providing the output of <kbd>M-x</kbd> `(list (executable-find "dart") (executable-find "pub") (executable-find "flutter"))` ?

[2020-08-12 15:18] ericdallo commented on #50
@giodevcoding I also released a new version that may fix your issue, `1.14.4`, could you test it later too?

[2020-08-12 16:19] giodevcoding commented on #50
Thanks Eric! I decided to just try to see if the update fixed the issue, and it did! Everything seems to be working smoothly now! Thanks so much for your quick response!

[2020-08-12 16:19] #50 closed

[2020-08-12 16:45] ericdallo commented on #50
Great :)
You're welcome!

[2020-08-13 15:54] zoechi opened #51 "dap-mode does not show object content"
**Describe the bug**
When debugging in Dart, the
Locals and Expressions windows
do not show details of objects when expanded

Expanding collections (List, Map) do work,
but for objects no further information is shown.

VSCode shows all fields with their values.
For example `hashCode` and `runtimeType` should be available for all objects.

**Note**
Before logging the bug please make sure that the i

[2020-08-13 16:05] ericdallo commented on #51
@yyoncho do you think it's a bug how dap handles the object variable?

[2020-08-13 16:30] yyoncho commented on #51
I think this is a configuration setting which is most likely not sent to debug adapter. But I am not sure if it is on dap-mode level or on dap-dart level.

[2020-08-13 16:41] ericdallo commented on #51
Yeah, [these](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L133-L143) are all the configuration settings used as default on `lsp-dart`, Maybe we should check the vscode extension if it add some new params

[2020-08-13 16:55] rafamedina opened #52 "Sometimes dap-debug not work"
**Describe the bug**
It's random, but sometimes `dap-debug` shows an error:

`dap-dart-setup` no problems
[code]

[code]

Maybe am I missing a setting?

[2020-08-13 17:01] ericdallo commented on #52
This is a bug in `dap-mode` with the latest release of the launch.json feature, do you mind opening a PR there and linking to this?

[2020-08-13 17:57] ericdallo commented on #52
Fixed on dap-mode, thanks for the report!

[2020-08-13 17:57] #52 closed

[2020-08-13 18:06] volskaya opened #53 "Allow specifying line length"
Other code editors allow to specify line length for the formatter. Could you implement [that](https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md#client-workspace-configuration) into lsp-dart as well?

[2020-08-13 18:24] ericdallo commented on #53
I think this is an option passed to the dart SDK on the LSP serer initialization, I'll confirm that, thank you!

[2020-08-14 01:54] ericdallo commented on #51
@zoechi I added some new args to the dart debugger and I compared with the vscode dart extension debugger too, could you check if the latest `lsp-dart` fixes the problem? otherwise, this could be a `dap-mode` issue.

[2020-08-14 02:06] ericdallo commented on #53
Hey @volskaya, I checked it and the dart SDK server currently does not has this support yet, It seems that VSCode has this because it uses another deprecated analyzer from DartSDK that has that

Anyway, I [opened an issue](https://github.com/dart-lang/sdk/issues/43043) on Dart SDK to see if this can be implemented.

[2020-08-14 13:56] zoechi commented on #51
Currently debugging does not work at all.
When I click the code lense `Debug` then it seems to start debugging but it never hits the breakpoint

The `*Messages*` window shows
[code]

The `Flutter Tests` window shows
[code]
with `...` being expected `print()` output from the test
I can't remember seeing this `This breaks the various reporter contracts.` but it could just be just my memory ;-)

[2020-08-14 13:58] ericdallo commented on #51
@zoechi Could you confirm your `lsp-dart-version`?

[2020-08-14 14:05] ericdallo commented on #51
Also, I found another corner case which lsp-dart was not implementing some notification handlers for dap, I fixed in the `1.14.6` release

[2020-08-14 14:37] zoechi commented on #51
[code]
Ok, I'll try again.

[2020-08-14 14:43] zoechi commented on #51
Looks the similar in 1.14.6
[code]
I didn't see the `No message handler for dart....` lines though this time

[2020-08-14 14:46] ericdallo commented on #51
Ok, this is another bug so, could you `toggle-debug-on-error` and paste the output please?

[2020-08-14 14:47] zoechi commented on #51
Seems to be an issue when a breakpoint is hit.
The debug toolbar is shown and I can continue and then the test I tried to debug completes just fine.
It's just the the windows that would show Locals and Expressions do not show up.
Even the dot indicating the breakpoint changes color.

[code]

[2020-08-14 14:51] zoechi commented on #51
I disabled doom-modeline. Now I get
[code]

[2020-08-14 14:56] zoechi commented on #51
A question on the side.
Do you use some Elisp formatting script or do you format it manually?

[2020-08-14 15:07] ericdallo commented on #51
This seems to be a bug on `lsp-ui` `doc` feature, @yyoncho could you help confirming that?

@zoechi I just use emacs for formatting elisp

[2020-08-14 19:36] Comevius opened #54 "Can't start analysis server since Dart 2.9.1, but it's present on the path"
For some reason lsp-dart can't start analysis_server.dart.snapshot despite confirming that it is present on the path.

`Command "/home/comevius/flutter/bin/cache/dart-sdk/bin/dart /home/comevius/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot --lsp --client-id emacs.lsp-dart --client-version 1.14.6" is present on the path.`

`Error: Error when reading '../../flutter/bin/snap

[2020-08-14 19:55] ericdallo commented on #54
Thanks for the report, I'll take a look if the dart SDK changed something related to that

[2020-08-14 21:02] ericdallo commented on #54
Odd, I tested it with the latest flutter stable and everything seems to work fine with `lsp-dart`:
[code]

[2020-08-14 21:07] ericdallo commented on #54
Maybe this could be some lsp-mode bug?
Could you test the latest lsp-mode bug and byte-compile the package again?

[2020-08-15 01:03] Comevius commented on #54
@ericdallo

Can't reproduce this on a virtual machine, not even after I copy over my entire home directory, however I can't avoid it on my own machine even with a new home directory and empty Emacs configuration.

If the project only have a single `lib/main.dart` and I delete `.lsp-session-v1` I can get the server started, however lsp-mode only works until I close the buffer, then I get these kind

[2020-08-15 14:06] Comevius commented on #54
@ericdallo

Finally managed to reproduce this on a virtual machine running Arch Linux.

It is caused by rebinding lsp-command-map when lsp-keymap-prefix is also set.

[code]

[code]

If you don't select the directory where pubspec.yaml is in as a root directory or there are more than one Dart files in the project lsp-mode stops working after the first find-file, otherwise it stops working after th

[2020-08-15 14:10] zoechi commented on #51
I updated everything again and now debugging is working fine again and
also object properties are shown.
This is now an incredible development experience!
Thank you for this great work!

This part is still true

as text in the minibuffer prompt `Add watch expression: nil` which needs to be deleted manually

[2020-08-15 14:31] ericdallo commented on #54
This is very strange indeed, I don't see how a keymap could affect that.
@yyoncho do you have any ideas why this happens?

[2020-08-15 14:34] ericdallo commented on #51
Glad to hear that @zoechi :)
About the `dap-ui-expression`, I think this is a `dap-mode` bug, could you open an issue there so we can see more people's opinions?

[2020-08-15 14:35] #51 closed

[2020-08-15 14:50] Comevius commented on #54
Some additional error messages from the Messages buffer:

[code]

[code]

[2020-08-15 17:23] yyoncho commented on #54
I got some trouble trying to create minimal example with lsp-keymap-prefix. I think that having the setq on top level instead of being in setq works.

[2020-08-25 11:54] shivahnshankar commented on #45
Yes that did give the print statements output. Belated Thanks!

[2020-08-26 13:29] DanTup opened #55 "Upcoming Dart-Code Debug Adapter changes"
I noticed you're using the DAP debug adapter from Dart-Code:

https://github.com/emacs-lsp/lsp-dart/blob/437c548d411c9e166b7c658fd45294775235fd5f/lsp-dart-dap.el#L44

As a heads up, there are some changes landed in the repo that will be included in the latest release. We're starting to run the DAPs out-of-process again from VS Code, and as part of that we now have a single DAP entry point that is

[2020-08-26 13:53] ericdallo commented on #55
Thank you very much for bringing this to me @DanTup!
Every time I bump the debugger version, I need to deep in the DartCode extension code to see what has changed, this will help a lot :)

[2020-08-26 14:07] ericdallo commented on #53
@volskaya, It's lsp-dart fault, I'll try to release a new version supporting this today!

[2020-08-26 16:51] ericdallo commented on #53
Added support for that on `lsp-dart` `1.15.0`, note that this is only supported after `Dart SDK` `2.10`: https://github.com/dart-lang/sdk/commit/ba459f96cfe020e8d6b01f527959e5e1bb900508

[2020-08-26 16:51] #53 closed

[2020-08-27 10:21] shivahnshankar opened #56 "Auto Hot reload on save"
Hi
Having the hot reload and hot restart commands is wonderful! Is there an easy way to setup hot reload on every save of the active project files?

[2020-08-27 13:08] ericdallo commented on #56
Thank you!
You mean during the debug, right?
Currently no, as no one asked that feature before, but I think it can be implemented :)

[2020-08-27 17:12] shivahnshankar commented on #56
Yes during debug..thanks

[2020-08-27 17:32] ericdallo commented on #56
Ok, I'll try to offer a minor-mode that when saving buffer it hot-reloads the code

[2020-08-28 01:06] ericdallo commented on #56
Hey @shivahnshankar, that was implemented on latest `lsp-dart`, `1.15.1`.
You can enable via:
[code]
Thank you!

[2020-08-28 01:06] #56 closed

[2020-08-28 01:11] ericdallo commented on #54
@Comevius did you try @yyoncho's suggestion :point_up: ?

[2020-09-08 12:58] DanTup commented on #12
This might be the same issue shown here:

https://github.com/Dart-Code/Dart-Code/issues/2286#issuecomment-658597532

Which should be fixed by:

https://dart-review.googlesource.com/c/sdk/+/154960/

[2020-09-08 13:02] ericdallo commented on #12
Thanks, @DanTup, I'll try to reproduce the issue with the fix...

[2020-09-08 15:52] ericdallo commented on #12
I could confirm that this is fixed on the latest SDK: http://gsdview.appspot.com/dart-archive/channels/be/raw/latest/sdk/
Thank you very much @DanTup!

[2020-09-08 15:52] #12 closed

[2020-09-09 18:24] repelliuss opened #59 "Invalid file path (Unknown error) and dart-sdk search path"
**Describe the bug**
`lsp-dart` doesn't pick the dart-sdk path from `$PATH` variable. It seems that *alternatively* it should. I have `.../flutter/bin` in my `$PATH` variable. Also in Doom Emacs, setting `flutter-sdk-path` neither `lsp-dart-flutter-sdk-dir` to `.../flutter` have an effect.

Setting `lsp-dart-sdk-dir` to `.../flutter/bin/cache/dart-sdk` seems to resolve this issue but returns `LSP

[2020-09-10 00:09] ericdallo commented on #59
@repelliuss unfortunately I was not able to reproduce your issue.

 I switched to flutter stable version and tested pointing `lsp-dart-flutter-sdk-dir` to my downloaded flutter `~/flutter` and everything worked as expected.

Also, `flutter-sdk-path` is not from `lsp-dart` it's from `flutter.el` and the correct path to the analyser server that `lsp-dart` automatically find it's `flutter/bind/cache/

[2020-09-10 01:52] repelliuss commented on #59
I took these logs/screenshot after I set `lsp-dart-sdk-dir` and it seems to be finding them correctly as you said but I was still getting that `Invalid file path` error.

I expect `lsp-dart-flutter-sdk-dir` to be working as you described but it doesn't have any effect. I run the commands and byte-compiled them again but issue still persists.

[Here I show you the value of `lsp-dart-flutter-sdk-dir

[2020-09-10 02:00] ericdallo commented on #59
are you sure `lsp-dart-flutter-sdk-dir` should be `~/workspace/bin/flutter`? shouldn't be `~/workspace`? remember that it should point to the flutter dir, not to the flutter executable

[2020-09-10 02:05] repelliuss commented on #59
[Nope, the path is correct](https://i.imgur.com/Q9JLBF1.png)

I didn't get which specific file you were asking me to check though

[2020-09-10 03:49] repelliuss commented on #59
So I was testing with this just one plain dart file but now created flutter project with `flutter create ...` and now it correctly finds dart-sdk and analysis_server via `lsp-dart-flutter-sdk-dir`. Very sorry about that, I'm just starting to Flutter.

But still there was one more thing,
`*dart_analysis_server::stderr*`
[code]
I was having this error and I did a workaround with creating a symlink o

[2020-09-10 12:59] ericdallo commented on #59
I see, no problem, it's weird that it is not finding the `analysis_server.dart.snapshot`... do you have the correct path for it? it is `<you-flutter-dir>/bin/snapshots/analysis_server.dart.snapshot`?

[2020-09-10 16:06] ericdallo commented on #59
Flutter should have this file, make sure you downloaded the stable version from flutter webpage.
For flutter projects, just setting `lsp-dart-flutter-sdk-dir` is enough and for dart projects `lsp-dart-sdk-dir` is enough.

For performance check if everything it's okay with `lsp-doctor`

[2020-09-10 17:35] repelliuss commented on #59
I tried downloading the fixed version as well as cloning the stable branch but both don't contain the `<my-flutter-dir>/bin/snapshots/analysis_server.dart.snapshot`. We are talking about here right?
![image](https://user-images.githubusercontent.com/53377661/92773101-f9d6a000-f3a4-11ea-8d7d-0ae9d5a7fb88.png)

There is one under `<my-flutter-dir>/bin/cache/dart-sdk/bin/snapshots/` but `<my-flutter-

[2020-09-10 18:18] ericdallo commented on #59
Sorry if I misunderstood, but the correct path is `<my-flutter-dir>/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot` not `<my-flutter-dir>/bin/snapshots/analysis_server.dart.snapshot`. if your emacs/flutter is not trying to search the former, then we need to debug that.

[2020-09-10 19:41] repelliuss commented on #59
Well, interestingly my final issue solved on its own or re-downloading the Flutter SDK had an effect. LSP starts correctly as it should right now

Thanks @ericdallo for sparing your time

[2020-09-10 19:41] #59 closed

[2020-09-14 17:10] repelliuss opened #61 "Too Low Performance"
**Describe the bug**
Performance is considerably slow on some(?) files.

 Note: I also use `lsp-pyright`, `ccls with lsp-mode` and there is no problem with these.

`*lsp-log*`, taken after video below
[code]

**To Reproduce**
1- `flutter create myApp`
2- Open `myApp/lib/main.dart`
3- Select project root as `myApp/`
4- and edit things

[Also a video here. I run a profiler too.](https://youtu.be/wdP

[2020-09-14 17:17] yyoncho commented on #61
As you can see from the profiler the majority of the time goes into logging which should not be on when performing profiling. Set lsp-print-io to nil and provide a perf report.

[2020-09-14 17:25] ericdallo commented on #61
Thanks for the report @repelliuss, @yyoncho is right, could you provide the profile content too via some file or pastebin?

[2020-09-14 19:09] repelliuss commented on #61
Sorry, I forgot it on. Now I also set `lsp-print-performance` to `t`. I couldn't find a way to expand all of the profiler report though.
[CPU Profiler](https://pastebin.com/AMzmcfzy)
[Memory Profiler](https://pastebin.com/G3YThGfe)

[2020-09-14 21:33] repelliuss commented on #61
I guess I found the cause of the issue.

Having this
[code]
in my `config.el` is what causes the issue. If you look closely to the modeline in the video, you can see that there is an `E in a square` which should be a proper Dart icon normally.

Are you able to reproduce the issue with this?

@ericdallo I know you are the maintainer of `lang/dart` module in Doom Emacs so would you want to fix this

[2020-09-14 23:58] ericdallo commented on #61
Thanks for the hard try @repelliuss.
I don't see anything relevant in the profiler.

I could not reproduce that on doom-emacs but AFAIK this happens when you don't have installed `all-the-icons` correctly in your system/emacs. As this is a issue specific with doom-modeline, I think there's nothing we can do on the doom/dart module as disabling `doom-modeline-major-mode-icon` may affect user UX for

[2020-09-15 00:43] repelliuss commented on #61
I have `all-the-icons` installed. I thought without `lsp-mode`, there was no issue but now I tried it and issue persists so I understood that it wasn't related to `lsp-dart` at all.

I tried `+light` but it basically broke Doom and that's another issue to be solved 😁.  I'll open a doom-modeline bug sometime and refer this maybe.

Thanks again for helping my own little issues as well as maintaining

[2020-09-15 00:43] #61 closed

[2020-09-15 00:52] ericdallo commented on #61
Thank you, you're welcome ;)

[2020-09-15 07:23] zoechi opened #62 "Can not open devtools"
**Describe the bug**
Start debugging a flutter app
`M-x` `lsp-dart-open-devtools` causes
[code]

**Note**

**To Reproduce**
{populate}

**Expected behavior**
{populate}

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
[code]

[2020-09-15 12:32] ericdallo commented on #62
Thanks for the report!
I'll take a look, are you using which version of the debugger?

[2020-09-15 19:45] zoechi commented on #62
Right, I forgot to update the VSCode plugin. I'll check that tomorrow and post the results.

[2020-09-15 21:50] ericdallo commented on #62
BTW, I know that the vscode plugin version 3.14 will fail with lsp-dart, so it's in my TODO fix that integration: https://github.com/emacs-lsp/lsp-dart/issues/55

[2020-09-16 11:29] zoechi commented on #62
I updated. It installed 3.13.2 and this seems to have fixed it.
Thanks a lot!

[2020-09-16 11:29] #62 closed

[2020-09-17 01:45] #55 closed

[2020-09-17 01:45] ericdallo commented on #55
Thanks for the heads up @DanTup

[2020-09-17 01:58] aemoncannon opened #65 "LSP only connects for one buffer"
**Describe the bug**

The first buffer I open connects to the analyzer and everything works great.

Any subsequent file I open the connection fails. I get this printed to *Messages*:
"Error running timer ‘lsp--on-idle’: (error "The connected server(s) does not support method textDocument/documentHighlight.
To find out what capabilities support your server use ‘M-x lsp-describe-session’
and expand

[2020-09-17 01:58] ericdallo commented on #62
@zoechi just bumped the debugger to latest vscode version :)

[2020-09-17 03:53] ericdallo commented on #65
You probably didn't imported correctly your project to lsp, take a look if `lsp-describe-session` is correct, also you can add your project with `lsp-workspace-folders-add`.

When you open your project for the first time, lsp asks something like this:
![image](https://user-images.githubusercontent.com/7820865/93418165-1fb9e400-f880-11ea-81f9-a2f67f8464da.png)
Choose the `i` option if the path is r

[2020-09-18 02:48] chenyangguang opened #66 "Can't install lsp-dart by package-install in Emacs"
Use  helm-M-x-execute-command to install lsp-dart. But failed.
Error: https://melpa.org/packages/posframe-20200814.526.el: Not Found.

[2020-09-18 02:53] ericdallo commented on #66
Hi, it seems some issue with posframe package, a lsp-mode dependency, not being available in MELPA, @yyoncho do you know why this happens?

[2020-09-18 07:43] yyoncho commented on #66
M-x package-refresh-contents

[2020-09-19 03:08] aemoncannon commented on #65
Ok, I think I figured it out. I hadn't set the value of lsp-dart-flutter-sdk-dir, so it was searching for it in /usr/bin/flutter and failing to initialize properly. Once I fixed this, the other buffers now get a workplace properly. Thanks

[2020-09-19 10:37] #54 closed

[2020-09-19 10:41] Comevius commented on #54
Closed this, because the workarounds fixed the issue.

The issue can still be reproduced with use-package configuration above, so someone might want to look into what's going on.

[2020-09-19 14:46] ericdallo commented on #65
Nice :)

[2020-09-19 14:46] #65 closed

[2020-09-23 01:55] ericdallo commented on #66
@chenyangguang  Did you try yyoncho's suggestion?

[2020-09-23 06:16] chenyangguang commented on #66
@ericdallo After refresh-contents done . It seems stop by Contacting host: melpa.org:443.

[2020-09-23 12:21] #66 closed

[2020-09-24 07:05] zoechi opened #68 "dap-debug in Flutter project should only list running devices to chose from"
**Describe the bug**
When I execute `dap-debug` I get asked for a debug template and then for a device to run the app on.

It always lists my real device, the one which I actually want to use
and some emulator that is defined somewhere (I guess I run `flutter emulators --create` at some point).

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packa

[2020-09-24 12:19] ericdallo commented on #68
We can improve to use the only available emulator/device when there is only one.
But I didn't understand the original issue, is lsp-dart showing emulator/devices that are not connected?

[2020-09-24 18:32] zoechi commented on #68
Yes, it shows an emulator that was created with `flutter emulators` some time ago,  but the emulator is not running.

[2020-09-24 19:02] ericdallo commented on #68
I see, this should be a bug where lsp-dart is not clearing the emulators variable, I'll try to take a look soon :)

[2020-09-25 14:26] shivahnshankar opened #69 "When will the latest versions be available in Doom Emacs?"
I have 1.15.1 from the latest version of Doom Emacs develop branch. Cant wait to try out the latest features that you have added 👍

[2020-09-25 14:54] ericdallo commented on #69
You can try to ping doom-emacs maintainer on this issue :)
https://github.com/hlissner/doom-emacs/pull/3954

[2020-09-27 15:53] ericdallo commented on #68
@zoechi, this behaviour is something that I saw on VScode and maybe should keep as it is(maybe add some customizable variable) where `lsp-dart` starts the flutter process and listen to what devices and emulators are available, if user chooses an emulator, `lsp-dart` will automatically start that emulator and debug the code through it.

I see some possible solutions:
* Create a variable `lsp-dart-d

[2020-09-27 20:38] zoechi commented on #68
I'd prefer the former. I want to create/delete/modify emulator specifications using the `flutter emulators` command for various use cases but do not want to be bothered with them every time I run or debug.

Perhaps a `flutter emulators run` command might be helpful for scripting to ensure it runs before run/debug starts, but no priority for me.

A way to pass one or more device names to the run/de

[2020-10-01 13:17] zoechi commented on #68
I found https://github.com/flutter/flutter/issues/30724#issuecomment-480985603 which looks related.
It seems lsp-dart always uses getEmulators, not only when no available devices were found.

[2020-10-01 13:44] ericdallo commented on #68
I see, so you think `lsp-dart` should only try to get emulators if a real device is not connected?

[2020-10-01 18:59] zoechi commented on #68
Yes.
Only available devices should be listed - like returned from "flutter devices"

[2020-10-04 21:00] shackra opened #70 "Eager macro-expansion failure: (wrong-number-of-arguments (3 . 4) 5)"
**Describe the bug**
There is an error when initializing Emacs

[code]

**To Reproduce**
Install the package using `use-package` and `straight.el` (this will pull the latest commit from this repo, which is c1ff5cec6adfdf41d1a0e18c89869304ebb2bcb6):

[code]

Restart Emacs and voilà!

**Expected behavior**
to initialize smoothly.

**Screenshots**
If applicable, add screenshots to help explain your p

[2020-10-04 21:06] ericdallo commented on #70
You probably have a outdated version of `dap-mode`, could you try to update `dap-mode` too?

[2020-10-04 21:19] shackra commented on #70
I've pulled `dap-mode` and Co. Still the same.

- lsp-dart: c1ff5cec6adfdf41d1a0e18c89869304ebb2bcb6
- lsp-mode: https://github.com/emacs-lsp/lsp-mode/commit/9a79593e8a4efd1b07e6503fc646df726eeb66b6
- dap-mode: I do notice that is on a commit from Aug 7 despite the pull and rebuild https://github.com/emacs-lsp/dap-mode/commit/5b019b20f6552922319d101d02cf63534cfe5164

maybe a manual intervention is

[2020-10-04 21:20] shackra commented on #70
Ah, I see:

[code]

[2020-10-04 21:20] #70 closed

[2020-10-06 01:10] ericdallo commented on #69
The PR was merged :tada:

[2020-10-06 01:10] #69 closed

[2020-10-06 13:36] AllenDang opened #71 "Cannot start dart_analysis_server with error "Could not find an option named lsp""
**Describe the bug**
I'm using newest version of Doom with gccemacs.
After open a flutter project, I noticed that in *lsp-log* buffer
`Command "/Users/allendang/SDK/flutter/bin/cache/dart-sdk/bin/dart /Users/allendang/SDK/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot --lsp --client-id emacs.lsp-dart --client-version 1.17.6" is present on the path.`

But in *dart_analysis_s

[2020-10-06 14:20] ericdallo commented on #71
Hey, thanks for the report, but I use doom-emacs with gccemacs too and could not reproduce that :thinking:
Could you try to run this command from your flutter sdk directory:
[code]
If it stucks like the image below, it's because it connected successfully
![image](https://user-images.githubusercontent.com/7820865/95213998-cfbaa700-07c5-11eb-9775-8669f77d33b5.png)

[2020-10-06 14:21] ericdallo commented on #71
Also, make sure your flutter SDK is correct/updated, I'd try to download again the flutter SDK

[2020-10-07 03:47] AllenDang commented on #71
@ericdallo If I run the command in sdk directory, it does stuck. seems this is not the root cause.
I think my flutter is already up to date.
[code]

[2020-10-07 12:10] ericdallo commented on #71
This is quite odd, it seems to be some corner casa or some emacs configuration, it's hard to know what to do without being able to reproduce it :/

[2020-10-07 12:50] AllenDang commented on #71
@ericdallo Understand. Any related variables I could check?

[2020-10-07 13:37] ericdallo commented on #71
Could you try to confirm if this happens in a sample project? like this: https://github.com/ericdallo/flutter-sample

[2020-10-08 07:03] AllenDang commented on #71
@ericdallo It works fine with the sample project. I guess this should be caused by the project structure of my side. Thanks very much!

[2020-10-08 12:15] ericdallo commented on #71
Good to know :)

[2020-10-08 12:16] #71 closed

[2020-10-08 12:58] zoechi opened #72 "Debugging drive tests does not seem to work"
**Describe the bug**
A drive test consists of 2 files. On runs the app, the other runs the test.

As explained in
https://github.com/Dart-Code/Dart-Code/issues/2609#issuecomment-654830800
I start debugging the app which works fine.

Then I start debugging the test which causes the error message
[code]

Looks like there is something missing.

I'm not sure if debugging drive tests is supposed to be

[2020-10-08 14:34] zoechi opened #73 "Navigating to a souce file in Dart or Flutter SDK shows serveral 100k errors"
**Describe the bug**
When I navigate from a project Dart source file to a Flutter SDK file (for example to `Widget`),
I get 380k errors and I also can not navigate further from within a Flutter SDK file.
It looks like all errors are because no imports can be resolved.

It is the same behavior in Dart projects.

**Note**

**To Reproduce**
{populate}

**Expected behavior**
DartAnalyzer should be abl

[2020-10-08 14:35] zoechi opened #74 "LSP-Dart should work in Flutter/Dart SDK directory"
**Describe the bug**
When I navigate from a project Dart source file to a Flutter SDK file (for example to `Widget`),
I get 380k errors and I also can not navigate further from within a Flutter SDK file.
It looks like all errors are because no imports can be resolved.

It is the same behavior in Dart projects.

**Note**

**To Reproduce**
{populate}

**Expected behavior**
DartAnalyzer should be abl

[2020-10-08 14:48] ericdallo commented on #74
Thanks for the report, yeah I'm aware of that and I'm not sure how to fix that :/
@yyoncho I could use some help if you don't mind

[2020-10-08 14:58] ericdallo commented on #73
I think this is duplicate of https://github.com/emacs-lsp/lsp-dart/issues/74 right?

[2020-10-08 17:58] #74 closed

[2020-10-12 02:28] laynor opened #75 "`lsp-dart-line-length` setting not considered when formatting the buffer."
**Describe the bug**
`lsp-format-buffer` does not respect line length customize settings.

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

**To Reproduce**
`M-x customize-variable lsp-dart-line-length RET`, edit to 120, save
create a flutter project
[code]
edit `main.dart`
change this line
[code]
to this
[code]
format the buffer
`M-x lsp

[2020-10-12 02:33] ericdallo commented on #75
Thanks for the report, I'll take a look

[2020-10-15 01:38] ericdallo commented on #75
Hey @laynor, it was a bug on `lsp-dart`, could you confirm it was fixed on latest release, `1.17.7`?
Also, this feature only works for Dart SDK version >= 2.10.0

[2020-10-15 01:38] #75 closed

[2020-10-15 02:17] laynor commented on #75
@ericdallo Many thanks for the fix, I confirm it's working :+1:

[2020-10-19 08:03] zoechi opened #77 "Debugging Dart tests stopped working"
**Describe the bug**
Set a breakpoint in a Dart test file and start debugging
(code lense "Debug" or `lsp-dart-debug-test-at-point`)

`*Dart Tests<2> stderr*` shows
[code]

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

Debugging a Dart or Flutter app still works fine.

**To Reproduce**
{populate}

**Expected behavior**
{populate}

**Sc

[2020-10-19 12:30] ericdallo commented on #77
Thanks for the report, I'm kind of busy lately, but I'll try to take a look today

[2020-10-19 18:28] shivahnshankar opened #78 "Autocomplete required function arguments"
Hi
In VS Code,  the LSP server fills in the required arguments to a function as part of autocomplete.

For ex:
if _firestore is a FirebaseFirestore instance, and i type in
`_firestore.coll `and press TAB, the autocompletion provided is
`_firestore.collection(collectionPath)`, with the collectionPath highlighted so that it can be replaced by the right path.

However, in lsp-dart in Doom Emacs, if i

[2020-10-19 20:03] ericdallo commented on #78
@shivahnshankar I think this should be server's fault (`dart-sdk` with `LSP` flag true), could you try to reproduce it with `Vscode` but with `previewLSP` `true`?

[2020-10-19 22:08] ericdallo commented on #77
@zoechi I tested both beta and dev channels of flutter with [this sample](https://github.com/ericdallo/dart_sample) and it works :thinking:
Did you run `dap-dart-setup`?

[2020-10-20 03:32] shivahnshankar commented on #78
Good catch! With previewLSP set to true, this does not happen. Found this on the Dart Code issues list:
[https://github.com/Dart-Code/Dart-Code/issues/2693](https://github.com/Dart-Code/Dart-Code/issues/2693).
Thanks

[2020-10-20 04:42] #78 closed

[2020-10-20 13:06] ericdallo commented on #78
Cool, thank you!

[2020-10-20 13:06] ericdallo commented on #78
I'll keep an eye on that issue

[2020-10-20 16:08] zoechi commented on #77
I run dap-dart-setup. It doesn't change the behavior.
It somehow looks like debug mode is started (modeline, dap toolbar is shown) but no breakpoints are hit and
the error output from the original post is still there.

[2020-10-20 16:32] zoechi commented on #77
After experimenting a bit and updating everything it's back to working.
Might have been caused by straight, but I'm not sure, but at some point it started complaining about a setting that I'm using since 6 months, and after I fixed that, I tried debugging the test again and it was working.
Thanks a lot for checking!

[2020-10-20 16:32] #77 closed

[2020-11-05 12:58] ericdallo opened #79 "[tests] - Test tree seems to now working on flutter latests releases"
![image](https://user-images.githubusercontent.com/7820865/98243971-73c27a00-1f4d-11eb-9754-ebe3212c7113.png)

Tested on flutter stable channel (1.22.2)

[2020-11-06 03:10] #79 closed

[2020-11-11 13:44] ATiltedTree opened #80 "Unable to start language server: Could not find an option named "lsp"."
**Describe the bug**
When I open a flutter project emacs is unable to start a language server.
`lsp-dart--server-command` returns `("/opt/flutter/bin/cache/dart-sdk/bin/dart" "/opt/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot" "--lsp" "--client-id emacs.lsp-dart" "--client-version 1.17.6")`.
When executed in a terminal it just hangs like it should.
But when looking into `

[2020-11-11 22:22] CastixGitHub commented on #80
the same here

[code]

I do have this file, but don't have the `bin/snapshots` directory
[code]
so I tried to brutally copy this unknown blob there without luck. also, I wasn't unable to determine the command ran with `ps aux` (what do you exactly call to make it stuck?)

when i open the project in *Messages* i see this
[code]

#### Version
`lsp-mode 20201111.1023, Emacs 28.0.50, gnu/linux`
[code]

[2020-11-11 23:08] ATiltedTree commented on #80
I just while looped `ps aux` like this:
`while true; do ps aux | grep dart >> filtered_output; done`
and told emacs to restart the language server a couple of times.
You should then be able to find the command in the `filtered_output` file.

[2020-11-12 10:56] CastixGitHub commented on #80
still without command executed, I think it's because

`M-: lsp-dart--server-command` gives me this:
[code]
meanwhile I can't execute that function with M-x

[2020-11-12 12:10] CastixGitHub commented on #80
ok, to fix that package-desc error , I ran this function that reinstalls all packages https://stackoverflow.com/a/40272361
then lsp-dart just started working for me

[2020-11-19 16:51] rrthomas commented on #70
There seems to be a problem with the dependencies on MELPA Stable: lsp-dart 1.17.9 is the current version there, and it depends on dap-mode 0.6, which is apparently too old. Installing the MELPA version of dap-mode fixes the problem, but presumably the dependencies should be updated?

[2020-11-26 16:25] MrMorteZw opened #81 "How use lsp-dart on doom emacs"
Hello sir how can i use lsp-dart on doom emacs i added (dart +lsp) on my doom config then type doom/sync and its sync successful but it doesn't work
my flutter project:
![image](https://user-images.githubusercontent.com/43701982/100374048-f3110e00-3020-11eb-863f-b5693e695efa.png)
my doom config:
init.el:
![image](https://user-images.githubusercontent.com/43701982/100374641-d75a3780-3021-11eb-8a32-

[2020-11-28 00:44] ericdallo commented on #81
@MrMorteZw, could you try to recompile doom modules with that config?
`doom sync` or `doom build -f`

[2020-11-28 09:01] MrMorteZw commented on #81
for doom build -f:
! Unrecognized switch "-f"
for rm -rfv ~/.emacs.d/.local/straight/repos/lsp-{dart,mode} and then doom sync:
[code]
and it work thank you

[2020-11-28 09:01] #81 closed

[2020-12-06 04:30] shackra commented on #61
I'm also experiencing slowness when editing a Dart file and I also see the E inside the square

[2020-12-06 04:59] shackra commented on #61
My workaround for this issue was turning off buffer-locally the option in doom-modeline that shows the major mode icon:

[code]

[2020-12-31 04:10] mgalgs opened #82 "Could `flutter format` be used for indentation?"
It seems that `flutter format` is used in Android Studio and others for the code formatting backend. Could `lsp-dart` be made to do that as well or is that totally outside the Emacs paradigm of code indentation?

I guess I could set a save hook to just format externally and replace the buffer content pre-save, but wanted to see if there's any way to get it to work natively.

[2020-12-31 04:20] mgalgs opened #83 "Feature request: Linked stack traces in the "*Flutter :: Debug out*" window when debugging"
These guys:

![image](https://user-images.githubusercontent.com/152014/103394219-f5f99580-4adb-11eb-8e6a-c87f03b7add8.png)

They're clickable in Android Studio. Not sure how hard it is to convert those stack traces to source...

[2020-12-31 11:24] m0rtis0 opened #84 "Customize height of *Flutter :: debug out" buffer when running dap-debug"
**Describe the bug**
Add the ability to customize the height of the debug out buffer or remember from last adjusted size.

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

**To Reproduce**
Run dap debug

**Expected behavior**
Presence of a configuration variable to adjust the height of the buffer or automatically set to last present size

[2020-12-31 13:05] ericdallo commented on #84
Thanks for the suggestion, but this should be done in `dap-mode`

[2020-12-31 13:06] #84 closed

[2020-12-31 13:14] ericdallo commented on #83
Hum, good question..
@yyoncho can `lsp-dart` change dap output buffer someway to allow that?

[2020-12-31 13:19] ericdallo commented on #82
The format is already provided by the server(Dart SDK) which is the same from dartfmt, so I think already works pretty well.
What issues you have running `lsp-format-buffer`?

Check the format section of the docs too: https://emacs-lsp.github.io/lsp-mode/page/main-features/#formatting

[2021-01-01 01:04] mgalgs commented on #82
aaah ok should be fine then. I noticed that spacing is different when I indent with Emacs vs Android Studio so I thought it was using a different underlying engine, but playing with it some more it's looking great. Thanks!

[2021-01-01 01:04] #82 closed

[2021-01-03 14:22] guzishiwo opened #85 "custom template is invalid  "
**Describe the bug**
1. I need to specify the target file `lib/main_dev.dart`, so I set a custom template from the document, and then I execute the command `dap-debug` select the template just now，
[code]

2. If I click the run command on the main function and select a device, then it fails.

**Version**
[LSP Dart] 1.17.9 (package: 20201118.205) at 2021.01.03 @ Emacs 28.0.50
[Dart SDK] Dart SDK ve

[2021-01-03 15:32] ericdallo commented on #85
Hi @guzishiwo, did you run `dap-dart-setup` before?

[2021-01-03 15:34] ericdallo commented on #85
Also, I think the correct template would be:
[code]

[2021-01-04 02:02] guzishiwo commented on #85
Thank you for your prompt reply 😁  . According to what you said, the template problem can be solved。 I choose a custom template, run `dap-dart-setup`。there are some error logs when it is running. I hope you can help me.

- Message buffer
[code]

- Flutter Run stderrr buffer
[code]

[2021-01-04 02:07] ericdallo commented on #85
Hum, the debug was not properly installed I think, also I saw that you have an outdated `lsp-dart`, could you make sure you have `lsp-mode`, `lsp-dart` and `dap-mode` updated?

[2021-01-04 03:45] guzishiwo commented on #85
I tried to reinstall the package and no effect, but I found that the .emacs.d/.extension/vscode/Dart-Code.Dart-Code/3.17.0 folder was empty, so I `deleted .emacs.d/. Extension/vscode` folder, then re-run dap-dart-setup, thank you very much for your prompt reply, hope this can help others.

[2021-01-04 03:45] #85 closed

[2021-01-04 11:23] ericdallo commented on #85
Yeah, we should improve how dap-mode download the debug extension to avoid these cases ;)

[2021-01-05 10:26] siraben opened #86 "Unable to debug running Flutter app"
**Describe the bug**
I started the app on my Android device using `flutter-run` and started `dap-mode`, selected the device but the debugger process failed.

**To Reproduce**
Go into a flutter project, perform `M-x flutter-run`, then let it compile and run, then `M-x dap-mode` to launch the debugger.

**Expected behavior**
The debugger should attach the running app.

**Logs**
[code]

**Version**
[

[2021-01-05 12:28] ericdallo commented on #86
Hi @siraben, did you run `dap-drart-setup`?
If so, could you try removing the debugger extension downloaded and running again?

[2021-01-05 13:47] siraben commented on #86
Fixed by running `dap-dart-setup` with a prefix argument, thanks!

[2021-01-05 13:47] #86 closed

[2021-01-08 13:44] siraben opened #87 "JSON parse error when running dap-debug"
**Describe the bug**
I'm unable to start a debug session with dap-mode, after running `M-x dap-debug` I get the following message.

[code]

**To Reproduce**
`M-x dap-debug`

**Version**
[code]

[2021-01-08 14:00] ericdallo commented on #87
@siraben did you run `dap-dart-setup` before?

[2021-01-08 14:03] siraben commented on #87
@ericdallo yes.

[2021-01-08 14:03] siraben commented on #87
It was working before but has stopped working, not sure why.

[2021-01-08 14:05] ericdallo commented on #87
Ok, maybe some flutter/dart update broke that, could you <bkd>M-x</kbd> `toggle-debug-on-error` and reproduce the issue again, then paste the stacktrace here?

[2021-01-08 14:10] siraben commented on #87
Weird, I ran M-x `toggle-debug-on-error` then M-x `dap-debug`, but no stacktrace was produced.

[2021-01-08 14:12] ericdallo commented on #87
Probably because is not a elisp raw error, it's from parsing the json on dap buffer, @yyoncho do you know how to debug that?

[2021-01-08 14:33] serezlan opened #88 "lsp-dart constantly throwing error"
Hello,

I am new to dart and I've ben trying to start dart dev today. After following instruction on how to install lsp-dart, I open a new dart file and everytime I type, I have error thrown on message buffer. Also completion not working.

System:
=========
Debian 10
#("[LSP Dart] 1.17.11 at 2021.01.08 @ Emacs 27.1.90
[Dart SDK] Dart SDK version: 2.10.4 (stable) (Unknown timestamp) on \"linux_x64\

[2021-01-08 18:20] ericdallo commented on #88
Could you confirm if it happens with `(setq lsp-dart-flutter-widget-guides nil)` in your `init.el` before open the file?

[2021-01-08 21:42] yyoncho commented on #87
Might be similar to https://github.com/emacs-lsp/lsp-mode/issues/2375 What you can do is to wrap the debugger and see what exactly it is receiving.

[2021-01-09 04:07] serezlan commented on #88
Works beautifully.
Thank you

[2021-01-09 04:07] #88 closed

[2021-01-09 06:27] siraben commented on #87
How would I wrap the debugger?

[2021-01-09 16:45] zakariaz opened #89 "Error message in the echo area at every entred key"
**Describe the bug**
After loading my main.dart file in my package this error message appears

`Error processing message (wrong-type-argument listp [#s(hash-table size 4 test equal rehash-size 1.5 rehash-threshold 0.8125 data ("kind" "DART_ELEMENT" "dartElement" #s(hash-table size 5 test equal rehash-size 1.5 rehash-threshold 0.8125 data ("range" #s(hash-table size 2 test equal rehash-size 1.5 reh

[2021-01-09 16:49] ericdallo commented on #89
Tthanks for the report @zakariaz, could you `toggle-debug-on-error` then reproduce the issue again and paste here the stacktrace?

[2021-01-09 16:55] zakariaz commented on #89
Hi @ericdallo,
Thank you for replying to this issue.

Here is the stacktrace:

`Debugger entered--Lisp error: (wrong-type-argument listp [#<hash-table equal 4/4 0x1594d2c8b129>])
  cdr([#<hash-table equal 4/4 0x1594d2c8b129>])
  (setq list (cdr list))
  (prog1 list (setq list (cdr list)))
  (car-safe (prog1 list (setq list (cdr list))))
  (setq it (car-safe (prog1 list (setq list (cdr list)))))

[2021-01-09 16:59] ericdallo commented on #89
This is the same issue from #88, I'll take a look to check what flutter/dart changes made this start to happen, meanwhile, you can disable it with `(setq lsp-dart-flutter-widget-guides nil)`

[2021-01-09 17:08] ericdallo commented on #89
@zakariaz I can't reproduce it with the same SDK version and with the same content from your `main.dart`, could you provide any sample project/code?
It's really hard to fix the issue without reproducing :/

[2021-01-09 17:18] zakariaz commented on #89
I created a test app project with `dart create testapp` that generate a console-simple.
When i open the testapp.dart in the testapp/bin the same happens without even changing the content of the file.

[2021-01-09 17:24] ericdallo commented on #89
I did that and could not reproduce the bug unfortunately
I'll try to debug the code with your exception

[2021-01-09 17:25] zakariaz commented on #89
Thanks that worked for me.

[2021-01-09 17:29] ericdallo commented on #89
@yyoncho do you have any clue how to debug that better? this is the second issue regarding this problem

[2021-01-09 17:57] zakariaz commented on #89
I have to mention that I didn't install the flutter SDK yet. And what you pointed to me  to disable the `lsp-dart-flutter-widget-guides`. Maybe lsp-dart assume that I have got the flutter SDK installed.
That what cames to mind after thinking about it. I hope that can help

[2021-01-09 17:58] ericdallo commented on #89
Good point @zakariaz! It could be related indeed!

[2021-01-09 20:53] yyoncho commented on #89
I guess `M-x trace-function RET lsp-dart-flutter-widget-guide--outline->guides RET` will help.

[2021-01-09 22:33] zakariaz commented on #89
Hi @yyoncho,

Here is the trace output of the `lsp-dart-flutter-widget-guide--outline->guides`

`======================================================================
1 -> (lsp-dart-flutter-widget-guide--outline->guides #s(hash-table size 5 test equal rehash-size 1.5 rehash-threshold 0.8125 data ("kind" "DART_ELEMENT" "dartElement" #s(hash-table size 3 test equal rehash-size 1.5 rehash-threshold

[2021-01-09 22:40] ericdallo commented on #89
@zakariaz if you are running a dart project not a flutter one is really weird how server is sending these notifications...
Could you confirm that with `M-x` `eval-expression` and pasting this code:
[code]
and restart, this way we would confirm that server is sending that notification which should be only sent for flutter projects.

Another official approach is to set `(setq lsp-log-io t)`, restart

[2021-01-09 22:54] zakariaz commented on #89
could you explain what do you mean by restart?

[2021-01-09 22:55] ericdallo commented on #89
oh sorry, `lsp-workspace-restart` should work

[2021-01-09 23:12] zakariaz commented on #89
@ericdallo here is the output of **lsp-log: dart_analysis_server** when i used the second approach:
`
[Trace - 11:59:21 ] Sending request 'textDocument/codeAction - (28)'.
Params: {
  "textDocument": {
    "uri": "file:///home/zakaria/Tutorials/Dart/testapp/bin/testapp.dart"
  },
  "range": {
    "start": {
      "line": 4,
      "character": 0
    },
    "end": {
      "line": 4,
      "character

[2021-01-09 23:15] ericdallo commented on #89
Yeah, really odd how that function is being called if it's only triggered after this `dart/textDocument/publishFlutterOutline` that is not being fired from server

[2021-01-09 23:17] ericdallo commented on #89
@zakariaz it seems the log is not correct, I think you need to restart the server after turning on `lsp-log-io` and then get all the log from the beginning which should contains `initialize` request and so on

[2021-01-09 23:25] zakariaz commented on #89
my apologize, it seams to be that i did not restart the server
 `dart/textDocument/publishFlutterOutline` is present in the **lsp log: dart_analysis_server: port**

here is the entire log
`[Trace - 12:20:06 ] Sending request 'initialize - (18)'.
Params: {
  "processId": null,
  "rootPath": "/home/zakaria/Tutorials/Dart/testapp/bin",
  "clientInfo": {
    "name": "emacs",
    "version": "GNU Emacs

[2021-01-09 23:30] ericdallo commented on #89
Yeah, that's odd, we can fix that probably checking if it's a flutter project
Also, if we confirm that is not a flutter project from lsp-dart eyes, I can open an issue on `dart-sdk`

Could you `M-x` `eval-expression` `(lsp-dart--flutter-project-p)`, it'll return `t` if the server is a flutter one or not

[2021-01-09 23:35] zakariaz commented on #89
@ericdallo  `M-:` `(lsp-dart--flutter-project-p)` returned `nil` instead of `t` so the server in not a flutter one

[2021-01-09 23:36] ericdallo commented on #89
Ok, thanks for the help, I'll issue an issue on dart-sdk and link it here, meanwhile I'll try to release a temporary fix for that

[2021-01-09 23:37] zakariaz commented on #89
@ericdallo Your are welcome. i am glad to help.

[2021-01-10 00:15] #89 closed

[2021-01-10 00:17] ericdallo commented on #89
@zakariaz last release should fix your issue :)
Also, I created an issue to server check that: https://github.com/dart-lang/sdk/issues/44628

[2021-01-10 10:06] zakariaz commented on #89
Thank @ericdallo  very much for your reactivity. I am very impressed by the care that you give to this issue.

I am very interested in contributing to a free and open source project and I would love to start contributing to this one.

I will put more effort on learning elisp and be sure that I will give back to this wonderful project.

[2021-01-10 14:30] ericdallo commented on #89
Thank you @zakariaz !
Help is very welcome :)

[2021-01-12 19:35] peterstuart opened #90 "Can't find Flutter SDK directory when using Nix"
I have installed Flutter using Nix, and since the Flutter package in NixPkgs does not expose the `cache/dart-sdk/bin/dart` etc. files that are used by lsp-dart, I need to manually configure `lsp-dart-flutter-sdk-dir` to point at the correct location. I'd rather not do this manually, since the path will change with every change to the Flutter package (and will potentially differ between different F

[2021-01-12 20:25] ericdallo commented on #90
THanks for the feedback ❤️

Oh, good to see another NixOS user :D
Unfortunately, this is an issue with how nixpkgs ship the flutter package, but the above code fits well with me and it works nice:
https://github.com/ericdallo/dotfiles/blob/master/.doom.d/config.el#L141-L146

LMK if you need any more help

[2021-01-12 20:26] ericdallo commented on #90
Also, I'm not sure if there is anything we could do in lsp-dart to improve that, but let me know if you find any

[2021-01-12 21:39] peterstuart commented on #90
Hmm, that doesn't seem to work for me for some reason. I get the same messages about not being able to find the analysis server, and if I inspect `lsp-dart-sdk-dir` in a Dart buffer it is `nil`. Any idea what could be going wrong? I copied your entire `lsp-dart` config exactly, with the exception of the `!` at the end of `use-package!`. (Maybe that's a doom thing?)

[2021-01-12 21:55] ericdallo commented on #90
Yeah, its a doom thing 😅
If `lsp-dart-sdk-dir` is not set, probably it's not finding the dart executable from the `when-let`, check if emacs is finding it via:
`M-x` `(executable-find "dart")`

[2021-01-12 22:03] ericdallo commented on #90
Oh, probably is not finding indeed, I forget to mention that the issue with flutter from nixpkgs is that when you install it only adds the flutter executable to the PATH, so you need to install dart too AFAIK
c/c @thiagokokada

[2021-01-12 23:34] thiagokokada commented on #90
Yeah, both Dart and Flutter needs to be in `environment.systemPackages` or the command `dart` will not be available in PATH (and the workaround from @ericdallo will not work).

BTW, not related to the problem itself but I recommend you to use Dart and Flutter from `nixpkgs-unstable`. I did some fixes that avoids Flutter to be build with the Dart that ships with it, and also reduced the derivation

[2021-01-13 23:51] peterstuart commented on #90
Thank you both! That set me on the right track. I am using a different setup than you where flutter is not installed system-wide, so I ended up tweaking it a bit and ended up with this:

[code]

I have a `shell.nix` which installs flutter, and also sets `$FLUTTER_SDK` (`export FLUTTER_SDK=${pkgs.flutter.unwrapped}`), so after getting the correct environment with `(direnv-update-environment)`, I ca

[2021-01-13 23:51] #90 closed

[2021-01-23 15:47] zakariaz commented on #49
Hi everyone,

I looked at the doc for `dap-dart-setup` and it says, if you pass a prefix it will redownload the extension. @zoechi, did you trie it?

@ericdallo i searched for the function in `lsp-dart-dap.el` to see it implementation but i couldn't find it? i looked at every file that `lsp-dart-dap.el` requires and it isn't anywhere. Since you tagged it as good first issue, i wanted to try it. An

[2021-01-23 15:50] ericdallo commented on #49
@zakariaz all dap integration for lsp-dart is in `lsp-dart-dap.el` file, the rest is done by `dap-mode`, like create dynamically the `dap-dart-setup` function

[2021-01-23 15:57] zakariaz commented on #49
@ericdallo i searched in `dap-mode.el` useing `M-x isearch-forward` and couldn't find it. i suppose if it is created dynamically, i coud find where it is generated by doing that. maybe i am doing it wrong. can you give advice since i have never contributed to a package in emacs and i ma trying to find my way.

[2021-01-23 16:02] ericdallo commented on #49
Sure, here we declare the function dynamically: https://github.com/emacs-lsp/dap-mode/blob/master/dap-utils.el#L101

[2021-01-23 17:07] zakariaz commented on #49
@ericdallo Actually i think it's not that hard, `dap-utils-vscode-setup-function` says, if the directory is absent or you pass a prefix argument to force the reinstall then download the extention. It calls `dap-utils-get-vscode-extension` to do so.
Unless we pass the `version` argument to `dap-utils-get-vscode-extension`, the version will be `latest` and it will download the latest version.

In my

[2021-01-23 17:08] ericdallo commented on #49
LGTM any concerns @yyoncho ?

[2021-01-23 17:11] zakariaz commented on #49
@ericdallo @yyoncho Or maybe a function that wrap `dap-utils-get-vscode-extension` to do the check

[2021-01-24 16:18] yyoncho commented on #49
Sounds good to me. Ideally, I think that we emacs packages should work against specific versions of the server package (the one we know that works) and the bump of the version should be performed manually on Emacs side. Thus, when you upgrade lsp package it will download the proper server version if it is not present. Similarly, if you download melpa stable version of lsp-dart/lsp-mode which tends

[2021-01-25 11:35] zakariaz commented on #49
@yyoncho to paraphrase what you said. By default LSP should install the tested version by the mode. If the user desire to install another version, we have to provide him the possibility of doing that in his init file.
Is that what you meant?

[2021-01-25 19:46] yyoncho commented on #49
Yes. The option to install particular version is mostly for lsp-dart devs

[2021-02-12 17:38] zakariaz opened #95 "Dart and Flutter Sdks paths missing when opening a non flutter project with emacs GUI from outside the terminal"
I Ran in an issue when lunching GUI emacs from  the gnome shell. lsp couldn't find the Flutter and Dart sdks .

When launching emacs from the terminal everything works correct except when it is a non flutter project.
The language server did not start and is reporting missing.

I have got the flutter sdk installed and it's path is added to my path variable.
I am using `GNU bash`.

I fixed the issue

[2021-02-12 18:14] ericdallo commented on #95
Thank you! and sorry for the need to debug all of that 😅
The issue with your suggestion is that it won't find the correct dart sdk for Dart only projects, not flutter :/
If you remove the check if it's a flutter project, `(expand-file-name "bin/cache/dart-sdk/" (lsp-dart-get-flutter-sdk-dir))` will probably blow up the code for Dart only projects.

You can test it with this sample project: https:/

[2021-02-12 20:39] zakariaz commented on #95
I'll taste it and will give you feedback

[2021-02-12 22:45] zakariaz commented on #95
Actually what is wired is when i byte compile lsp-dart there is two files that doesn't byte compile `lsp-dart-pkg.el` and `lsp-dart-autoloads.el`. The language server fails to start. when i remove the `.elc` files and restart emacs it  everything works!

[2021-02-12 22:51] ericdallo commented on #95
That is I was talking about, with your modification, users that use lsp-dart with Dart out of the box without any further configuration will stop working since they need to set `lsp-dart-sdk-dir` manually.

I still don't get it why you need to remove the `(when (lsp-dart--flutter-project-p)`, that checks if the current buffer/project is a flutter one, not a dart one, we probably need to investigat

[2021-02-13 11:42] zakariaz commented on #95
I see know the issue but what i don't understand is why when i am in a dart or a flutter project, lsp dart can't get the path to the dart sdk with the compiled version in contrast with the non compiled version of lsp dart. this is something related to emacs internals i think. I tried to know to understand emacs better.

I don't necessarily want to remove it. the issue that i am addressing is the f

[2021-02-13 14:16] #95 closed

[2021-02-13 14:17] zakariaz commented on #95
I solved the problem by creating an `emacs.desktop` file in `~/.local/share/applications/` so now emacs has access to variables sourced from my `.bashrc`

I still had issues in non flutter projects with the language server. it gets an improper path so i solved it by setting `lsp-dart-sdk-dir` manually

[2021-02-13 15:21] ericdallo commented on #95
I see, thanks for the detailed explanation, I agree that it'd be great if lsp-dart just works automatically, but we need to take care when changing that logic since it can work for you and break for other :/
I can't see an easy solution for that issue but I think the `lsp-dart-sdk-dir` variables exists for fixing those corner cases indeed.

No problem, I'm not a native speaker too ;)

[2021-02-13 21:01] zakariaz commented on #80
This is the same issue i ran in to. to fix it just set `lsp-dart-sdk-path` to the proper location

[2021-02-13 23:36] AlbusSong opened #96 "No devices found with name or id matching 'apple_ios_simulator'"
After `dap-debug`, I chose mode and device correctly. But whatever device I chose, it reported me such an error:

<img width="592" alt="Screen Shot 2021-02-14 at 1 34 43 AM" src="https://user-images.githubusercontent.com/47345588/107864466-0041da00-6e65-11eb-9c8a-705e6a05fcd9.png">

[2021-02-13 23:38] ericdallo commented on #96
Thanks for the report, probably something related with the debugger version, I will bump it soon and test that!

[2021-02-14 21:43] youngpm commented on #71
Hi @ericdallo ; I am experiencing this same issue.

Everything works great with your cloned Flutter app, but I can't seem to get it to work with a test app created by `dart create -t console-full testlsp`, which doesn't use any Flutter.  I get the same error:

[code]

[2021-02-14 22:55] ericdallo commented on #71
Right, I'll take a look soon!

[2021-02-15 01:28] youngpm commented on #71
@ericdallo I fixed this by installing the stand alone dart package; previously I was using the dart binary provided by a flutter install (they include it now in recent versions of flutter).

I would guess the logic that tries to figure out which dart binary to invoke doesn't handle my original case; I perused the elisp a little but not really sure what I'm doing on that front!

[2021-02-18 18:58] samuelematias commented on #96
Hi!
I have the same issue:

![Screen Shot 2021-02-18 at 15 49 15](https://user-images.githubusercontent.com/5155386/108406774-9c6f3680-7201-11eb-90e7-91377f06970f.png)

![Screen Shot 2021-02-18 at 15 49 36](https://user-images.githubusercontent.com/5155386/108406784-9f6a2700-7201-11eb-97b3-bb37e7c8b7db.png)

And after this error occurred with Android, I switched to the iphone simulator, he goes on

[2021-02-18 19:05] ericdallo commented on #96
Sorry, I had no time to test that after the bump, I'll try to take a look on this soon!

[2021-02-18 19:06] samuelematias commented on #96
Ok, Thanks!

[2021-03-06 22:11] samuelematias commented on #96
Hello!
Any updates?
Thanks!

[2021-03-06 22:12] samuelematias commented on #96
Hello!
Any updates?
Thanks!

[2021-03-06 22:51] ericdallo commented on #96
@samuelematias could you help debugging the error please?
You can `M-x` `toggle-debug-on-error` and reproduce the error, then paste the stack trace here

[2021-03-07 16:07] samuelematias commented on #96
Yes, of course!

I will send you the logs I have at the moment so that I can perhaps help in analyzing the problem.

![Screen Shot 2021-03-07 at 12 50 54](https://user-images.githubusercontent.com/5155386/110245855-c5066880-7f43-11eb-8741-208439abe397.png)

**Messages**
[code]

**lsp-log**
[code]

**LSP Dart - Flutter daemon**
[code]

**Flutter :: Debug stderr**
[code]

**Flutter :: Debug out**
[c

[2021-03-07 16:07] samuelematias commented on #96
Yes, of course!

I will send you the logs I have at the moment so that I can perhaps help in analyzing the problem.

![Screen Shot 2021-03-07 at 12 50 54](https://user-images.githubusercontent.com/5155386/110245855-c5066880-7f43-11eb-8741-208439abe397.png)

**Messages**
[code]

**lsp-log**
[code]

**LSP Dart - Flutter daemon**
[code]

**Flutter :: Debug stderr**
[code]

**Flutter :: Debug out**
[c

[2021-03-07 16:16] ericdallo commented on #96
Thanks for the logs, but it doesn't seems to be a exception issue, it seems we are sending the incorrect emulator name to the debugger extension.
Does that only happen with apple simulators? I'll test with android

[2021-03-07 16:19] ericdallo commented on #96
I could reproduce the issue with an android :)
Let me try to fix it

[2021-03-07 16:24] samuelematias commented on #96
I understood.

No, happen with Android Emulator too!

[2021-03-07 16:25] samuelematias commented on #96
Ok, Thanks!

[2021-03-07 16:54] ericdallo commented on #96
Found the bug, it's a lsp-dart current-device-cache, probably running `M-x` `eval-expression` `(setq lsp-dart-flutter-daemon-current-device nil)` before running the debug will fix it.

I'll try to fix it

[2021-03-07 18:05] #96 closed

[2021-03-07 18:06] ericdallo commented on #96
@samuelematias @AlbusSong should be fixed on latest release, LMK if any issues with that

[2021-04-08 21:09] samuelematias opened #97 "Hot Restart Button on Flutter Debug mode, does not work as expected."
**Describe the bug**
On Flutter Debug mode, the `Hot Restart Button`, does not work as expected.

**Flutter Debug  Helper Palette**
![Screen Shot 2021-04-08 at 17 56 14](https://user-images.githubusercontent.com/5155386/114095800-424f3100-9894-11eb-92ba-699728b3377a.png)

**The `Hot Restart Button`**
![Screen Shot 2021-04-08 at 17 56 18](https://user-images.githubusercontent.com/5155386/114095835-

[2021-04-08 21:22] ericdallo commented on #97
Thanks for the report!

Actually that button is generic for `dap-mode` and that button means `Restart the debug session` 😅
@yyoncho maybe we could allow changing that or introduce some other entrypoint?

[2021-04-09 21:07] DanMossa opened #98 "No Flutter outline data found when using Doom Emacs"
**Describe the bug**
My `config.el` is
[code]
and my `packages.el` is
[code]
But inside of doom emacs, when I type M-x select `lsp-dart-show-flutter-outline` I get

**To Reproduce**
Setup your config.el and packages.el like above. Type `doom sync` and then `doom/reload`

**Expected behavior**
Flutter outlines would appear

**Version**
Include here the result of: <kbd>M-x</kbd> `lsp-dart-version`
[

[2021-04-09 21:11] ericdallo commented on #98
Hey @DanMossa, you are missing [lsp-treemacs](https://github.com/emacs-lsp/lsp-treemacs) 😅
This is something that I have a PR ready to open on doom-emacs side to add a flag for treemacs module, I'll open as soon doom-emacs back to accept PRs 🤞🏻

LMK if have any issue after installing lsp-treemacs correctly

[2021-04-09 21:11] #98 closed

[2021-04-13 18:39] CadeMichael opened #99 "Apps Wont run"
**Describe the bug**
Trying to run the App will create an instance of the emulator but when hitting run again two options pop up
emulator
android x86

so first press of `run` brings up emulator second press brings up option to run on emulator and when selected it gives the error below.

[LSP Dart] [FLUTTER ERROR]  The Android emulator exited with code 1 during startup
[LSP Dart] [FLUTTER ERROR]  A

[2021-04-13 18:42] CadeMichael commented on #99
I get the same error on my mac os machine running emacs-mac with the same version of LSP dart if that helps

[2021-04-13 18:42] ericdallo commented on #99
Tanks for the report, running one time only should work as expected, lsp-dart should start the emulator and then run the app, it may take a while the first run, could you share more details or a video showing how it's behaving?

[2021-04-13 19:01] CadeMichael commented on #99
I don't think that it is running in the background without showing any signs (build gradle, initialize, etc) as even if I connect a physical device I am unable to run the app and an error is thrown during the first press of run. However if the former is the case  is there a way to see the app outputs such as print statements? when connecting a physical device this is the error when trying to run

[2021-04-13 19:02] ericdallo commented on #99
Yes, you can check the `dap-output` buffer for logs

[2021-04-13 19:05] ericdallo commented on #99
Or `M-x` `dap-go-to-output-buffer`

[2021-04-13 19:07] CadeMichael commented on #99
Nothing is running in the background; the output buffer is empty.

[2021-04-13 19:08] CadeMichael commented on #99
[code]

[2021-04-13 19:10] ericdallo commented on #99
Alright, I'll try to reproduce the issue with my [flutter_sample](https://github.com/ericdallo/flutter_sample) project, it'd be nice if you could confirm the repro on that project as well

[2021-04-13 19:11] CadeMichael commented on #99
Thank you; and how do you mean sorry? It is also reproducible with the default main.dart in an empty flutter project. Across versions of flutter for me. (same issue on laptop and desktop)

[2021-04-17 01:49] ericdallo commented on #99
@CadeMichael I just tested and it worked properly with a physical device.

One thing I remembered, did you run `dap-dart-setup` before?

[2021-04-17 21:01] CadeMichael commented on #99
I did run dap-dart-setup but I cannot tell if it is doing anything. I am still unable to run on a physical or emulated device.  the output in the buffer is as follows (from trying to run on an emulator and then on a physical device)...
[code]

I am not sure if this is because I am using Doom Emacs or if there is a compatibility issue, but thank you for trying to help!

Cade

[2021-04-17 21:07] ericdallo commented on #99
That's odd, I use doom-emacs as well, [here is my config](https://github.com/ericdallo/dotfiles/tree/master/.doom.d), but I don't see how this is affecting the debug.
@CadeMichael  could you get the content of the `*LSP Dart - Flutter daemon*` buffer to see if there is anything odd there?

[2021-04-17 21:15] CadeMichael commented on #99
I see that in your configs you not only had `+lsp` in init.el but also installed dart-lsp and dap in packages.el. Is this the correct way to install these packages? I was able to get dap somewhat working (as you can see the LSP is connected and I am getting dap commands offered as suggestions) just by enabling `lsp` and `(dart +flutter +lsp)` in my init.el.

[2021-04-17 21:17] ericdallo commented on #99
No, I'm about to remove that, I used to use that before doom-emacs has those packages built-in.

I think to enable dap via doom-emacs, you need to include the :debugger and :tools +lsp

[2021-04-17 21:36] CadeMichael commented on #99
Ahh that would make sense. Would it look something like this.

[code]

[2021-04-17 21:38] ericdallo commented on #99
yes, it looks correct

[2021-04-17 21:40] CadeMichael commented on #99
I'm still receiving this error `[LSP Dart] [FLUTTER ERROR]  Error 1 retrieving device properties for ro.product.cpu.abi:
[LSP Dart] [FLUTTER ERROR]  adb: device ’emulator-5554’ not found` and the same error as before when trying on physical hardware. When you run dap-dart-setup does anything happen or does the command window just close?

[2021-04-17 21:43] ericdallo commented on #99
If you already have setted up it won't print nothing, that's something that we can improve, but for now you can remove `~/.emacs.d/.extensions/vscode` and run `dap-dart-setup` again to download the debugger

[2021-04-17 21:47] CadeMichael commented on #99
I think that did the trick! Thank you for being very patient and helping me with this issue.

[2021-04-17 21:47] #99 closed

[2021-04-17 21:50] ericdallo commented on #99
Glad to hear :)
I'll try to improve the dap-dart-setup, probably you had a outdated/corrupted debugger downloaded.

[2021-04-28 14:28] Zaryob opened #100 "Dart run is not working"
**Describe the bug**
I'm trying to run a flutter project. When I clicked Run button on main function to run it it give me that error
[code]

I opened a new dart project to test if it is specific for flutter:
[code]
then tried again to run. It give me another error:
[code]

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

- [X] Checked all

[2021-04-28 14:37] yyoncho commented on #100
have you performed `M-x dap-dart-setup`?

[2021-04-28 14:55] ericdallo commented on #100
☝🏻 @Zaryob

[2021-04-28 15:32] Zaryob commented on #100
I performed after first install and also after removed vscode extension But not worked.

[2021-04-28 16:45] ericdallo commented on #100
The issue is that is not finding the debug js file: `/home/zaryob/.emacs.d/.extension/vscode/Dart-Code.Dart-Code/3.19.2/extension/out/dist/debug.js`, could you check what you have on `/home/zaryob/.emacs.d/.extension/vscode/Dart-Code.Dart-Code/3.19.2/extension/out/dist` or the parent folders?

[2021-04-28 17:03] Zaryob commented on #100
There are folder named as `~/.extension/vscode/Dart-Code.Dart-Code/3.19.2/` but it is empty. It is message output for `dap-dart-setup`:

[code]

[2021-04-28 17:05] yyoncho commented on #100
most likely you are hitting rate limit of the vscode market place. You may go and download it manually and then unzip the achieve on the proper location.

[2021-04-28 17:06] Zaryob commented on #100
Yes thanks @yyoncho . I fix it with  manual way (getting files via curl and extract onto that path) right now 😂 its working.

[2021-04-28 17:06] #100 closed

[2021-04-30 17:41] ps-143 opened #101 "Debug web app"
**Describe the bug**
When using dap-debug and selecting chrome as a device, it gets stuck on launching.

**To Reproduce**
1. Run dap-debug
2. Select - Flutter::Debug
3. Select - Chrome device

**Expected behavior**
It should open the app in chrome.

**Screenshots**
![Screenshot from 2021-04-30 23-06-47](https://user-images.githubusercontent.com/13881173/116733137-5ad0e800-aa09-11eb-8962-0645a1bbb9

[2021-04-30 18:02] ericdallo commented on #101
Thank you for the report!
It seems we are not registering correctly the debug flags for web development, I can take a look on this soon.

[2021-05-01 02:13] ericdallo commented on #101
Hey @ps-143, I just tested with my [flutter_sample](https://github.com/ericdallo/flutter_sample) and it worked properly 😕.

![image](https://user-images.githubusercontent.com/7820865/116767943-9c619300-aa09-11eb-960f-658d1f66796b.png)
It connects to chrome correctly.

Doom-emacs
[LSP Dart] 1.18.1 at 2021.04.30 @ Emacs 28.0.50
[Dart SDK] Dart SDK version: 2.12.2 (stable) (Wed Mar 17 10:30:20 2021 +

[2021-05-01 02:15] ericdallo commented on #101
Could you try adding this config to your emacs and testing again?
[code]

[2021-05-01 13:57] ps-143 commented on #101
I tried setting "CHROME_EXECUTABLE" to "/opt/google/google-chrome/chrome" but still it didn't work. Using flutter-run works and dap-debug works when using an android device.
I still can't figure out the problem.
I'm used snap to install the flutter and dart sdk.

[2021-05-01 13:59] ps-143 commented on #101
I have also tried downgrading emacs to 27

[2021-05-01 14:08] ericdallo commented on #101
Hum, could you try to `rm ~/.emacs.d/.extension/vscode`, update both lsp-dart and dap-mode to latest, run `dap-dart-setup` again and try again?

[2021-05-01 16:40] ps-143 commented on #101
I tried your solution but it's still not working for me.

[2021-05-01 16:41] ps-143 commented on #101
It's working absolutely fine on android devices but just not for web.

[2021-05-01 16:41] ericdallo commented on #101
I see, could you try on my flutter_sample from above?

[2021-05-01 16:43] ps-143 commented on #101
I'm using doom-emacs and I've tried `flutter run` and it runs fine using that, I think that `dap-debug` is better as it provides hot-reload as well.
I tried a new project in flutter with the boiler plate code but its still the same

[2021-05-01 16:48] ericdallo commented on #101
Really odd, dap-debug just trigger the launch using the `debug.js` inside the extension, which will run `flutter run --machine` under the hood, not sure what options left for us here :/

[2021-05-01 16:51] ps-143 commented on #101
I'm using the `flutter run` command from flutter.el package

[2021-05-01 16:52] ps-143 commented on #101
Earlier when I had to work on flutter I used emacs and this worked perfectly fine for me.

[2021-05-01 16:53] ericdallo commented on #101
Maybe some `dap-mode` issue @yyoncho ?

Is there anything relevant on dap-output or dap-stderr buffers?

[2021-05-01 17:00] ps-143 commented on #101
![Screenshot from 2021-05-01 22-29-29](https://user-images.githubusercontent.com/13881173/116789490-c29c3700-aacc-11eb-91c0-d78d852f2019.png)

Any help from this?

[2021-05-01 17:02] ericdallo commented on #101
Nothing useful there, I don't think we have any other log besides that buffer unfortunatelly

[2021-05-02 02:52] eansa1997 opened #102 "dap-dart-setup not working."
**Describe the bug**
After fresh installing emacs27 and adding a very basic ~/.emacs config with the example provided, running dap-dart-setup appears to be successful. Once I try to run a flutter app on any device, it won't work. It will open an android emulator device but won't do anything at all. Attempting to run a desktop app with linux as the target also fails saying "error in process filter:

[2021-05-02 03:07] ericdallo commented on #102
Could you check Dart stderr output and also check if the debugger was installed properly with the following:
- `M-x` `lsp-dart-dap-dart-debugger-program`
- Check if the returned path exists

You can test a different debugger version by changing `lsp-dart-dap-extension-version`.

[2021-05-02 03:09] ericdallo commented on #102
Oh, I'm almost sure this is related with lsp-dart not finding the correct entrypoint for your project. it uses the `lsp-dart-get-project-entrypoint` function to get the correct path. Could you also check the value of it with `M-:` `(lsp-dart-get-project-entrypoint)`?

[2021-05-02 03:14] eansa1997 commented on #102
Hmmm, I don't have that command available...
![screen3](https://user-images.githubusercontent.com/42599836/116800803-4c023800-aad2-11eb-9c78-bc1d0df4b695.png)
Also don't have the get-project-entrypoint command...
![screen4](https://user-images.githubusercontent.com/42599836/116800881-e6627b80-aad2-11eb-9874-3bfade595164.png)

[2021-05-02 03:17] eansa1997 commented on #102
Going to drop my ~/.emacs file to give as much context as possible.

![screen5](https://user-images.githubusercontent.com/42599836/116800938-6983d180-aad3-11eb-9a83-442b9c5ce655.png)

[2021-05-02 05:49] eansa1997 commented on #102
An update, using flutter run builds the app just fine and launches the linux app. Very similar to #101 . I'll be building my apps that way for now.

[2021-05-02 14:20] ericdallo commented on #102
You should not run as command, you should use `M-:` or `M-x` `eval-expression`

[2021-05-02 14:54] eansa1997 commented on #102
lsp-dart-dap-dart-debugger-program
![screen6](https://user-images.githubusercontent.com/42599836/116817456-65d46700-ab34-11eb-86e3-8bc31c4c6670.png)
(lsp-dart-get-project-entrypoint)
![screen8](https://user-images.githubusercontent.com/42599836/116817514-b946b500-ab34-11eb-97ec-83412503dd25.png)

[2021-05-02 14:55] ericdallo commented on #102
Could you confirm that path exists in your machine and the entrypoint is correct?

[2021-05-02 15:01] eansa1997 commented on #102
".../debug.js" exists. As does the project entry point.

[2021-05-02 15:04] ericdallo commented on #102
Could you test if [this flutter sample](https://github.com/ericdallo/flutter_sample) works for you?

[2021-05-02 15:16] eansa1997 commented on #102
When I opened main.dart, it asked to import project root.
![screen10](https://user-images.githubusercontent.com/42599836/116818076-8225d300-ab37-11eb-9735-c0284f4d092e.png)
I chose i .
There are a lot of import errors, but clicking run still gives me the same error with "node". I also made sure to select android emulator as target since the project doesn't have a linux build folder.

[2021-05-02 15:18] ericdallo commented on #102
So it seems something wrong with your flutter or debugger downloaded, could you try on flutter stable channel?

[2021-05-02 15:23] eansa1997 commented on #102
Okay so I was on master 2.3.0 for some reason but switching to stable and running flutter upgrade didn't fix it.

[2021-05-02 15:25] eansa1997 commented on #102
It seems all the import errors are flutter package errors, all the local imports seem fine.
![screen11](https://user-images.githubusercontent.com/42599836/116818404-1e9ca500-ab39-11eb-9e3d-315a0e883534.png)

[2021-05-02 15:26] ericdallo commented on #102
the errors happen because you didn't run flutter pub get.

Just to confirm the errors is the same from [this first screenshot](https://github.com/emacs-lsp/lsp-dart/issues/102#issue-873822869)

[2021-05-02 15:31] eansa1997 commented on #102
Okay so I removed a dependency from pubspec.yaml that was a local path and pub get fixed the import issues. I'm so used to not running pub get.. my bad, but yes the same error as the screenshot persists.

[2021-05-02 15:35] ericdallo commented on #102
(You can use `lsp-dart-put-get` as well :))

Oh, my bad... I didn't pay the proper attention on the error, the debugger is not finding `node` on your PATH, because under the hood, dap-mode runs `node <path to the debug.js>`.

So, installing node or configuring properly on your emacs path should fix your problem

[2021-05-02 15:47] eansa1997 commented on #102
Okay so installing nodejs fixed that issue but the debugger can't find flutter on the path which is weird. I verified both flutter and dart work in the terminal.
This is what I used in my ~/.emacs file.
(setq lsp-dart-sdk-dir "~/dev/flutter/bin/cache/dart-sdk/")
(setq lsp-dart-flutter-sdk-dir "~/dev/flutter/")
Error message:
![screen12](https://user-images.githubusercontent.com/42599836/116819003-

[2021-05-02 15:53] ericdallo commented on #102
Nice!

Hum, only setting `lsp-dart-flutter-sdk-dir` should handle that, not sure you should set it on `:config` of use-package or if both should works

[2021-05-02 15:53] ericdallo commented on #102
My config if helps: https://github.com/ericdallo/dotfiles/blob/master/.doom.d/config.el#L157

[2021-05-02 17:02] eansa1997 commented on #102
Okay so I couldn't fix my vanilla emacs setup, I purged it and installed doom emacs. Just uncommenting what I needed in the ~/.doom.d/init.el file worked. Didn't have to set any paths explicitly. Ill just use doom emacs.. doom sync is really nice.

[2021-05-02 17:04] ericdallo commented on #102
Nice, yeah, some default doom improvements helps a lot with performance and UX, LMK if need any more help.

[2021-05-02 17:04] #102 closed

[2021-05-05 20:33] psygo commented on #17
I'm still having this issue. My config is as follows:

[code]

Does anyone have an idea of what I'm doing wrong?

[2021-05-05 20:41] ericdallo commented on #17
@psygo in the buffer when you face the error, could you provide the output of `M-x` `eval-expression` `lsp-dart-sdk-dir`?

[2021-05-05 20:47] psygo commented on #17
@ericdallo, I'm getting back `nil`.

[2021-05-05 21:07] ericdallo commented on #17
@psygo my bad, could you check both:
- `M-x` `eval-expression` `(lsp-dart-get-sdk-dir)`
- `M-x` `eval-expression` `(lsp-dart-get-flutter-sdk-dir)`

[2021-05-05 21:17] psygo commented on #17
- `M-x` `eval-expression` `(lsp-dart-get-sdk-dir)` -> `nil`
- `M-x` `eval-expression` `(lsp-dart-get-flutter-sdk-dir)` -> `/home/philippe/Code/Flutter`, which is the path I had typed in the configuration above.

[2021-05-05 21:26] ericdallo commented on #17
Alright, the issue is that `(lsp-dart-get-sdk-dir)` is returning nil, [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-utils.el#L104-L105) it tries to find the dart sdk inside the flutter sdk if available, could you check if `(lsp-dart--flutter-project-p)` returns non nil in your buffer and if your flutter installation has this `bin/cache/dart-sdk/` folder inside it?

[2021-05-05 21:37] psygo commented on #17
- `(lsp-dart--flutter-project-p)` is returning `nil`.
- Yes, I do have a `bin/cache/dart-sdk/` folder inside my `/home/philippe/Code/Flutter` folder.

[2021-05-05 22:45] ericdallo commented on #17
Ok, so for some reason, it's not detecting that your project is a flutter one, could you please check the return of:
- `(lsp-dart-get-project-root)`
`(-some->> (lsp-dart-get-project-root) (expand-file-name "pubspec.yaml"))`

(I have in mind a `lsp-dart-doctor` to improve that debug later 😅 )

[2021-05-05 23:05] psygo commented on #17
Both commands above return what I would expect:

- `(lsp-dart-get-project-root)` -> the correct root for my project
- `(-some->> (lsp-dart-get-project-root) (expand-file-name "pubspec.yaml"))` -> the correct path to my `pubspec.yaml` file

[2021-05-05 23:28] ericdallo commented on #17
Alright, I think this is the last one to eval:
[code]

Just FYI I'm debugging this function: https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-utils.el#L71

[2021-05-06 00:01] psygo commented on #17
How do I evaluate a multiline expression under `eval-expression`?

Anyway, the result will be non-existent because the project I'm using as a testing ground doesn't use Flutter actually, only Dart itself. Is that a problem for this package? Does it assume every project uses Flutter?

[2021-05-06 00:05] psygo commented on #17
Just evaluated it as a one-liner, still `nil`.

[2021-05-06 00:07] ericdallo commented on #17
Oh, I thought your project was a flutter one by your path... so you only have a dart project, right? if so, if `(lsp-dart-get-sdk-dir)` returns correct, it should work

[2021-05-06 00:35] ericdallo commented on #17
@psygo I released lsp-dart 1.18.3 with some improvements on the `M-x` `lsp-dart-version` command which should give more details about the current project, it should be available soon on MELPA.

[2021-05-15 01:37] ericdallo commented on #101
@ps-143 could you try the same steps from https://github.com/emacs-lsp/lsp-dart/issues/102 ?

[2021-06-01 20:30] MitaiGit opened #104 "I can't start lsp-dart"
Debian 11. Gnome. zsh The Dart and Flutter commands work in the terminal, but when I run Emacs and the flutter project, it writes that it can't find the SDK of either
![Снимок экрана от 2021-06-02 01-25-29](https://user-images.githubusercontent.com/32243762/120386003-836a3b80-c341-11eb-9909-8d1eef014b85.png)
Supported settings#  lsp-dart-flutter-sdk-dir
do you need to write this in .emacs? please

[2021-06-02 00:54] ericdallo commented on #104
Hi, emacs is not finding flutter/dart in your path, you can try [this](https://www.emacswiki.org/emacs/ExecPath) or tell to lsp-dart where the flutter sdk is with `(setq lsp-dart-flutter-sdk-dir "/home/mitai/flutter")` in your init.el

[2021-06-02 17:58] MitaiGit commented on #104
in i3wm everything worked without problems...
thank you for your help

[2021-06-02 17:58] #104 closed

[2021-06-07 20:31] bilemon opened #105 "Unable to Reload or Restart Dap Debug"
**Describe the bug**
After setting up `lsp-dart`, I am trying to hot restart/reload the application against an Android emulator. While the emulator does _launch_, I am unable to interact with the emulator after it has launched. My cumbersome workaround is to manually invoke `flutter run` and then hot-reload by watching files.

**To Reproduce**
After invoking `lsp-dart-dap-flutter-hot-reload`, I re

[2021-06-08 01:41] ericdallo commented on #105
I could not reproduce the issue with my [flutter_sample](https://github.com/ericdallo/flutter_sample) project that I use for testing/develop. For some reason `(dap--cur-session)` on [this line](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L311) is returning `nil`, this usually means that there is no dap session running globally on your emacs.

BTW, are you running it via `dap-

[2021-06-08 20:03] bilemon commented on #105
@ericdallo Thanks for honing in on the line. I'll tinker around with it and let you know if I'm able to resolve it. Love lsp-dart so far btw :smile:

Yes, I'm running it via dap-debug after running an initial dap-dart-setup. This allows me to "start" the emulator session, but it seems that it fails to "attach" to the session for any subsequent command.

[2021-06-08 21:03] ericdallo commented on #105
@bilemon A few moments ago I released lsp-dart 1.19.0 with few improvements on web debug/debug-setup, could you test it again? but now running `lsp-dart-dap-setup`

[2021-06-08 22:17] bilemon commented on #105
@ericdallo Just tried it again, and all is working a-okay. I think this was probably just user error caused by me futzing with some configuration settings in AVD :sweat_smile:.

Anyhow, apologies for any distraction this may have caused. All seems to be working :+1:

[2021-06-08 22:17] #105 closed

[2021-06-08 22:18] ericdallo commented on #105
No problem, thanks for the response

[2021-07-07 16:36] TiborCornelli commented on #48
I'm having the same issue. How/where exactly am I supposed to execute `(require 'lsp-dart) ?

[2021-07-07 16:38] ericdallo commented on #48
@TiborCornelli please update your lsp-dart and lsp-mode package and this should not happen anymore.
You can require lsp-dart after lsp-mode, are you using use-package ?

[2021-07-08 09:37] KouAkitaki commented on #90
This is working perfect for me. Thanks for sharing the setup!

[2021-07-13 20:05] ForrestHilton opened #106 "replicate vscode behavior"
Vscode seams to have part of the same problem as emacs in regard to issues #73 and #74. However, vscode partly gets around this by using an already opened project as the project root when possible.
For example if I open ~/project/lib/main.dart, then jump to definition of onPanUpdate, vscode opens /opt/flutter/packages/flutter/lib/src/widgets/gesture_detector.dart with existing lsp process and exis

[2021-07-13 20:41] ericdallo commented on #106
Hi, thank you for the suggestion, this actually is totally possible with lsp-mode :) I did it for clojure [here](https://github.com/emacs-lsp/lsp-mode/pull/2746). I can try to do the same with lsp-dart

[2021-07-14 22:42] ForrestHilton commented on #106
I took another look, and the problem with ordinary dart projects was mostly user error.
I set
           lsp-dart-flutter-sdk-dir "/opt/flutter"
but not
           lsp-dart-sdk-dir "/opt/flutter/bin/cache/dart-sdk"
for dart projects I needed both, and it would be cool if dart-lsp could auto detect as it would make dart-lsp without any variable for most people.

[2021-07-14 22:46] ericdallo commented on #106
It's a good suggestion, I have an idea in mind to improve that, thanks!

[2021-07-14 22:47] ericdallo commented on #106
@ForrestHilton I made a fix on master and I should release a new version after this PR get merged https://github.com/emacs-lsp/lsp-mode/pull/3000, so you may have no issues after that when opening flutter/dart files, it should use the current workspace and show no errors :)

[2021-07-14 23:23] ForrestHilton commented on #106
I will test it soon.
when I tested it by pasting the new
(defun lsp--try-open-in-library-workspace ()
into my config, it was working then it stopped working.

[2021-07-15 01:18] ForrestHilton commented on #106
I installed the changes in spacemacs according to these instructions:
https://develop.spacemacs.org/doc/FAQ.html#how-to-override-a-layer-package
lsp--try-open-in-library-workspace is the new version and I think the layer is configured correctly but it still says
LSP :: gesture_detector.dart not in project or it is blacklisted.

[2021-07-15 01:24] ForrestHilton commented on #106
It is working better actually: jump-to-defintion works in gesture detector and gesture_detector.dart is listed in the same project under describe session.

[2021-07-15 01:44] ForrestHilton commented on #106
I think the error message was actually harmless and can be silenced.

Also, Is it possible to make it associate any furthur files I visit with the current project? At present if I jump to definition within gesture_detector.dart to another library file, it does not associate that file with the current project.

3rd, It might not be your problem, but spacemacs/jump-to-definition no longer refreshes

[2021-07-15 02:27] ericdallo commented on #106
This behaviour of multiple file navigations use the same project already work with that fix, I don't know spacemacs but I suggest you open an issue on their project or ask on gitter

[2021-07-15 13:21] ericdallo commented on #106
@ForrestHilton the PR on lsp-mode was merged, could you test latest MELPA unstable packages of lsp-dart and lsp-mode?

[2021-07-15 15:51] ForrestHilton commented on #106
when I opened the sample flutter project with my current spacemacs set up with most recent melpa, emacs shows:
Target of URI doesn't exist: 'package:flutter/material.dart'.
 Try creating the file referenced by the URI, or Try using a URI for a file that does exist. (lsp)
This is completely new and I don't understand.

When I tried to reproduce with the example ~/.emacs from the lsp-dart readme, it

[2021-07-15 16:28] ericdallo commented on #106
This seems to be some issue with the lsp-dart setup on your machine, try to set both `lsp-dart-flutter-sdk-dir` and `lsp-dart-sdk-dir`

[2021-07-15 16:34] ForrestHilton commented on #106
this is the .emacs that doesnt work at all:

(require 'package)
(add-to-list 'package-archives '("melpa" . "http://melpa.org/packages/") t)
(package-initialize)

(setq package-selected-packages
      '(dart-mode lsp-mode lsp-dart lsp-treemacs flycheck company
                  ;; Optional packages
                  lsp-ui company hover))

(when (cl-find-if-not #'package-installed-p package-selecte

[2021-07-15 16:37] ForrestHilton commented on #106
I think the URI not found error was just a problem with the example file since I couldnt build that project.

[2021-07-15 16:46] ForrestHilton commented on #106
I have everything is working now under spacemacs. I am using the template flutter project from "flutter create". I updated everything I could think of, and I am loading the new lsp--try-open-in-library-workspace in my init.

[2021-07-15 16:47] ericdallo commented on #106
oh, you are right, the sample project is using a local deps `linear_progress_loading`, you can comment that on pubspec.yaml and it should work the `flutter pub get`

[2021-07-15 16:54] ForrestHilton commented on #106
"flutter pub get" works and so does lsp-dart in that project. It all looks good. Thankyou for your time it all looks good to me.

[2021-07-15 16:55] #106 closed

[2021-07-15 17:03] ericdallo commented on #106
released 1.19.1

[2021-07-27 19:09] gerrywastaken opened #107 "SDKs can't be located if you installed using snap on Ubuntu 20.04"
**TLDR Solution**
[code]
These paths may change in the future but you can likely find them again via `flutter doctor -v`

I'm not sure if this is an "issue", but it's a problem that I ran into and couldn't find the solution to anywhere.

**Describe the bug** (short)

The docs list `lsp-dart-sdk-dir` and `lsp-dart-flutter-sdk-dir` as optional. That appears to not be the case if you installed via sn

[2021-07-27 19:37] ericdallo commented on #107
thank you for the report!
Actually, this is not related to snap install but emacs not finding the command in your PATH. if you start emacs from terminal probably will work, but you can configure your path with `(setenv ...)` and `(genenv ...)`

The docs are correct, we may need to improve making it clear that it relies on how emacs configure your PATH.
Overall, your solution to set the SDK manuall

[2021-07-27 20:37] gerrywastaken commented on #107
What is it that should be in my path though?
[code]

It seems to me that lsp-dart is finding flutter, but it follows the simlink and treats it as if it were a link to flutter, when it's actually a link to `snap`. When the simlink doesn't actually lead it to the sdk directory but instead to `/usr/bin/` as this is where `/usr/bin/snap` lives. It then tries to find the other SDK parts relative to thi

[2021-07-27 20:51] ericdallo commented on #107
Hum, maybe it's a bug, we need to investigate...
These are the functions that do the work: https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-utils.el#L98-L121
Could you debug/call it from your project file buffer and check what's the issue?

[2021-07-28 01:33] ericdallo commented on #107
@gerrywastaken maybe you should take a look at this as well: https://github.com/purcell/exec-path-from-shell

[2021-07-28 09:41] gerrywastaken commented on #107
`(executable-find lsp-dart-flutter-executable)`
evaluates to
/snap/bin/flutter

Looking at the code, I'm new to lisp, but I can't see any special handling for the strange way in which all snap roads lead to `/usr/bin/snap`

I don't think you are getting from `/snap/bin/flutter` to `/home/YOURUSERNAME/snap/flutter/common/flutter` without some code to somehow use `/usr/bin/snap` to locate the real f

[2021-07-28 10:08] gerrywastaken commented on #107
@mvo5 Perhaps you could provide some input? I've searched but can't find information on how `/usr/bin/snap` locates the final application. It seems this issue also has ramifications for a similar team working on the [vs-code LSP for dart](https://github.com/Dart-Code/Dart-Code/issues/2791#issuecomment-711866042) and they were also stumped.

The code here attempts to find the flutter SDK, it does s

[2021-07-28 13:39] ericdallo commented on #107
Hum, looks a edge case indeed, maybe we should do what @DanTup did [here](https://github.com/Dart-Code/Dart-Code/issues/2886#issuecomment-711937241)? treat snap as a specific case

[2021-07-28 14:47] DanTup commented on #107
Yeah, this setup was a bit weird and I wasn't actually able to find much documentation on exactly how it's intended to work (eg. why the symlinks point to Snap) - maybe your namespace link above explains it.

I think once the Snap has bee initialised correctly, there is a valid binary on `PATH`, but if it's never been run (eg. you just installed it) then things are in a weird state. I simplified h

[2021-07-28 14:56] ericdallo commented on #107
I see, thank you for the explanation @DanTup, I'll take a closer look on that change and try to reproduce the same behavior on lsp-dart side

[2021-07-28 15:23] gerrywastaken commented on #107
@ericdallo Yeah that would work in the case of Ubuntu, but I don't believe it will on other distros and may break again in the future. I'm also not sure on the idea of directly calling stuff that was intended to be run within the locked down environment set up when run via the Snap wrapper. That's why I was asking for advice from the primary dev (`mvo5`) as they likely have a best practice way of

[2021-07-28 16:02] DanTup commented on #107
I'm not sure I understand. For me, once I find the real Flutter (the one at `/home/YOURUSERNAME/snap/flutter/common/flutter/bin/flutter`) we drop the `bin/flutter` from the end and use that as the "Flutter SDK root", then we can find all the other tools from there (eg. Dart at `bin/cache/dart-sdk/bin/dart`, Pub at `bin/cache/dart-sdk/bin/pub`, analysis server snapshot at `bin/cache/dart-sdk/bin/sn

[2021-07-28 16:05] gerrywastaken commented on #107
Oh so "/home/YOURUSERNAME/snap/flutter/common/flutter/bin" ends up in your path? Interesting, although I'm not sure how. However I tested your extension and it does indeed work so I guess I'll read the code to figure it out. :)

[2021-07-28 16:14] gerrywastaken commented on #107
Actually so it looks like this is the line that is allowing it to work for me:
[code]
https://github.com/Dart-Code/Dart-Code/blob/1db9412f2708c892be375c710f50e5cbbf406ae0/src/extension/sdk/utils.ts#L262

[2021-07-28 16:15] ericdallo commented on #107
@gerrywastaken we can take this same approach, checking if `$HOME/snap/flutter/common/flutter` is a valid file/folder in lsp-dart, right?

[2021-07-28 16:22] gerrywastaken commented on #107
We could, I'm just not sure how often it might not work. :) It will also sidestep the snap and any of it's security if you call things form that location... I think :D

The best bet would be to call /snap/bin/flutter and not it's symlink and the same for dart and then using $HOME/snap/flutter/common/flutter for anything that isn't within that path. Although I'm completely new to all of this :D

[2021-07-28 16:40] ericdallo commented on #107
Hum, I don't see any issues with that approach, as the flutter/dark sdk are really on $HOME/snap/flutter/common/flutter, but I may be wrong

[2021-07-29 16:21] scottbale opened #108 "'Error installing Dart debugger' - lsp-mode 7.0.1 doesn't have a `:download` provider registered"
**Describe the bug**

Trying to `M-x lsp-dart-dap-setup`, I get the message

    [LSP Dart] Error installing Dart debugger. Unable to find a way to install dart-debugger

With some debugging, it appears the problem is the `'dart-debugger` lsp dependency is defined as a `:download` type of dependency, but lsp mode's `lsp-deps-providers` plist does not contain an entry for `:download`.

**To Reprodu

[2021-07-29 17:20] ericdallo commented on #108
Hi @scottbale, thanks for the report, are you using latest lsp-mode from unstable melpa?

[2021-07-29 17:27] scottbale commented on #108
Hi @ericdallo. No, it looks like I got `lsp-mode` 7.0.1 as a dependency when I installed `lsp-dart` package. I'll give the latest `lsp-mode` a try here in a little while.

[2021-07-29 17:28] ericdallo commented on #108
Also make sure you have latest dap-mode as well

[2021-07-29 18:33] scottbale commented on #108
Okay, installed the latest `lsp-mode` (`20210729.732`) and `dap-mode` (`20210720.448`) from melba unstable. Still `lsp-dart` v `1.19.1`. Now I seem to be getting farther when I `M-x lsp-dart-dap-setup`. `lsp-mode` begins to download the extension...

[code]

...but it never completes. I can see the empty directory structure being created where expected, `extension/github/Dart-Code/Dart-Code/3.23.0

[2021-07-29 18:41] ericdallo commented on #108
probably some connection issue, you can try to remove the `extension/github/Dart-Code` folder and retry

[2021-07-30 01:02] scottbale commented on #108
Thanks for your prompt help @ericdallo - it seems to be working with latest `lsp-mode` and `dap-mode` (other than whatever spurious connection thing is happening). I will close this issue.

[2021-07-30 01:02] #108 closed

[2021-08-01 19:56] gcanoxl opened #109 "dap-debug cannot run flutter app as expected"
**Describe the bug**
After run `dap-debug`, `Flutter :: Debug` and `ios - emulator - iOS Simulator`。It starts the simulator successfully and doesn't work any more.  There is no any app(apart from built-in ones) on iOS Simulator device to run. And there is no any error message.

I **had already** tried to remove `.extension` folder and then executed `lsp-dart-dap-setup` again and again, but it ** s

[2021-08-01 20:06] ericdallo commented on #109
thank you for the report, I can't test the IOS simulator, could you check if that happens for android devices or is this something an IOS thing?

[2021-08-02 03:57] gcanoxl commented on #109
Oh, I tested the web program, and the error result is
![image](https://user-images.githubusercontent.com/26963009/127802449-e3dffcfa-4a1b-43f4-9780-96878b84d749.png)
As for android device, I'll be trying to test.

[2021-08-02 04:17] gcanoxl commented on #109
Sorry, the previous error caused by my wrong environment. I've fixed it by running Emacs from shell.

There's the error message when I tried to run the program on Web.
![image](https://user-images.githubusercontent.com/26963009/127803583-8452a021-fa7e-4872-be21-9544efecbb94.png)

And there's the error message when I tried to run the program on my Phone.(not simulator)
![image](https://user-images.

[2021-08-02 12:41] ericdallo commented on #109
The later one seems that you didn't accept the APK installation in the range of 10s.

[2021-08-02 13:34] gcanoxl commented on #109
Yes, you're right.

After I had turned that option on my phone,  I could use `flutter run` in shell to run the program on the phone. But when I tried to use `dap-debug` to run, it still didn't work.

![image](https://user-images.githubusercontent.com/26963009/127869839-3c75764e-e288-4f97-9895-d019d8f6367f.png)
As the screenshot shows, it always stops at `Installing.....xx/app.apk`

And the app had

[2021-08-02 13:37] ericdallo commented on #109
Hum, Could you try [this sample project](https://github.com/ericdallo/flutter_sample)? Oterwise I'll need to deep dive and understand how/test on my side

[2021-08-02 14:39] gcanoxl commented on #109
While I use your sample project, the situation is

![image](https://user-images.githubusercontent.com/26963009/127879121-7e7f0938-270e-4354-8c05-acf81c230df6.png)

[2021-08-02 14:42] gcanoxl commented on #109
While I was using your sample project, the situation is
![image](https://user-images.githubusercontent.com/26963009/127879581-ed451e88-829b-4de8-8fef-ff9a317a9c85.png)

[2021-08-02 14:43] gcanoxl commented on #109
Here's the full contents in `*Flutter :: Debug<1> out*`

[code]

[2021-08-02 14:57] ericdallo commented on #109
Oh my bad, the project was using a local package, I commented and made a commit, can you check again?

[2021-08-02 15:09] ericdallo commented on #109
Alright, so it doesn't work for your phisical phone as well? so it must be some kind of bug with some recent flutter/dark sdk version. I'l ltry to reproduce it later today

[2021-08-02 15:17] gcanoxl commented on #109
thank you very very very much!!!
If you need my help, I will help you as possible as I can!

[2021-08-02 23:03] ericdallo commented on #109
@gcanoxl Everything worked fine for my sample project, one thing I forgot to mention is that the first screen was really white 🤦🏻‍♂️ , so I updated it making the first screen another one, could you test it again?
I tested using the same flutter as yours on an android device

[2021-08-03 06:24] gcanoxl commented on #109
Oh my god!! I've solved all the problem by add ` export NO_PROXY=localhost,127.0.0.1` into `.zshrc` and `.bash_profile`.
It can run well on all devices(both iOS simulator and my real android phone).

I don't know why it has to be, but fortunately all problems have been solved now!

By the way, I think you should add my situation into FAQ section lest many other nobles run into the same problem.

[2021-08-03 06:27] gcanoxl commented on #109
Last but not least, Thanks for your patience, hope your project grows well!

[2021-08-03 12:33] ericdallo commented on #109
Cool! Would you mind opening a PR adding that to the FAQ?

[2021-08-03 17:51] gcanoxl commented on #109
Actually... I don't know when it has to be and why it has to be.... I'm not sure if I could write the FAQ well.....

[2021-08-03 17:59] ericdallo commented on #109
Maybe we can add something linking to https://github.com/flutter/flutter/issues/24854?

[2021-08-03 18:18] gcanoxl commented on #109
Yes, we should! Maybe we can write:

[code]

By the way, for now, I'm being suffered another problem,
![image](https://user-images.githubusercontent.com/26963009/128065623-6350b3e1-386b-4890-b46d-7434a1b0e4bf.png)
After I had typed Enter, the cursor would be after the comma. I must delete the comma and then write codes.
Why shouldn't the cursor be before the comma?
![image](https://user-images.git

[2021-08-03 18:25] ericdallo commented on #109
LGTM

This actually works to me 🤔
![completion-lsp-dart](https://user-images.githubusercontent.com/7820865/128066984-4c06b209-76aa-4503-bc02-c526aa090fc1.gif)

[2021-08-03 18:45] gcanoxl commented on #109
What does it mean???

Could you show me your `lsp-dart-version`? or do you know why the problem happens to me?

[2021-08-03 19:01] ericdallo commented on #109
Looks good to me :)

[code]

Not sure why, but it seems related with lsp-mode, maybe open an issue there?

[2021-08-03 19:11] gcanoxl commented on #109
But why did it work well on your machine....What configuration do you use about lsp-mode?

[2021-08-03 19:15] ericdallo commented on #109
This is my config: https://github.com/ericdallo/dotfiles/blob/master/.doom.d/config.el#L152-L179 but I don't think it's related with that issue :/

[2021-08-03 19:19] gcanoxl commented on #109
You're right... I couldn't find something helpful in your config. Maybe I'll have to open an issue there. (omg)

[2021-08-03 19:25] ericdallo commented on #109
I'm closing this one and I'll update the FAQ soon, feel free to open a new issue there

[2021-08-03 19:25] #109 closed

[2021-08-04 07:20] jeremy302 opened #110 "lsp-dart searches for "dart.exe" instead of "dart.bat" on windows"
Hi, I just installed dart (through flutter), flycheck, company....etc. When i try to execute `lsp-dart-show-outline`, I get this error:
[code]
In that directory, there exists a `dart` and `dart.bat` file, but no `dart.exe` file. using dart in the command line works just fine.
I've set `lsp-dart-sdk-dir` to the `dart.bat` directory, and `lsp-dart-flutter-executable` to `flutter.bat` (as there seems

[2021-08-04 12:33] ericdallo commented on #110
Thank you for the report @jeremy302 you need to set those variables to the root of the dart SDK and/or flutter SDK, not the path there the executable lies.
Even so, I'll double check if we are using the .bat instead of a .exe file

[2021-08-04 14:31] jeremy302 commented on #110
@ericdallo could you please elaborate on what you mean by setting those variables to the root of the dart/flutter sdk. Thanks.

[2021-08-04 15:07] ericdallo commented on #110
if your flutter executable is `C:/Users/USERNAME/Documents/flutter/sdk/flutter/bin/flutter.bat`, you can try set on emacs:
[code]

[2021-08-04 20:52] jeremy302 commented on #110
Ohk.I have tried that, but the problem still persists

[2021-08-05 01:04] ericdallo commented on #110
@jeremy302 I can't understand why it's failing for you, for some reason, it's trying to find the `dart.exe` command from your `<flutterSDK>/bin` folder but the correct path is from `<flutterSDK>/bin/cache/dart-sdk/bin`, COuld you test setting those 2 variables:
[code]

We need to get `lsp-dart-version` work, printing the correct paths.
Are you using windows via mingw or something like that?

[2021-08-06 05:44] jeremy302 commented on #110
@ericdallo Yep, that worked, thanks a lot. I'm have mingw, but I'm not using emacs with it

[2021-08-06 12:15] ericdallo commented on #110
Good, lmk if you find anything to improve, I can't understand the issue here, but like some other issues, most are fixed setting the flutter SDK and dart SDK path manually

[2021-08-07 07:27] #110 closed

[2021-08-11 13:50] jkaye2012 opened #112 "Is there any way to toggle debug painting?"
Hi all,

Thanks for this amazing package. It's an unparalleled development experience, even by Emacs standards.

I was wondering if there is any way to toggle Flutter's debug painting either through lsp or dap?

Thanks!

[2021-08-11 14:20] yyoncho commented on #112
screenshot will help.

[2021-08-11 14:41] jkaye2012 commented on #112
Sorry, screenshot of what? Flutter supports toggling debug painting by pressing "p" in the terminal. I've looked through the docs, and so far as I can tell this is one of the only debugging capabilities that I can't find exposed through either lsp-dart or dap.

To clarify, this isn't something that I think is broken, I'm just wondering if it's supported at all (and if it's not currently, if this w

[2021-08-11 15:08] ericdallo commented on #112
@jkaye2012 I use [hover](https://github.com/go-flutter-desktop/go-flutter) (I suggest you take a look, it's awesome) to develop in flutter with lsp-dart, but answering your question, it's really missing, we can easily follow the hotReload/hotRestart which works and implement that support for the other missing features during dap: https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L3

[2021-08-11 20:56] vnayar opened #113 "Readme Incorrect Instructions for dart-mode-hook"
**Describe the bug**

The README file has the following instructions:
(add-hook 'dart-mode 'lsp)

However, the variable that actually gets executed on loading of dart-mode is "dart-mode-hook". Instead this line should be:
(add-hook 'dart-mode-hook 'lsp)

[2021-08-11 21:10] ericdallo commented on #113
Thanks for the report, fixed!

[2021-08-11 21:10] #113 closed

[2021-08-12 16:20] jkaye2012 commented on #112
The dap route is what I was thinking as well. Would be really cool!

[2021-08-12 16:42] ericdallo commented on #112
I'll try to take a look and maybe add the missing ones in the weeked

[2021-08-15 10:27] prasanthkrishnan opened #114 "dap-debug: The Android emulator exited with code 1 during startup"
**Describe the bug**
I am trying to setup my doom emacs for flutter development. I am trying to launch the [flutter_sample](https://github.com/ericdallo/flutter_sample) project via <kbd>M-x</kbd> `dap-debug`. It launches the android emulator but doesnt run the app. The next time I run <kbd>M-x</kbd> `dap-debug` I get the following error

[code]

I tried the following referring to this [issue](http

[2021-08-15 14:15] ericdallo commented on #114
Thanks for the report, is this reproducible for the same project if you run `flutter run` via terminal?

[2021-08-15 14:16] ericdallo commented on #114
Could you also get the output of the `*Flutter Daemon*` buffer?

[2021-08-15 22:36] prasanthkrishnan commented on #114
`flutter run` via command line and <kbd>M-x</kbd> `flutter-run-or-hot-reload` succesfullt runs the app on the emulator.

![dap error-follow1](https://user-images.githubusercontent.com/6378815/129494640-934a5001-de7d-4d9b-a501-a7b7229a8dfc.gif)

[code]
@ericdallo
Feel free to ask more info. Thanks for looking into this!

[2021-08-15 22:43] ericdallo commented on #114
@prasanthkrishnan my guess is that is a issue with the debugger extension we use (the same for vscode), could you check if changing `lsp-dart-dap-extension-version` to latest (`"3.25.1"`) fixes the issue?

[2021-08-15 23:03] prasanthkrishnan commented on #114
To do that in doom emacs, steps are,
- delete dart-code-3.23.0.vsix
- Add this to config.el `(setq lsp-dart-dap-extension-version "3.25.1")`
- doom sync
- Rerun <kbd>M-x</kbd> `lsp-dart-dap-setup`

Do you have anyone in particular, I am new to android development!
@ericdallo

[2021-08-15 23:10] ericdallo commented on #114
Same error?

Usually, I test with Nexus 5/Nexus 5x

[2021-08-15 23:13] prasanthkrishnan commented on #114
Wanted to confirm the steps, give me a sec, I will report back!

[2021-08-15 23:27] prasanthkrishnan commented on #114
After installing dap vs code extension 3.25.1 and running nexus 5 API 30 emulator i get the same error. The app runs without issues with `flutter run`
@ericdallo

[2021-08-15 23:35] ericdallo commented on #114
Hum, I'd like to confirm if that could be a debugger issue.
Maybe @DanTup can help debug this on the debugger side?

[2021-08-15 23:39] prasanthkrishnan commented on #114
If it helps debugging, I am down for a screenshare session via discord / meet.

[2021-08-16 14:22] DanTup commented on #114
I'm not very familiar with how things work in emacs-lsp so I'm not exactly sure what's wrong here. Is this issue when trying to launch the emulator, or run the app? These are two separate steps:

- The emulator is launched via the daemon (or via `flutter emulators --launch foo`)
- The app is run with `flutter run` which requires a device to already be available (in the case of an emulator, that it

[2021-08-16 14:29] ericdallo commented on #114
@DanTup thank you! @prasanthkrishnan could you try creating a new launch configuration with that `sendLogsToClient: true`setting?
You can follow [this example](https://emacs-lsp.github.io/dap-mode/page/configuration/#java) where it calls `dap-register-debug-template`

[2021-08-17 07:34] prasanthkrishnan commented on #114
I added the following config.el and tried `dap-debug`
[code]
There was no additional logs.

What i noticed is this, for the first time the emulator is starting fine but the app is not starting after the emulator comes up. When i try `dap-debug` again, it show the error mentioned above.
[code]
I think it because there is already an existing emulator. So the problem here looks like the app not start

[2021-08-17 07:57] DanTup commented on #114
What happens if you run `flutter emulator --launch Pixel_4a_API_30` from a terminal?

[2021-08-17 08:13] prasanthkrishnan commented on #114
[code]

[2021-08-17 08:22] DanTup commented on #114
So it seems like starting the emulator works as long as it's not already running.

@ericdallo how does starting the emulator work in lsp-dart? Is it part of starting the debug session or separate? If the same, does it check the device isn't already running before trying to start it? Could it be trying to load it each time, and this error preventing it from then starting the debug session via the D

[2021-08-17 12:48] ericdallo commented on #114
Good point @DanTup @prasanthkrishnan, probably it's missing some check that use to not be a issue before on lsp-dart, @DanTup how Dart-Code check if the emulator is already running? I can try to implement the same check

[2021-08-17 13:16] DanTup commented on #114
Dart-Code doesn't really launch on emulators, only on devices. So whenever you try to launch if there is an active device (or one explicitly specified), it will use that. If not, it shows a list of emulators and you can pick to launch one, but it just relies on the fact that it will shortly turn up in the device list when it's finished booting, so it will then auto-select that and use it.

So it n

[2021-08-17 13:42] ericdallo commented on #114
Thank you @DanTup ! I'll try to improve that on lsp-dart side

[2021-08-18 02:28] ericdallo commented on #114
Hey @prasanthkrishnan I manage to reproduce the issue for emulators that were already running.
I just pushed to master a fix for that, lsp-dart now check if the emulator is running before try to launch and we now correctly filter the emulator to avoid duplicated emulators on the list just like @DanTup said Dart-Code does, could you confirm it works for you so I can release a fix?

[2021-08-18 19:33] prasanthkrishnan commented on #114
I test the fix and it worked perfectly.
@ericdallo @DanTup Thanks for the help!

[2021-08-18 19:35] ericdallo commented on #114
Great, thanks for the details, debugging and help @DanTup @prasanthkrishnan
I'll release a new version soon

[2021-08-19 01:07] #114 closed

[2021-08-19 06:25] shivahnshankar opened #115 "Connect to simulator and run flutter without debug mode?"
Hi
I am a bit confused about running a flutter program on an emulator/simulator without debugging. VS Code has "Start debugging" and "Run without debugging". In lap-dart, I believe we have to use dap-debug to open the emulator. Does this mean that we are always in debug mode? There are times when I can see that I have entered DAP mode (doom modeline changes to Orange) while in others I am not. Or

[2021-08-19 06:43] DanTup commented on #114
Great! :-)

Btw @ericdallo do you only ever use the Flutter version of Dart-Code's DAP, or also the Dart CLI one? I'm working on moving DAP to the SDK (and will migrate Dart-Code to it), though it'll likely be in two parts (the Dart part in the Dart SDK and Flutter part in the Flutter SDK). When it's a bit more complete it may be useful to have you try it out (it's had a little cleanup so some of

[2021-08-19 13:22] ericdallo commented on #114
Oh good to know that! lsp-dart support both flutter debugger and dart debugger so I think it depends on both?
Also, it'd be really helpful if there is a page or some docs with the available flags, last time I needed to debug Dart-Code code to see what flags it was sending and what flags the debugger was receiving 😅 anyway, thanks for the heads up, LMK when things are ready for that migration on cl

[2021-08-19 13:24] ericdallo commented on #115
You are almost right, lsp-dart uses dap to run in debug mode and normal mode, the difference is that the normal mode doesn't use the dart debugger, and runs the program like when you run on the CLI via `flutter run`, in the end, the normal mode should be a little bit faster and similar to running via `flutter run`

[2021-08-19 13:30] DanTup commented on #114
Yes, there will be one :) I haven't documented it properly yet as it's not really ready for people to use (you currently have to run it from a clone of the SDK, but it should ultimately be some SDK command like `dart dap` or similar). The Dart-Code one wasn't really intended for other clients so that wasn't well documented either (and it didn't really matter what they were called when I was both s

[2021-08-19 13:48] ericdallo commented on #114
That sounds great! thank you very much!

[2021-08-19 14:23] shivahnshankar commented on #115
Thanks. And is there a way to make sure that I always stay in "normal" mode in the configuration, unless I want to switch to debug mode explicitly?

[2021-08-19 15:23] ericdallo commented on #115
ATM there is no specific command for that, only available via code lens, but looks a good idea to create a `lsp-dart-dap-run-flutter` and `lsp-dart-dap-run-dart`, WDYT?

[2021-08-19 15:27] shivahnshankar commented on #115
Right...however, there should a way to choose the emulator/simulator/device, and the hot reload and the hot restart functionality should work as well.

[2021-08-19 16:48] ericdallo commented on #115
for that I think [flutter.el](https://github.com/amake/flutter.el) solves your issue, right?

[2021-08-25 05:25] zw963 commented on #107
There exist same issue for me.

I download the latest stable release of the fullter sdk from here.

https://flutter.dev/docs/get-started/install/linux#android-setup

After unzip, you can see a folder structure like this:

[code]

Fore more simple, struct like this

[code]

But our following code get wrong place

[code]

will return same folder as flutter binary, that result not correct.

[2021-08-25 05:50] zw963 commented on #107
Another issue is, though i set correct lsp-dart-flutter-sdk-dir, i still could not findout correct sdk folder, because

[code]

so, the only fix is, set `lsp-dart-sdk-dir` directly to correct folder.

[2021-08-25 13:12] zw963 commented on #17
Hi, @ericdallo, following is my lsp-dart-version output:

[code]

But, i always get following error output when i want to run `lsp` on dart-mode

[code]

[2021-08-25 13:26] zw963 commented on #17
BTW: following is my `(lsp-dart--server-command)`

("/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/bin/dart" "/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot" "--lsp" "--client-id emacs.lsp-dart" nil)

all path is correct, in fact, i can run server successful like this: (like a server, blocked)

"/home/public/Dropbox/linux/utils

[2021-08-25 13:30] ericdallo commented on #107
@zw963 I think lsp-dart is correct actually, there are 2 functions at lsp-dart, one called `lsp-dart-get-flutter-sdk-dir ` which should return the root of flutter folder, and `lsp-dart-get-sdk-dir ` which should return the dart SDK root folder.

That function looks correct to me, can you elaborate what do you think it's wrong?
`lsp-dart-flutter-project-p` returns `t` if your project is a flutter o

[2021-08-25 13:33] ericdallo commented on #17
Check `lsp-dart.el:127`, we actually use the correct path, the dart-sdk path (which for flutter projects is the flutter-root/bin/.cache/dart-sdk) + `bin/snapshots/analysis_server.dart.snapshot`

[2021-08-25 13:34] ericdallo commented on #17
LMK if you still think there is something to improve/fix we can discuss that on a separate issue

[2021-08-25 13:59] zw963 opened #116 "run lsp get error: The following servers support current file but do not have automatic installation configuration: dart_analysis_server"
**Describe the bug**

I am new to dart/flutter, so maybe somethings not config correct.

following is my config:

[code]
---------

My flutter folder like this

[code]

When i start to run `lsp` after enter `dart-mode`, get following error.

[code]

------------

following is my (lsp-dart--server-command) output.

("/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/bin/dart" "/home/publi

[2021-08-25 13:59] zw963 commented on #17
create #116

[2021-08-25 14:07] ericdallo commented on #116
@zw963 from your output of `lsp-dart-version`, I can see lsp-dart is corectly recognizing the project as a flutter one and the `Flutter SDK` points to your flutter root correctly (`/home/public/Dropbox/linux/utils/flutter/`).

What happens if you don't set `lsp-dart-sdk-dir ` at all?
what lsp-dart outputs when you do `M-:` `(lsp-dart-get-flutter-sdk-dir)`?
what lsp-dart outputs when you do `M-:` `

[2021-08-25 14:11] zw963 commented on #116
Same error.

"/home/public/Dropbox/linux/utils/flutter/"

"/home/public/Dropbox/linux/utils/flutter/"

[2021-08-25 14:13] ericdallo commented on #116
so that's the issue, `(lsp-dart-get-sdk-dir)` should output `"/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk"`, we can try to debug this function now.

[2021-08-25 14:14] ericdallo commented on #116
`M-:` `lsp-dart-sdk-dir` (just to confirm the variable is not set)
`M-:` `(lsp-dart-flutter-project-p)`
`M-:` `(-some-> (executable-find "dart")
        file-truename
        (locate-dominating-file "bin")
        file-truename)`

[2021-08-25 14:15] zw963 commented on #116
t

"/home/public/Dropbox/linux/utils/flutter/"

[2021-08-25 14:18] ericdallo commented on #116
Alright, could you debug each part of:
[code]
?

[2021-08-25 14:23] zw963 commented on #116
result:

"/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/"

each part:
dark-sdk => (expand-file-name "bin/cache/dart-sdk/" (lsp-dart-get-flutter-sdk-dir)) => "/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/"

(file-exists-p dart-sdk) => true

[2021-08-25 14:25] ericdallo commented on #116
Oh, that's odd, are you sure `(lsp-dart-get-sdk-dir)` is returning `/home/public/Dropbox/linux/utils/flutter/` and not `/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/`?

[2021-08-25 14:36] zw963 commented on #116
Wired, when i this time run M-: (lsp-dart-get-sdk-dir) , get "/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/" when on dart buffer, I never change anythings config except follow you eval somethings on mini buffer.

"/home/public/Dropbox/linux/utils/flutter/bin/cache/dart-sdk/"

sorry, i guess some things wrong before? i test several times restart emacs daemon, (lsp-dart-get-sdk-dir) a

[2021-08-25 14:39] zw963 commented on #116
so following is my new config:

[code]

[code]

[2021-08-25 15:08] zw963 commented on #116
Yes, please see my `*Messages*` output

[code]

if there is a way to output lsp debug info?

BTW:  my lsp work well with rust-mode and lsp-rust anyway, so, at least, lsp is working on another mode.

[2021-08-25 15:18] ericdallo commented on #116
hum, that's really weird, could you test if it works for [this sample project](https://github.com/ericdallo/flutter_sample)?

I can't see any reason why it's not working as `(lsp-dart-get-sdk-dir)` returns the correct folder

[2021-08-25 15:42] zw963 commented on #116
@ericdallo , if you want reproduce yourself,  you can checkout my .emacs.d repo. and throw git folder somewhere, then, add those code into your's ~/.emacs, and replace `MY_CONFIG_PLACE` to git repo, and use emacs open sample repo.

[code]

[2021-08-25 16:27] ericdallo commented on #116
I can't understand why, can you confirm that `(lsp-dart-version)` prints the correct sdk dir after setting that?
Also, check the return of `(lsp-dart--server-command)`

I'd need to spend some time to test your config

[2021-08-25 16:40] zw963 commented on #116
1. i can confirm i set  lsp-dart-sdk-dir manually, because i can read this variable value.

![image](https://user-images.githubusercontent.com/549126/130830462-ebd2c394-7d72-40ed-bdc9-41ac2c6a77c3.png)

--------------

2. following is (lsp-dart-version) output:

![image](https://user-images.githubusercontent.com/549126/130830586-cb00d3f7-2be7-4aaf-81fa-fde01b6a0dac.png)

---------------

3. Follow

[2021-08-25 16:43] ericdallo commented on #116
Everything looks correct, what happens if you run on terminal:
[code]

[2021-08-25 16:46] zw963 commented on #116
Wired, i found i can run `(lsp)` successful when use dired open dark sample project, but without open dart file,

 but, only when i try to open lib/main.dart, get old error.

Blocked on my terminal, like a web server.

![image](https://user-images.githubusercontent.com/549126/130831510-af61e4ac-b5c0-44cf-a0aa-1ca251adb032.png)

[2021-08-25 16:52] ericdallo commented on #116
so the command is perfectly correct, for some reason, lsp-mode is not being able to launch that command, I suspect it's related with your config. There is a way to confirm it's your config, you can try use [lsp-start-plain.el](https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el), it will launch a emacs with very basic config and everything that needs to lsp-dart works

[2021-08-26 08:52] zw963 opened #117 "Debug session process exited with status: killed"
**Describe the bug**

I am a new to dap, when i want to use dap-mode to debug a working flutter, i get following error.

Debug session process exited with status: killed

**To Reproduce**

Following is minimum config:

[code]
After use this config open a dart file in a flutter project.

### run lsp success.

[code]

### run lsp-dart-dap-setup successful

[code]

### Try debug on line 4

![image](h

[2021-08-28 06:17] shivahnshankar opened #118 "Code Action (Wrap with Widget) moves cursor to parent Widget"
**Describe the bug**
If i keep the cursor (point) on a Widget and select "Wrap with Widget..." from the Code Actions menu on the right, a new widget by name "widget" is created but the cursor now moves to the parent widget. So i have to now scroll down, and rename the "widget" to whatever i want.
In VSCode, the same thing happens but the new parent Widget called "widget" is selected and highlighte

[2021-08-28 13:18] ericdallo commented on #118
Thanks for the report!

I'm not sure what would cause that, I'll try to repro and understand what server is sending back to client

[2021-08-28 14:30] ericdallo commented on #118
I confirmed the issue, maybe Dart-Code's maintainer, @DanTup can help us understand if Dart-Code does anything after that code action is applied?

[2021-08-28 14:37] #116 closed

[2021-08-28 18:52] DanTup commented on #118
@ericdallo Yep, LSP doesn't natively support what we need here, so to support this we use an _unofficial_ LSP extension created by the Rust team:

https://github.com/rust-analyzer/rust-analyzer/blob/b35559a2460e7f0b2b79a7029db0c5d4e0acdb44/docs/dev/lsp-extensions.md#snippet-textedit
https://github.com/microsoft/language-server-protocol/issues/724

The server support is here:

https://github.com/da

[2021-08-28 19:11] ericdallo commented on #118
Oh, now I see, quite a hack :)
Thanks, that really makes sense now, I'll check how Dart-Code do that and try to do something similar from lsp-dart side

[2021-08-28 19:20] DanTup commented on #118
I wouldn't call it a hack, it might one day be part of LSP proper and possibly very similar to it's implemented there, but it is a bit awkward. I/we decided it was an annoying enough issues that it was worth implementing even if not standard (although mostly I'd prefer to wait for standards). Unfortunately LSP moves quite slowly (which is not entirely a bad thing given a lot of clients/editors imp

[2021-08-28 19:23] DanTup commented on #118
Oh btw, we put a flag in for it in VS Code even though it defaults to on, so that if there are ever any issues (for ex. it becomes standard but is slightly different, or we find bugs in the snippet handling/generation) it's easy for users to disable (or us to ship a new default to turn it off without an SDK release).  This prevents the client advertising support for it, which prevents the server g

[2021-08-28 19:26] ericdallo commented on #118
yes, I totally agree that makes sense for the LSP spec, thanks for your attention and explanation!

[2021-08-29 00:25] #115 closed

[2021-08-29 00:29] ericdallo commented on #115
@shivahnshankar just released a new version adding a new command `lsp-dart-run`, which should be specific for running any flutter or dart app without debugging with support for passing custom args as well :)

[2021-08-29 14:18] #73 closed

[2021-08-30 14:27] zw963 commented on #117
Hi, i report to flutter upstream,  https://github.com/flutter/flutter/issues/89132

and they seem like confirm this is a issue, so i close issue for now.

[2021-08-30 14:39] ericdallo commented on #117
good, thanks!

[2021-08-31 14:28] jeremy302 opened #119 "completion inserts raw arguments"
Hi, I just started using emacs and lsp-dart, anytime I use the completion feature to complete something like a method, instead of the parameter names to be inserted and allow tabbing between parameters (<TAB> to go to the next parameter, and S-<TAB> for the previous parameter) just like with yasnippets and company+irony, rather the raw arguments are inserted and the point is at the end of the inse

[2021-08-31 14:36] ericdallo commented on #119
Thanks for the report!

That's a odd behavior, for me it works perfectly:

![lsp-dart-completion-tab](https://user-images.githubusercontent.com/7820865/131522136-5e73ae1b-4b13-4ffd-af5e-fe1785ed0b7c.gif)

I suspect you don't have [yasnippet](https://github.com/joaotavora/yasnippet) properly installed?
(if this is the issue, we probably need to add that as a dependency for lsp-dart, right @yyoncho?

[2021-09-07 17:51] yyoncho commented on #119
the issue is that yasnippet mode is not enabled.

[2021-09-07 18:36] #119 closed

[2021-09-13 04:38] sysint64 opened #120 "lsp-dart-line-length stopped working on flutter 2.5"
**Describe the bug**
`lsp-dart-line-length` stopped working on flutter 2.5. On version 2.2 it works fine.

**To Reproduce**
Install flutter 2.5 and set the line length to 100 symbols;

[code]

format buffer with `lsp-format-buffer`

[2021-09-13 12:52] ericdallo commented on #75
@laynor maybe the flag changed or something on dart sdk 2.14, could you try with a older version of flutter just to confirm?

[2021-09-13 13:03] ericdallo commented on #120
I'll take a look at this, probably something related with dart sdk bump

[2021-09-13 13:17] ericdallo commented on #120
yeah, I confirmed the issue happens on dart 2.14.0 but not on dart 2.13.1.
@DanTup do you know if there was introduced any regression or new variable to control the line length during formatting? I checked Dart-Code but I didn't see any changes about that

[2021-09-13 13:25] ericdallo commented on #120
This is how lsp-dart is sending the `workspace/configuration` response after changing the default from 80 -> 100:
[code]

[2021-09-13 13:26] DanTup commented on #120
There was [a change recently to support per-workspace config](https://github.com/dart-lang/sdk/commit/c88193538d78408f3523ad11126dc28136a1b476). Are you able to capture the traffic (or use `--instrumentation-log`) for a session where this doesn't work for me to check?

It should be falling back to the original workspace-level config when there's no folder config, but I wonder if something is going

[2021-09-13 13:27] DanTup commented on #120
@ericdallo do you have the request that the server sent to you that this responds to?

[2021-09-13 13:32] ericdallo commented on #120
sure, the server request was:
[code]

[2021-09-14 11:20] DanTup commented on #120
@ericdallo the "dart" in your response looks suspect. When I log from VS Code, I see a request from the server like this:

[code]

And VS Code responds like this (note there's no "dart" anywhere):

[code]

Although the LSP spec doesn't seem to be very clear about this.

[2021-09-14 12:34] ericdallo commented on #120
@yyoncho can you help understand what is the probably expected behavior?
Even so, the best would be to fix on lsp-dart/lsp-mode somehow otherwise we would need to wait for another dart-sdk update + flutter update which may take some time

[2021-09-14 13:11] DanTup commented on #120
I don't think the spec is very clear, but there is some discussion in https://github.com/microsoft/language-server-protocol/issues/972 which I think matches the Dart/VS Code stuff above - that is if a server asks for `"dart"` configuration, the returned object is already scoped to `"dart"` and should not have all the values wrapped inside another `"dart"`.

If it seems like there are many editors/

[2021-09-14 13:21] ericdallo commented on #120
thank you @DanTup, that makes sense to me indeed.
@yyoncho do you think we can change the lsp-mode response unwrapping the returned item? I don't know any other server that uses `workspace/configuration` so I'm not sure if a lot of servers would be affected though

[2021-09-23 17:54] jeremy302 commented on #119
Yes, that was the problem in my case.

[2021-10-04 04:25] yyoncho commented on #120
@ericdallo makes sense

[2021-10-04 04:28] yyoncho commented on #118
FTR we support that for rust, so maybe it just have to be enabled for dart.

[2021-10-04 09:23] DanTup commented on #118
Probably controlled by this `snippetTextEdit` in `experimental` here?:

https://github.com/emacs-lsp/lsp-mode/blob/8f9259af6fc80a609c2c068d0f59c371205aca89/clients/lsp-rust.el#L803

[2021-10-09 15:43] ericdallo commented on #118
@DanTup yes! I just tested adding that flag and it worked perfectly, thank you!
@shivahnshankar available on next 1.19.4 release :)

[2021-10-09 16:01] ericdallo commented on #120
So can we say it's something that changed on the newest dart SDK @DanTup ?

[2021-10-09 17:20] DanTup commented on #120
@ericdallo the last request/response posted above don't look right to me. The request is asking for two items:

[code]

But the response contains only one:

[code]

The items in the resulting array need to match up with the request:

https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_configuration

The server will ignore the response if the number

[2021-10-09 17:22] DanTup commented on #118
Great, glad to hear! Do let me know if you hit any issues with it.

[2021-10-09 17:50] ericdallo commented on #120
I see, it makes sense to me indeed!
So we probably need to fix lsp-mode to return the matching items, right @yyoncho ?

[2021-10-09 20:34] ericdallo commented on #120
Confirmed it works indeed :)
Thank you @yyoncho and @DanTup for the help on this!

[2021-10-09 20:34] #120 closed

[2021-10-09 20:35] ericdallo commented on #120
Available on next 1.19.5 release @sysint64

[2021-10-16 17:30] ericdallo commented on #107
@Walheimat `lsp-dart-run` uses `dap-mode` under the hood that as you can see [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L158) get the dart sdk, so configuring it correctly it should work 🤔
Also, your workaround expect `flutter sdk-path` works, but I suspect only recent flutter versions have that?

[2021-10-16 17:47] Walheimat commented on #107
Ah, interesting.

Not sure how this works, but I notice that `(lsp-dart-get-sdk-dir)` resolves to either the correct path or just `"/usr/"` depending on the buffer I evaluate it in ...

As for the other question: No idea, I just started learning Flutter this week. I don't propose this as an actual solution, but that's how I got things working okay-ish.

[2021-10-16 18:05] ericdallo commented on #107
@Walheimat the `(lsp-dart-get-sdk-dir)` checks the current buffer to know if it's a flutter project, so running from a flutter project evals to something otherwise it tries other ways

[2021-11-13 11:48] p4-k4 opened #122 "lsp-dart-dap-setup freezes up"
`lsp-dart-dap-setup` freezes up . clean and bare install of emacs.
seems as if it's not able to fetch the extension as the directory below is empty.

any quick workaround for this? cheers!

[code]

**Version**

https://i.imgur.com/qJYXX8r.png

[2021-11-13 12:16] p4-k4 commented on #122
I've downloaded and installed vscode with the dart extensions, then pulled out the debug.js file from the extension install.
That seems to work ok but what's the problem with not being able to use `lsp-dart-dap-setup` as expected?

[2021-11-13 14:41] ericdallo commented on #122
@p4-k4 this sounds like corrupted downloaded debugger extension or wrong node version, not sure, maybe try to delete what lsp-dart downloaded and try the command again?
In future releases we should use the debugger from dart SDK and running lsp-dart-dap-setup would not be necessary anymore 🤞🏻

[2021-11-13 20:31] p4-k4 commented on #122
thanks for that. yeah it seems as though lsp-dart sets up this dir `/Users/paka/.emacs.d/.extension/github/Dart-Code/Dart-Code/3.25.1/extension/`) but from "extension", is empty which tells me somethings wrong with the download or the release file that it downloads?

When manually downloading this release (https://github.com/Dart-Code/Dart-Code/releases?page=2) I also couldn't find the debugger th

[2021-11-14 00:57] ericdallo commented on #122
@p4-k4 I just tried on a clean project and clean emacs and I can't repro the issue, the extension folder looks correct after `lsp-dart-dap-setup`:
![image](https://user-images.githubusercontent.com/7820865/141663508-eb97a9a0-9f9a-439f-8d07-a6f64a2123a1.png)

Maybe some issue with your emacs to unzip or when downloading?

[2021-11-14 01:00] p4-k4 commented on #122
Might I say, I'm not using vanilla emacs so yeah could be the case (currently using doom emacs). I'll investigate further. Thanks

[2021-11-14 01:04] ericdallo commented on #122
I use doom-emacs as well, so I'd discard that, do you have npm/node on your PATH? since we use that for npm installing the debugger, unfortunately

[2021-11-14 01:32] p4-k4 commented on #122
I've installed both with homebrew, after adding homebrew to PATH, it seems like `lsp-dart-dap-setup` wants to start downloading it.

`LSP :: Starting to download https://github.com/Dart-Code/Dart-Code/releases/download/v3.25.1/dart-code-3.25.1.vsix to /Users/paka/.emacs.d/.extension/github/Dart-Code/Dart-Code/3.25.1/dart-code.zip...
Contacting host: github.com:443`

First attempt, it completely cr