[2021-11-14 01:32] #122 closed

[2021-11-14 01:53] ericdallo commented on #122
Yeah, this installation is something we probably can improve on dap-mode side to catch those timeouts and issues

[2021-11-18 16:40] TheWalkingFridge commented on #75
Happens to me too:
[code]

[2021-11-18 19:25] ericdallo commented on #75
@TheWalkingFridge this was fixed on 1.20.1

[2021-11-19 11:55] karbiv opened #123 "A bug in customize(defcustom)"
**Describe the bug**
Important config variables do not work in `M-x customize`. Dart SDK directories.

**To Reproduce**
Editing Dart SDK directories in `M-x customize`.
Widgets in _Customize_ disappear after clicking on them.

Current code with the bug:
https://github.com/emacs-lsp/lsp-dart/blob/9c3ba0a27e8ad3b7fa16c553d8a1815db82b8638/lsp-dart-utils.el#L27-L42

**Solution**

`nil`s in `:type` of

[2021-11-19 13:20] #123 closed

[2021-11-19 13:20] ericdallo commented on #123
Thank you, fixed!

[2021-11-24 09:22] clement-buchart commented on #112
If anyone is interested I implemented this for https://github.com/akinsho/flutter-tools.nvim which is the neovim cousin of this project

It involves listening to the `dart.serviceExtensionAdded` dap event and maintaining a local map of (serviceExtension -> isolateId), and when debugPaint is requested sending a dap request "callService" with a body like :
[code]

It's a bug more involved than the s

[2021-11-24 14:18] ericdallo commented on #112
Thank you @clement-buchart that should certainly help with this on lsp-dart :)

[2021-12-09 09:04] laynor commented on #120
I'm still stuck with non-working `lsp-dart-line-length` setting, even though my `lsp-dart` version is `1.20.0`.
How can I fix it?

[2021-12-09 12:25] ericdallo commented on #120
What's your dart-sdk/flutter-sdk version @laynor ?

[2021-12-11 15:48] laynor commented on #120
@ericdallo I do not have a `lsp-dart-version` command - I have `lsp-dart-version-string`, which returns `"1.20.0"`.

[2021-12-11 15:50] laynor commented on #120
@ericdallo Here it is
[code]

[2021-12-11 17:28] ericdallo commented on #120
@laynor I just tested with latest flutter (2.8.0, dart 2.15.0) and latest lsp-dart `1.20.1` and it works properly after setting: `(setq lsp-dart-line-length 100)`, could you bump lsp-dart to latest?

[2021-12-16 08:48] gnumonk opened #124 "dap-debug is not opening chrome/browser when selected."
When Selected browser - Chrome , it always open emulator or the device which is connected.

Below is the LSP doctor report .
Checking for Native JSON support: OK
Check emacs supports `read-process-output-max': OK
Check `read-process-output-max' default has been changed from 4k: OK
Byte compiled against Native JSON (recompile lsp-mode if failing when Native JSON available): OK
`gc-cons-threshold' i

[2021-12-17 02:31] ericdallo commented on #124
thanks, I'll try to take a look soon

[2021-12-17 12:56] laynor commented on #120
@ericdallo Can confirm it's working 👍

[2021-12-21 20:57] ji6czd opened #125 "JSON parsing error when opening .dart file"
I can't open the .dart file.
When I open the .dart file, I get the following error message:
error in process filter: End of file while parsing JSON: "premature end of input", "<string>", 1, 1024, 1024 [12 times]

**To Reproduce**
1. Run Emacs.
2. Open .dart file.

**Version**
[LSP Dart] 1.20.1 at 2021.12.22 @ Emacs 27.2
[Dart SDK] Dart SDK version: 2.15.1 (stable) (Tue Dec 14 13:32:21 2021 +0100)

[2021-12-21 22:30] ericdallo commented on #125
@ji6czd sounds like a issue on dart-mode or something, could you try with lsp disabled?

[2021-12-22 01:20] ji6czd commented on #125
Thank you for your comment.

I tried disable lsp-mode.

1. Open .dart file.
  (Dart yas company flyc-) mode enabled.
2. Enabling lsp-mode.
    M-x lsp-mode
3. Error message displayed.

Is there anything else I should try?

[2021-12-22 13:41] ericdallo commented on #125
Yes, could you `M-x` `toggle-debug-on-error` and repro the issue again? it should print a stacktrace of the error so we can know from where this error comes

[2021-12-22 19:31] ji6czd commented on #125
I noticed that XCode is being updated automatically.
I launched XCode and reinstalled the required components.
I was able to solve the lsp-mode problem.
Thank you for your support.

[2021-12-22 19:31] #125 closed

[2021-12-31 15:53] zw963 opened #126 "Is there a way to set -target=lib/main_local.dart globlly?"
we development with flutter, but we only use `lib/main_local.dart` as local development entry.

i found there is no easy way to set this. when `dart run`, i have to specify this args with C-u

when run dap-debug, i have to do so again.

is there exist another way to do this? as like VSCode, (it use .vscode/launch.json)

thank you.

[2021-12-31 20:08] ericdallo commented on #126
We could add a custom variable to add additional args to the run, would this be enough?
Then if you like for all users of the project to have that variable you could add a .dor-locals.el file to the project root setting that variable to the value you want

[2022-01-01 04:32] zw963 commented on #126
Yes, maybe environment variable is more better.

[2022-01-01 05:36] zw963 commented on #109
I am so tired of why dap-debug not work with my config, @ericdallo , could you please share a one file .emacs config (use packet mananger if need), which i can try if i can reproduce it on my local ?

Thank you.

[2022-01-01 06:01] zw963 commented on #109
Following is my error output:

[code]

following is my debug output:

[code]

Following is emacs error output:

[code]

[2022-01-01 14:51] zw963 opened #127 "Very slow when create a new refresh dart file in flutter project and typing code myself if enable `lsp-dart-show-flutter-outline`."
**Describe the bug**

I create a new file like this:

![image](https://user-images.githubusercontent.com/549126/147848013-cd5057fb-9ecd-44ef-a997-039eb0ff0081.png)

When i start o editing this file, key strikeis very very slow, after pressing key and before char show on buffer, need wait several seconds, following is profiler result.

![image](https://user-images.githubusercontent.com/549126/14784

[2022-01-01 15:01] zw963 commented on #109
I recompile all package yesterday, native .eln and .elc, all update, i checked dap-mode, i use newest master on github, with almost all dependency recent days, no luck.

[2022-01-01 15:02] ericdallo commented on #127
Hum, that's weird, I use native-comp and can't repro this. any thoughts @yyoncho ?

[2022-01-01 15:05] zw963 commented on #109
@ericdallo , BTW, i even download and install doom emacs, with your's personal config replaced, it seem like still not work when i start a flutter project, even, when i want to start send time, it raise a error, not work anymore.

![image](https://user-images.githubusercontent.com/549126/147853550-6a62f468-9e82-4cde-9019-885ffbf80d07.png)

[2022-01-01 15:06] ericdallo commented on #109
Hum, I saw this issue somewhere, I'll try to repro that after fixing https://github.com/emacs-lsp/lsp-dart/issues/126#issuecomment-1003503667

[2022-01-01 15:13] zw963 commented on #127
Hi, i can always reproduce this. followiing is a guide:

1. start emacs with minimum config
2. open a more bigger flutter file, wait lsp start correctly.
3. run lsp-dart-show-flutter-outline, until it appear successful.
4. open another small flutter file. (it can be empty)
5.  start editing, very very slow.

[2022-01-01 15:13] ericdallo commented on #127
thanks, I'll follow that and try to understand what is happening

[2022-01-01 15:14] zw963 commented on #127
Following is a new bug output with very few packages.

Debugger entered--Lisp error: (error "Timeout while waiting for response.  Method: textD...")
  error("Timeout while waiting for response.  Method: %s" "textDocument/codeAction")
  lsp-request("textDocument/codeAction" (:textDocument (:uri "file:///home/zw963/Magpie/magpie-mobile-app/lib/pa...") :range (:start (:line 33 :character 11) :end (:l

[2022-01-01 15:18] ericdallo commented on #127
it could be a server bug as well, what flutter/dart version are you using?

[2022-01-01 15:19] ericdallo commented on #126
Fixed on master, I should release if the other issues have lsp-dart fixes

[2022-01-01 15:19] #126 closed

[2022-01-01 15:26] zw963 commented on #127
Are you reproduce success?

i tested just now, i can reproduce with only following config:

[code]

[code]

[2022-01-01 15:27] ericdallo commented on #127
Yes, it feels very smooth to me, no issues ATM 🤔
![ls-dart-issue-127](https://user-images.githubusercontent.com/7820865/147853980-718d60de-f0ac-4e9e-bee6-df3902ea830d.gif)

[2022-01-01 15:27] ericdallo commented on #127
Let me try testing with your flutter version

[2022-01-01 15:31] zw963 commented on #127
Sorry, maybe i describe not so accurately.

in fact, when i start `lsp-dart-show-flutter-outline`,  edit on current file is starting lag too.

you can add somethings, and then delete it use backspace.

[2022-01-01 15:34] ericdallo commented on #127
Even so, nothing lagging to me, will test with your flutter, one sec

[2022-01-01 15:35] zw963 commented on #127
![image](https://user-images.githubusercontent.com/549126/147854155-6678221b-f9d7-461e-a9fa-a052f533325c.png)

[2022-01-01 15:37] ericdallo commented on #127
so it could be a performance issue on flutter widget-guide, could you try disabling it? I know it's a feature that can be slow on huge buffers
`(setq lsp-dart-flutter-widget-guides nil)`

[2022-01-01 15:41] ericdallo commented on #127
@zw963 tested with your same flutter version and no signs of slowness on both features, I'm using Emacs 28 from master though, but I doubt it's related

[2022-01-01 15:41] ericdallo commented on #127
what is your output of `lsp-doctor`?

[2022-01-01 15:44] zw963 commented on #127
done, still same.

BTW: i am now test on a new created flutter project ... only one file, main.dart, and this issue never happen if not enable flutter-outline.

[code]

[2022-01-01 15:45] ericdallo commented on #127
I usually use https://github.com/ericdallo/flutter_sample for testing lsp-dart stuff

[2022-01-01 15:46] ericdallo commented on #127
This one could affect this issue:

[2022-01-01 15:52] ericdallo commented on #109
I can't repro the issue on my Xiaomi Mi 9 @zw963, after running `lsp-dart-dap-setup` and `dap-debug`, I suspect your issue is related with that error log:
[code]

[2022-01-01 15:56] zw963 commented on #127
It so wired it not log when i pull your's flutter sample.

but, i a run `flutter create new_project`, and then open it, it very lag. could you please try it use new flutter 2.8.1 create a new project then do same?

[2022-01-01 15:58] zw963 commented on #127
or, you can try on this i create just now.

[test_flutter_performance.zip](https://github.com/emacs-lsp/lsp-dart/files/7797871/test_flutter_performance.zip)

[2022-01-01 15:58] ericdallo commented on #127
Sure, will test it

[2022-01-01 16:02] zw963 commented on #127
I test use this config, a little better, but, still much slow than not enable flutter guides

[2022-01-01 16:04] ericdallo commented on #127
Everything looks pretty fast to me with your zip project 😔

![lsp-dart-issue-127-2](https://user-images.githubusercontent.com/7820865/147854678-c4b3e22d-1eaf-401b-a652-362c8f19d376.gif)

[2022-01-01 16:05] ericdallo commented on #127
No clue, sounds like some missing emacs optimization

[2022-01-01 16:06] zw963 commented on #109
Okay, in fact, i use genymotion simulator, i will try again use your's config, to identify why dap-debug not work.

[2022-01-01 16:10] zw963 commented on #127
are you install emacs use compile? could you please share your's configure config?

[2022-01-01 16:11] zw963 commented on #127
Your's emacs IDE is so so so fast!

[2022-01-01 16:13] ericdallo commented on #127
Sure, I use [doom-emacs](https://github.com/hlissner/doom-emacs) and all my OS config including emacs config is [here](https://github.com/ericdallo/dotfiles/tree/master/.doom.d)

doom-emacs is fast! it byte compiles all packages and native byte-compiles if using native-comp emacs, you can follow this to setup it: https://github.com/hlissner/doom-emacs#install

[2022-01-01 16:15] zw963 commented on #127
What i means is, your's emacs editor is compile from source code, right? could you please share  your's  configure?

[2022-01-01 16:18] ericdallo commented on #127
Oh, I use NixOS and use the emacs from [here](https://github.com/nix-community/emacs-overlay) as my config specifies [here](https://github.com/ericdallo/dotfiles/blob/master/nix/home-manager/programs/emacs.nix#L4-L5). It basically download emacs master branch and compiles it, I don't know the specific details emacsGcc overlay does though

[2022-01-01 16:39] zw963 commented on #127
I am compile emacs 28 use newest emacs-28 branch.

If you said this is emacs optimization issue, i guess maybe cause by gcmh or auto-compile, those are only two package when i test new minimum config, i will test it after compile done, let you know the result.

[2022-01-01 16:40] zw963 commented on #127
Cool linux, i am a arch linux user, some guy migrate from arch to NixOS ...

[2022-01-01 16:53] zw963 commented on #109
Let me use your's config + arch linux's emacs git (emacs 29) try to reproduce this.

at first, i have to comment following two line to make your's config work, because both of them different error.

this maybe because a font missing.
![image](https://user-images.githubusercontent.com/549126/147855566-6f5ff404-d689-4ab1-b3e3-8f66457ab84a.png)

-------------------

this cause  following error

Error

[2022-01-01 17:06] zw963 commented on #109
Hi, @ericdallo , i try your's config again.

it seem like not devices not exists issue, in fact, i connect my huawei phone directly for avoid issue.

![image](https://user-images.githubusercontent.com/549126/147855917-4931dedd-aed9-4309-b710-b1cb1cbc7701.png)

but still could not start correct use your's config + doom

[code]

Debugger entered--Lisp error: (void-function lsp--matching-clients\?)

[2022-01-01 17:06] ericdallo commented on #109
yes

I think you can but I don't see any reason why do that. you can disable with a flag on packages.el I think

[2022-01-01 17:21] zw963 commented on #127
same issue after recompile + disable GCMH mode, i will recompile again without ` --with-xwidget` option, perhaps this option cause this.

is there any other emacs optimization suit for lsp-dart?

[2022-01-01 17:26] ericdallo commented on #127
I don't think so, never saw this kind of performance issue besides configs 🤔

[2022-01-01 17:36] zw963 commented on #127
definitely not config issue, because i remove all my config, except set load path, only left following line config in my $HOME/.emacs, the only entry.

[code]

[2022-01-01 17:42] zw963 commented on #127
![image](https://user-images.githubusercontent.com/549126/147856759-d05da641-bbed-435b-8c9b-471d8e0b07b6.png)

Okay, maybe my laptop performance was too bad, is there a way to disable this feature after enable it?

[2022-01-01 17:49] zw963 commented on #117
@ericdallo , could you please help me make the last effort for make dap-debug working with dart ?

I need you help me on the CORRECT way to start a break point on a refresh new flutter application?

can we use [this](https://github.com/emacs-lsp/lsp-dart/issues/127#issuecomment-1003576977) which i send you several minutes ago to start?

i want to ensure i do this correct way.

thank you.

[2022-01-01 17:54] ericdallo commented on #127
yes, `(setq lsp-dart-outline nil)` and `(setq lsp-dart-flutter-outline nil)` should disable it

[2022-01-01 17:55] zw963 commented on #117
this command seem like works for me now on command line, because no error, a good start, right?

[code]

[2022-01-01 17:57] ericdallo commented on #109
@zw963 I just fixed my config and opened a issue regarding a PR fixing the issue on doom-emacs here: https://github.com/hlissner/doom-emacs/pull/5945, you can use my config again, I removed the pin which should work now.

[2022-01-01 17:58] zw963 commented on #117
i will use following minimum config for test.

emacs is emacs 28 master newest.

[code]

[2022-01-01 18:00] ericdallo commented on #117
@zw963 Alright, what I do is:
- run `lsp-dart-dap-setup`, this will download dap debugger.
- add a breakpoint on the desired line with `dap-breakpoint-add`
- run `dap-debug` and select the device when it prompt

Is this what you want?

[2022-01-01 18:11] zw963 commented on #117
Yes, this was what i have done, anyway, i will do it again.

[LSP Dart] Dart debugger installed successfully!

![image](https://user-images.githubusercontent.com/549126/147857266-aba4ea84-21c6-4f67-b9a5-ca35b267bb0f.png)

![image](https://user-images.githubusercontent.com/549126/147857318-b2c6087c-1153-44d5-a124-620d243384cf.png)

[2022-01-01 18:15] zw963 commented on #117
my phone is black background color in app. (not same as when run `flutter run`, it should be a click with number can be increcing.

[2022-01-01 18:17] ericdallo commented on #117
that's weird, lsp-dart just trigger the debugger from https://github.com/Dart-Code/Dart-Code/, running `node extension/out/dist/debug.js flutter`
I plan to add soon support for the debugger that is built-in on dart-sdk, but this probably wil only work for future flutter releases

[2022-01-01 18:25] zw963 commented on #117
let us try a again use xiao mi emulator.

Debug template, select Flutter :: Run.

device select Xiaomi 7

![image](https://user-images.githubusercontent.com/549126/147857556-7c5163cd-7745-4ea5-afb4-42cf198826d6.png)

![image](https://user-images.githubusercontent.com/549126/147857569-809c7da4-0351-43f1-8e5c-75ad7d8f7ed3.png)

need wait, right?

[2022-01-01 18:26] ericdallo commented on #117
@zw963 are you using flutter_sample project? the first screen is indeed white, you need to scroll to left/right (I should probably add a text on the first screen hehe)

[2022-01-01 18:28] zw963 commented on #117
okay, let me use flutter_sample, wait a minutes.

[2022-01-01 18:29] ericdallo commented on #117
oh, not really, the first screen already has context other than blank
![msg193955336-299609](https://user-images.githubusercontent.com/7820865/147857640-5230f9f8-d2f9-4698-8385-cf951f695320.jpg)

[2022-01-01 18:31] zw963 commented on #117
use flutter_sample, exist following warning:

[code]

[code]

Still running, don't know if can success.

[2022-01-01 18:32] ericdallo commented on #117
the warnings are becuse it's a outdated project, I need to update to latest flutter or create a new sample

[2022-01-01 18:35] zw963 commented on #117
It seem like still building, it spent longer time than new project.

![image](https://user-images.githubusercontent.com/549126/147857726-9e83aad7-5b7c-4b19-849f-755d070be340.png)

[2022-01-01 18:36] zw963 commented on #117
So, what we used to debug was not same as VS Code used to, right?

[2022-01-01 18:38] ericdallo commented on #117
it's the same vscode uses, but version different, you can try bump via variable `lsp-dart-dap-extension-version`, but I doubt it's related with your issue

[2022-01-01 18:43] zw963 commented on #117
Oops, sorry, i guess because china firewall issue, cause build so long time, i will break, build again. wait 1 minute

[2022-01-01 18:45] zw963 commented on #117
java.lang.Exception: Unknown or invalid session 1
	at org.jetbrains.kotlin.daemon.common.CompileService$CallResult$Error.get(CompileService.kt:60)
	at org.jetbrains.kotlin.daemon.common.CompileService$CallResult$Error.get(CompileService.kt:59)
	at org.jetbrains.kotlin.compilerRunner.GradleCompilerRunner.compileWithDaemon(GradleKotlinCompilerRunner.kt:221)
	at org.jetbrains.kotlin.compilerRunner.Gr

[2022-01-01 18:46] ericdallo commented on #117
yeah, sounds like flutter_sample is outdated somehow, maybe we need to use that zip project you sent before to test

[2022-01-01 18:57] zw963 commented on #109
okay, sorry, need to restart my OS, don't know why, `flutter run` very slowly.

[2022-01-01 18:58] zw963 commented on #117
okay, i need to restart my OS, don't know why, flutter run is blocked, very slow.

[2022-01-01 19:03] zw963 commented on #117
so, for prove this test_flutter_performance is work, this is screenshot.

![image](https://user-images.githubusercontent.com/549126/147858155-32c7dae4-9ce4-46fc-b62f-8d195956f24d.png)
[Uploading test_flutter_performance.zip…]()

[2022-01-01 19:06] zw963 commented on #117
i just run `flutter run` on command line, now, i try run it in my emacs editor use (lsp-dart-run).

It not work as expected. when i select "xiaomi" device from emacs.

[code]

[2022-01-01 19:11] zw963 commented on #117
Can we start from a more simple point, in fact, i never run `(lsp-dart-run)` success in my emacs, but, i can run  `flutter-run` successful in my emacs, how can i make lsp-dart-run work?

[2022-01-01 19:14] ericdallo commented on #117
For the record, your project zip works pretty well to me debugging:
![image](https://user-images.githubusercontent.com/7820865/147858343-91ccb1e5-c805-4f96-9aaa-30696871cedf.png)

Alright, `lsp-dart-run` just use the debugger but with a flag to run as normal mode and not debug mode

[2022-01-01 19:15] zw963 commented on #117
Whatever run `(lsp-dart-run)`, or `dap-debug`, all same not work, a white background is on my emulator.

[code]

![image](https://user-images.githubusercontent.com/549126/147858359-3088fca3-5a28-4162-9102-2b8e36309f2e.png)

[2022-01-01 19:16] zw963 commented on #117
Maybe command line have more details:

[code]

[2022-01-01 19:17] ericdallo commented on #117
That's odd, maybe some network/firewall issue? could you try with network disabled?

Also, what is printed to that lsp-dart-flutter-daemon output?

[2022-01-01 19:17] ericdallo commented on #117
That's odd, maybe some network/firewall issue? could you try with network disabled?

Also, what is printed to that lsp-dart-flutter-daemon output?

[2022-01-01 19:19] zw963 commented on #117
This one??

[code]

[2022-01-01 19:22] ericdallo commented on #117
yes, this is probably the error/issue:
[code]

[2022-01-01 19:23] zw963 commented on #117
i restart my emacs again, then run `(lsp-dart-run)`, get following log

[code]

[2022-01-01 19:24] ericdallo commented on #117
my guess: emacs spawns the node command to run the debugger, for some reason the debugger command is having issues with adb or something like that, maybe it's a bug on the debugger, not on lsp-dart or emacs.

Then the lsp-dart-run worked?

[2022-01-01 19:26] zw963 commented on #117
following is my flutter devices output:

[code]

BTW: if i enable flutter.el, and run `flutter-run`, it works, can reload, restart.

No, same,editor can disable previous running app instance, but, new instance still white background.

[2022-01-01 19:28] zw963 commented on #117
if adb exists issue, if [fluttel.el](https://github.com/amake/flutter.el) will not work too?

[2022-01-01 19:28] ericdallo commented on #117
flutter.el runs `flutter` under the hood, which is the same of running on your terminal.
lsp-dart uses always the debugger for both debug and run the code which uses the same code and interface of dap-mode, my guess is still that your issue is with the debugger, not lsp-dart or emacs

[2022-01-01 19:28] ericdallo commented on #117
does the debug work with vscode? maybe test that will help find the root cause

[2022-01-01 19:29] zw963 commented on #117
![image](https://user-images.githubusercontent.com/549126/147858598-c603d648-e764-43fc-9f8d-f403e2a1abc8.png)

[2022-01-01 19:29] zw963 commented on #117
Sure, it works

[2022-01-01 19:30] ericdallo commented on #117
so maybe vscode is passing some flag or doing something lsp-dart is not, we need to debug Dart-Code/Dart-Code code and confirm that

[2022-01-01 19:31] zw963 commented on #117
How? i remember  one friend debug my flutter app on my laptop use vscode. can you please give me some guide?

[2022-01-01 19:31] ericdallo commented on #117
also maybe @DanTup, Dart-Code's maintainer may have any clue why debugger on lsp-dart doesn't work but it does work on vscode, [ref](https://github.com/emacs-lsp/lsp-dart/issues/117#issuecomment-1003604266) of screen white frozen

[2022-01-01 19:33] ericdallo commented on #117
I think most debug code of vscode is here: https://github.com/Dart-Code/Dart-Code/blob/master/src/extension/providers/debug_config_provider.ts

[2022-01-01 19:42] zw963 commented on #117
I don't know, if following meaning debugger not work? because i saw a white background same as emacs?

![image](https://user-images.githubusercontent.com/549126/147858735-71c00eb2-b586-4dfc-bcb0-443441e3cd3f.png)

![image](https://user-images.githubusercontent.com/549126/147858823-cd62bf88-8d1e-43b2-acaa-6fdabb12b665.png)

![image](https://user-images.githubusercontent.com/549126/147858828-a9f8e72

[2022-01-01 19:45] ericdallo commented on #117
Oh, so it doesn't work on vscode too?

From your screenshot, did you add a breakpoint on `runApp`? if so that's why the blank screen right?

[2022-01-01 19:50] zw963 commented on #117
Oops, can you please confirm, if you add a break point, you device just a blank screen? i don't know ... i means it should entry home page.

[2022-01-01 19:52] zw963 commented on #117
After i click continue, it seem like current in a debug session.

![image](https://user-images.githubusercontent.com/549126/147858999-c7791ea0-b12b-4ec8-8cf2-a6a576677103.png)

i can saw app started by VS Code.

![image](https://user-images.githubusercontent.com/549126/147859012-f977e775-4701-40a0-8713-3a164b450c78.png)

So, the issue still come from emacs, we never start up app like this from ema

[2022-01-01 19:52] ericdallo commented on #117
yes, a black screen to me...

`runApp` is what run your flutter app, there is no reason to add a breakpoint there for your case IMO

[2022-01-01 19:53] ericdallo commented on #117
could you test `dap-debug` on emacs?

[2022-01-01 19:57] zw963 commented on #117
Okay, don't know why, maybe emulator used by vscode? i get the error like this

error in process filter: -map: Args out of range: 619, 1, 608
error in process filter: Args out of range: 619, 1, 608

(in fact, i meet this error like this most of time when i try to start use emacs dap-debug)

[2022-01-01 19:58] zw963 commented on #117
[{"event":"daemon.connected","params":{"version":"0.6.1","pid":26292}}]
[{"event":"daemon.logMessage","params":{"level":"status","message":"Starting device daemon..."}}]
[{"id":89635}]
[{"event":"device.added","params":{"id":"chrome","name":"Chrome","platform":"web-javascript","emulator":false,"category":"web","platformType":"web","ephemeral":false,"emulatorId":null}}]
[{"event":"device.added","pa

[2022-01-01 19:59] ericdallo commented on #117
hum, could be a lsp-dart bug, could you try `M-x` `toggle-debug-on-error` and then repro the erro again? it should print a stacktrace

[2022-01-01 20:02] ericdallo commented on #117
I need to be off for some time now

[2022-01-01 20:05] zw963 commented on #117
Debugger entered--Lisp error: (args-out-of-range 619 1 608)
  #<subr F616e6f6e796d6f75732d6c616d626461_anonymous_lambda_67>((:point 619))
  -map(#<subr F616e6f6e796d6f75732d6c616d626461_anonymous_lambda_67> ((:point 619)))
  dap--set-breakpoints-request("/home/zw963/Stocks/marketbet_crawler/config/hot_re..." ((:point 619)))
  #f(compiled-function (file-name file-breakpoints) #<bytecode 0x1ca82cd41

[2022-01-01 20:06] zw963 commented on #117
Okay, current is 4:05 +0800, before dawn, i am so tired.

[2022-01-01 20:07] zw963 commented on #117
If above backtrace useful? in fact, i give you several times, but, this time, maybe more useful because less noise.

[2022-01-01 20:07] ericdallo commented on #117
Sounds like a issue [here](https://github.com/emacs-lsp/dap-mode/blob/master/dap-mode.el#L1229)

[2022-01-01 20:08] zw963 commented on #117
Cool!  if we can fix this after tomorrow wake up? i am waiting debug feature working on emacs for a long long time.

[2022-01-01 20:09] zw963 commented on #117
you can go off for you things, if still need more detail? after send you, i will sleep ...

[2022-01-01 20:22] zw963 commented on #117
I upload all my package + downloaded dart client files  https://zw963.github.io/package.zip,  if this issue about emacs lisp code (not others), i guess you can reproduce on it, with only following config:

(require 'dart-mode)
(require 'lsp-mode)
(require 'lsp-dart)
(require 'lsp-ui)
(require 'lsp-modeline)
(require 'lsp-headerline)
(require 'lsp-treemacs)
(require 'dap-mode)
(require 'dap-ui)
(re

[2022-01-02 07:18] zw963 commented on #126
For those who need this feature, it seem like add a .dir-locals.el into my project with content like this works for me.

[code]

[2022-01-02 11:39] zw963 commented on #117
Hi, @ericdallo ,  I really found a issue which exists on my Arch Linux + following official version.

[code]

When i want to build a flutter project the FIRST TIME for a android emulator device, i must specify my device explicitly.

that, is, if i am not specify it, when i run `flutter run`, it told me  "Launching lib/main.dart on Xiaomi Redmi Note 7 in debug mode..." That device name is right, bu

[2022-01-02 11:53] zw963 commented on #117
Okay, that maybe not this issue, because, after i reboot, and create a new project, it works when `flutter run`.

i guess, we need one successful building to create the connection for flutter with genymotion, anyway, please ignore my message.

[2022-01-02 12:05] zw963 commented on #127
Not work, can we add a command to disable it if enable it unexpectedly occasionally.

BTW, if i run `lsp-treemacs-symbols` to replace the window for `lsp-dart-show-flutter-outline`, even, i never set above two variable, but, speed is normal now.

i don't know why, after bring flutter outline back foreground, it start lag again.

[2022-01-02 12:11] zw963 commented on #127
Hi, @ericdallo , i found the different!

you test code use `lsp-dart-show-outline`, but i test code use `lsp-dart-show-flutter-outline`,

if i use former command, never slow too.

I don't know the different about both command, but, it seem like flutter on have icons.

![image](https://user-images.githubusercontent.com/549126/147875254-39faa270-377f-4897-914f-6d2bf0f6f105.png)

dart one  no icon.

[2022-01-02 12:34] DanTup commented on #117
@ericdallo sorry for the delay - I scanned through the above although I'm not certain what the current state of the issue is (I'm unfamiliar with the Emacs integration). If you think it's likely something form Dart-Code's DAP (or that it may require my input to debug), please let me know!

[2022-01-02 14:27] ericdallo commented on #117
Thanks @DanTup, I out of options here as well unfortunately

[2022-01-02 14:35] ericdallo commented on #127
I doubt it's the icon, but it worth the test

[2022-01-02 14:44] zw963 commented on #127
When use with `lsp-dart-show-flutter-outline`, there add right click menu too, anyway, we need debug both of them.

[2022-01-02 14:47] ericdallo commented on #127
Good news @zw963 for me the flutter outline is slow as well!, there is certainly something to improve on lsp-dart :)

[2022-01-02 14:49] zw963 commented on #117
Can i help on debug? @DanTup , @ericdallo ?

[2022-01-02 15:23] ericdallo commented on #127
@zw963 fixed on master, keep in mind it requires latest `lsp-treemacs` as well, thank you for the report!
we were requesting code actions for each flutter item on the outline eagerly, now we only request if user right click, lazily :)

[2022-01-02 15:23] #127 closed

[2022-01-02 15:26] ericdallo commented on #117
As far as I can tell, there is something the debugger program does that is not doing only for lsp-dart, if you run flutter run works, maybe debug what flags vscode Dart-Code pass to the debugger, lsp-dart ones are [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L155-L168) and [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L243-L260)

[2022-01-02 15:47] zw963 commented on #127
@ericdallo , i try several times, both of them start lsp failed.

[code]

[2022-01-02 15:54] ericdallo commented on #127
@zw963 that error doesn't seem related, probably some bad compiled package...
make sure lsp-dart and lsp-treemacs are latest from melpa unstable

[2022-01-02 16:13] zw963 commented on #127
Okay, i will compile all package again, in fact, i compiled it several hours ago, because i add a config which adviced by lsp offical document.

[code]
And,  i use both of master, i can saw both changes are relative to this issue, if lsp-dart not work with above lsp config?

[2022-01-02 16:27] zw963 commented on #127
sorry, i need more time to test, just ignore my previous comment.

[2022-01-02 16:54] zw963 commented on #127
Hi, @ericdallo , i can confirm, when i set `(setq lsp-use-plists t)`, which recommanded by lsp official document, will cause this error.

so, should i create a new issue for this?

please check https://emacs-lsp.github.io/lsp-mode/page/performance/

[2022-01-02 16:59] ericdallo commented on #127
I never managed to make lsp-use-plists work for me, but I don't think it's a issue on lsp-dart.
I suggest you ask on emacs-lsp's discord

[2022-01-02 17:21] DanTup commented on #117
@zw963 can you describe exactly what the issue is? There were a few different things mentioned above so I'm not sure exactly which issues are remaining.

If the issue only occurs from Emacs and not VS Code, then it may be useful to capture a log from VS Code:

- Run the **Dart: Capture Logs** command
- Untick **Analysis Server** but leave everything else ticked
- Start the debug session
- Click **

[2022-01-02 17:27] zw963 commented on #117
@DanTup , okay, wait a seconds, i write somethings now.

[2022-01-02 17:50] zw963 commented on #117
Sorry, it so wired, i guess i run it successful now, right?  @ericdallo

![image](https://user-images.githubusercontent.com/549126/147884589-d193362e-ff21-4b9b-b672-707fec351003.png)

I update my node to latest 16.13.1 stable version.
I update my dart dap extension "3.28.0"

It starts to work now ...

[2022-01-02 17:52] ericdallo commented on #117
yes, you can use `dap-continue`, `dap-step-in`, `dap-step-out` and all dap-mode stuff to debug, it seems to work now :)

[2022-01-02 17:52] ericdallo commented on #117
I should bump dap-extension to latest and do a release if we confirm this issue is "Fixed" now

[2022-01-02 18:04] zw963 commented on #117
I test all button, it seem like all feature works, though, i still not familiar debug use emacs, but, anyway, it works!

I am so wired why it start working now,  i update to newest version nodejs version several month ago, but because dart dap not work, i downgrade to 14, still not work,  then i updated to 17.X newest version, not work, then i install stable 16.13.1 today, it works with this versi

[2022-01-02 18:06] ericdallo commented on #117
I intend to remove the node extension integration soon for dart sdks that already support the dap debugger, @DanTup thanks for the help!
I should release a new version soon @zw963 with those other fixes

[2022-01-02 18:09] zw963 commented on #117
Okay, happen to hear this. BTW, i test on `lsp-dart-run`, it works too, i can hot reload code as expected too.

@DanTup , Thank you very much, when i come here, all issue is gone~

[2022-01-02 18:10] #117 closed

[2022-01-02 18:15] ericdallo commented on #117
Released lsp-dart 1.21.0

[2022-01-02 18:41] zw963 commented on #117
Okay, wait a second, i will test on it.

sorry, one more question, should we start lsp mode first, then start dart-mode with lsp,  or reverse? which is better?

[2022-01-02 18:49] ericdallo commented on #117
dap-mode require lsp-mode, so lsp-mode first

[2022-01-02 20:16] zw963 commented on #117
Hi, i updated to use 1.21,0, Dart-Code/3.32.0, it works!

[2022-01-02 20:18] zw963 opened #128 "Support dart-sdk debugger instead of node debugger extension for dart-sdks that already support that"
I create a new issue for tracing support builtin extension.

[2022-01-03 13:27] zw963 commented on #117
Hi, i don't know why dap start work now after many research, i consider because i keep using old 3.25.1, never update to 3.28.0, but anyway, if this issue  happen again, i will find the reason!

[2022-01-03 17:06] zw963 commented on #127
@ericdallo , i consider if we introduce new bug after this change.

e.g.

assume current opened buffer is 1.dart, i open flutter outline, it show 1.dart outline, it was as expected.

then, i open another one 2.dart buffer in another window, outline get updated as expected too.

but, when i switch back to 1.dart,  flutter outline never updated.

All i have to do is, run `lsp-dart-show-flutter-oulin

[2022-01-03 18:40] ericdallo commented on #127
it's a old bug and not a new one, please open an issue with details so we can track the issue

[2022-01-03 18:56] zw963 opened #129 "flutten outline never refresh if jump to buffer which was opened and visible."
https://github.com/emacs-lsp/lsp-dart/issues/127#issuecomment-1004229641

[2022-01-03 19:00] zw963 commented on #117
@ericdallo , sorry, need double confirm one question, if we ever support auto add import statement when a class was be checked is missing, or, it always need use click then add import statement?

I remember before lsp-dart can auto insert import statement for me? but after update, it not support anymore, need a click to confirm, or,  just because i am remember wrong?

Thank you.

[2022-01-03 19:05] ericdallo commented on #117
AFAIK only via code actions or manually, nothing automatically

[2022-01-05 02:47] zheylmun commented on #87
Did you ever get anywhere with this @siraben?
I'm seeing the same error and am also not clear on how to wrap the debugger as @yyoncho suggests.

[2022-01-05 03:40] siraben commented on #87
@zheylmun I have not programmed in Dart for a while so haven't tested the issue.

[2022-01-05 12:51] ericdallo commented on #87
Could you both test with latest lsp-dart released this week and confirm this is still happening?

[2022-01-05 15:24] krdzo opened #130 "completion with snippets don't work"
When yasnippet is installed and enabled and you select a candidate from completion list it inserts
additional text inside the parenthesis but it doesn't delete when I start typing.
It is best seen in a video:

https://user-images.githubusercontent.com/31158143/148239814-f28eb6b5-80fc-410d-b57d-7bc8cdee8136.mp4

**To Reproduce**
I used the quickstart configuration from [lsp-dart](https://emacs-lsp.

[2022-01-05 15:34] zw963 opened #131 "lsp-dart-run can't select the correct android device if one real android device/chrome device is connected"
**Describe the bug**

First, i create a virtual device use genymotion, it name Xiaomi Redmi Note 7, it works.

Then, i connect my real android phone into this laptop, but, never authorized to debug.

![image](https://user-images.githubusercontent.com/549126/148244146-8ec66fca-0a2f-4c3c-961a-194648323650.png)

Then when i continue to debug, and select the correct devices (Xiaomi Redmi), get followi

[2022-01-05 17:43] ericdallo commented on #130
I suspect yasnippet is not enabled on your emacs properly when trying snippets, could you try `M-x` `yas-global-mode`?

[2022-01-05 20:44] krdzo commented on #130
It's unchanged.
Tried `M-x` `yas-global-mode` and tried to delete `(add-hook 'dart-mode-hook 'yas-minor-mode)` line from above config and to add:
[code]
the behavior stayed the same.

[2022-01-05 20:45] DanTup commented on #117
FWIW, the LSP server does support automatically inserting completions (the edits should be included in the `additionalTextEdits` on a completion item, although it will need resolving first). I don't know whether your LSP client supports this though.

[2022-01-06 01:56] ericdallo commented on #130
It works for me on doom-emacs with [this config](https://github.com/ericdallo/dotfiles/tree/master/.doom.d), @yyoncho can you give a hand on what is necessary to make snippets work besides that?

[2022-01-06 01:58] ericdallo commented on #117
@DanTup yes, lsp-mode does supports that and I actually use that with Clojure via clojure-lsp LSP server, it works perfectly, does Dart SDK already has this feature or we would need to add to the analysis_server?

[2022-01-06 08:23] yyoncho commented on #130
@krdzo I tested with `M-x lsp-start-plain`  and using jdtls server and it works fine(starting to type deletes the selection). I am not quite sure what is causing the placeholder not to be deleted. Can you test if other snippets with placeholders have similar behavior?

[2022-01-06 10:28] zw963 opened #132 "run `lsp-dart-run` will lose response for a long time(several mintues) and high CPU/memory usage if current connected to a device."
**Describe the bug**

Perhaps not a lsp-dart issue, anyway, let me report here, for check it out.

I use emacs with emacs-daemon, that is,  start emacs use `emacs --daemon`, then connect to server use `emacsclient`

lsp-dart-run work quite well in most of time, but, when occasionally, i am working on a dart project, then, i need working on another project, which we assume, ruby,  it not too hard t

[2022-01-06 12:52] ericdallo commented on #132
Never faced that issue, sounds like a issue with genymotion connection or something else

[2022-01-06 13:02] krdzo commented on #130
I tried other snippets and it behaves the same. Every completion that has placeholders, the placeholder is there when completed and isn't deleted when I start typing.
Tried with the above config and with `M-x lsp-start-plain`.

[2022-01-06 13:36] zw963 commented on #132
Hi, which android emulator you used?

[2022-01-06 14:02] ericdallo commented on #132
I use the emulator from android-sdk, the same that is bundled with android-studio and that flutter uses when using flutter emulators

[2022-01-06 17:47] DanTup commented on #117
@ericdallo it's already there. It does require that you're calling `completion/resolve` though (the edits are computed lazily).

[2022-01-06 17:51] ericdallo commented on #117
yes, it makes sense, via the `completion/resolveItem` right? if so, I think it should work already, do you have an dart code example

[2022-01-06 17:53] DanTup commented on #117
@ericdallo it should just work everywhere. For example if you open a completely blank `.dart` file and begin typing `File`, but select it from the completion, it should add an import for `dart:io`.

If that doesn't work, could you capture a log and see if `resolveItem` is being called?

[2022-01-06 17:58] ericdallo commented on #117
Yeah, I confirmed it works as expected with dart SDK 2.15.1!

![auto-import](https://user-images.githubusercontent.com/7820865/148428604-cabd6747-77b8-4c83-a99a-428dd7154dbd.gif)

[2022-01-06 17:59] DanTup commented on #117
Neat :) I would've expected there to be two entries - one that auto-imports from `dart:io` and one from `dart:html` I think. The difference shows up in the `details` field after resolving. It's possible there's some de-duping going on in the client though? 🤔

[2022-01-06 18:06] ericdallo commented on #117
Hum, good question, but my guess is that we have no dedupe c/c @yyoncho
Anyway, thanks for the help as always @DanTup, it seems to be some issue on @zw963 config, maybe a outdated flutter/dart SDK?

[2022-01-06 18:13] DanTup commented on #117
Possible - though it's been in there for a while. It's also possible to disable it with the `suggestFromUnimportedLibraries` setting, but it defaults to on.

[2022-01-07 04:37] zw963 commented on #117
it works too me too.

Though,  there is no auto complete candidate show for me when I create a new `test.dart` file, and when typing `File`, do you pressing some keybinding to make that candidate menu appear? can i know what is the `company-backends` value when you
complete File?

Thank you.

[2022-01-07 13:52] ericdallo commented on #117
My company-backends variable has this value: `'((:separate company-capf company-yasnippet)
 company-yasnippet)`, it shows automatically to me but it can be triggered with `C-SPC`, all of this probably because of doom-emacs, I really suggest you try it instead of manually configuring your emacs

[2022-01-09 15:41] zw963 commented on #131
BTW: i have to remove all my emulator to run app on my android phone.

because if i select android phone when run `lsp-dart-run`.

![image](https://user-images.githubusercontent.com/549126/148689427-fbcbd875-9e95-486f-a91a-6a946a89da88.png)

I get this error.

[code]

[2022-01-09 15:44] zw963 commented on #132
Hi, this issue caused by OOM, and no swap partition was created, it so surprised, 16 GB memory, open a virtualbox (win7), start a android emulator, emacs + lsp-art, docker-compose start serveral services, it is so easy to OOM.

i add swap partition, i guess the final solution is, add memory.

[2022-01-09 15:44] #132 closed

[2022-01-09 15:48] zw963 commented on #131
In fact, if both real phone + emulator connection to my laptop, neither emulator nor phone can run `lsp-dart-run` successful.

[2022-01-10 08:29] zw963 opened #133 "Is there a way to disable the auto enable of treemacs-follow-mode when run `lsp-dart-run` ?"
The reason for why i want to disable treemacs-follow-mode , please check https://github.com/Alexander-Miller/treemacs/issues/886

Thank you.

[2022-01-10 11:38] ericdallo commented on #133
Only if you define some kind of workaround advice on this function, like:
[code]

[2022-01-10 11:38] #133 closed

[2022-01-11 03:02] zw963 opened #134 "Avoid reload when i edit a ruby file which not belong to current flutter project when (setq lsp-dart-dap-flutter-hot-reload-on-save t)"
When i edit `??.rb` file in my backend project, (i use same emacs session for ruby and flutter), i can always see following log message.

[code]

In fact, which will cause quite lag for some cases, though, the real UI in device never changed as edit a dart file directly, but, there still exist a performance loss after hours editing ruby file. (in this case, never need reload any flutter UI)

[2022-01-11 13:29] ericdallo commented on #134
Yeah, we should check yaml and dart files before reloading

[2022-01-12 15:23] zw963 opened #135 "[Feature] Add a lsp-dart-dap-futter-kill command as `hover-kill`, make quit current session is possible if want to switch use another."
I use hover for development flutter for now too.

but, some times, i need start up android emulator and use `lsp-dart-run` for some reason.

after done, i guess there is no way to complete quit current lsp-dart connection session(make emacs more responseable). except close android emulator completely directly.

we have `lsp-dart-flutter-hot-restart`, but that start again after kill, so, i thought

[2022-01-13 09:24] zw963 commented on #133
Hi, @ericdallo , above hack works, but, treemacs-follow-mode will enable again at one time when use dart-lsp ...

[2022-01-13 09:28] zw963 commented on #133
but, wait , i doubt it opened by my another lsp-ruby frontend ...

[2022-01-19 04:56] zw963 commented on #133
Hi, i can confirm, lsp-dart still enable treemacs-follow-mode frequently even after i disable it manually again and again.

i never enable others mode which use lsp, so, is there exists a hook, always try to enable it?

Thank you.

[2022-01-19 12:02] xhcoding opened #136 "Unable to start debugging: TypeError: appArgs.push is not a function"
**Describe the bug**
Can not debug dart project

this is dap io:

[code]

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

**To Reproduce**

main.dart
[code]

run `dap-debug` and choose `Dart :: Debug`

**Expected behavior**
{populate}

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version**
Include here

[2022-01-19 12:14] ericdallo commented on #136
@xhcoding sounds like a outdated debugger extension, could you try removing the debugger extension at `lsp-dart-dap-debugger-path` and running `lsp-dart-dap-setup` again?

[2022-01-19 12:40] xhcoding commented on #136
I use the latest dart-code 3.22

I add some log to the  `buildExecutionInfo` funtion in `debug.js` file

<img width="664" alt="企业微信截图_16425958828542" src="https://user-images.githubusercontent.com/30917129/150132261-c618637f-e9ee-4593-9ae5-f266349c1e4d.png">

Output by dap-debug：
[code]
the type of  `appArgs` is string

[2022-01-19 12:55] ericdallo commented on #136
So you mean we should send args as a vector or something?
This is the code probably: https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L426

[2022-01-19 12:58] ericdallo commented on #136
Actually, not sure what is the issue, everything seems correct on lsp-dart side 🤔

[2022-01-20 01:28] xhcoding commented on #136
I set `lsp-dart-dap-vm-additional-args` as vector  to solve this problem.
[code]
Continue debugging, the breakpoint is not triggered,.
I don't think this is a problem with lsp-dart, so I close this issue

[2022-01-20 01:28] #136 closed

[2022-01-20 01:31] ericdallo commented on #136
@xhcoding that's odd, maybe we should change the default of ` lsp-dart-dap-vm-additional-args` to be a `[]` instead of a `""` wdyt?

[2022-01-20 01:58] xhcoding commented on #136
From this commit: https://github.com/Dart-Code/Dart-Code/commit/e6a88cf40042fdc479501b0870dd4227688a9d93,

I think `lsp-dart-dap-vm-additional-args` should be a `[]`

[2022-01-20 02:02] ericdallo commented on #136
thanks, makes sense, I made the change on master, thank you!

[2022-01-20 04:28] zw963 commented on #133
Hi, this is not a issue anymore, because i found the reason which cause treemacs-follow-mode pull file list back, it caused by https://github.com/wakatime/wakatime-mode, i disable it.

thank you.

[2022-01-20 06:57] zw963 opened #137 "`C-x 1` remove flutter-outline window unexpectly."
Please check the screenshot.

![image](https://user-images.githubusercontent.com/549126/150288714-72bee992-e538-4630-8d0a-7f8fd1bdee7b.png)

[2022-01-20 06:58] zw963 commented on #137
Sorry, should be `C-x 1` remove right flutter outline window unexpectedly.

[2022-01-20 07:10] xhcoding opened #138 "Debug dart project can not trigger breakpoints"
run `dap-debug` command and select `Dart :: Debug` ，the program does not stop at the breakpoint

set `dap-print-io` to `t` ,  server did not send the stopped event.  Everything is normal with vscode

<details>
  <summary>dap-print-io</summary>

[code]
</details>

**To Reproduce**
1. `dart create hello_world`
2. open `bin/main.dart` with emacs , add breakpoint and run `dap-debug`

**Expected behavi

[2022-01-20 07:59] xhcoding commented on #138
Everything is ok on Ubuntu ,  maybe `dap-mode` does not work well on Windows

[2022-01-20 09:12] zw963 opened #139 "Can't input char `b` when typing in dart-mode with lsp-dart."
I just report this issue here.

When i typing b, i can saw tips in minbuffer like this, it seem like treat b as a key combination's prefix key.

![image](https://user-images.githubusercontent.com/549126/150307227-3f6147ef-36cb-4c99-bacf-daf11bece002.png)

all others a-z char can typing normally.

following is my minor-mode-list, i guess some minor mode was triggered unexpectedly when typing, anywa

[2022-01-20 11:54] ericdallo commented on #137
What does `C-x 1` binding means for you? I'm not sure this is a lsp-dart or a misconfiguration or even the default behavior of treemacs, maybe ask this on treemacs?

[2022-01-20 11:55] ericdallo commented on #138
yeah, have no idea, maybe @yyoncho knows if it could be related with Windows?

[2022-01-20 11:57] ericdallo commented on #139
Sorry, have no idea, are you typing in a treemacs buffer or a normal dart one ? if so, I suggest you ask on treemacs

[2022-01-20 13:24] zw963 commented on #137
C-x 1 should be the emacs default keybinding for `delete-other-window` for any emacs version, because i consider as part of treemacs windows, so, i think it should not be closed to when `C-x 1`, as treemacs itself, it never be closed when `C-x 1`.

[2022-01-20 13:48] zw963 commented on #139
If happen again, i will create issue there, thank you.

[2022-01-20 13:48] #139 closed

[2022-01-21 05:43] zw963 commented on #131
Hi, i meet same issue when i want to run one desktop app (linux, Macos).

 i even never connect my real phone into my laptop, it can't select the correct device too.

Spawning /home/zw963/flutter/bin/flutter with args ["run","--machine","--start-paused","--target","lib/main_local.dart"]..  in /home/zw963/Magpie/magpie-desktop-app/    PID: 978677More than one device connected; please specify a devi

[2022-01-21 05:55] zw963 commented on #131
I delete my Pixel 2 emulator from android studio, it seem like not work (not restart my editor), then i delete my browser devices, then restart my editor, it works now.

[2022-01-21 09:47] xhcoding commented on #138
After analyzing vscode and Dart-Code communication data,  I found that after changing `d:` to `D:` , DAP mode can work normally.

not work:
[code]
work:
[code]
I believe this is Dart-Code's bug, I will open a issue to Dart-Code

[2022-01-21 13:22] xhcoding opened #140 "can not debug flutter app on Windows because of missing toolArgs"
When I debug flutter app with default flutter debug template, it's failed.
By debug flutter with vscode , I found `lsp-dart-dap` missing `toolArgs` in launch args .

so I edit debug template, add `toolArgs` make `dap-debug` normally, like this:
[code]
 Obviously, `"windows"` is the device id ，I hope it can be automatically populated through the debugging device I choose

[2022-01-21 13:50] ericdallo commented on #140
thanks for the report!
@DanTup is `toolArgs` necessary for the debugger work?

[2022-01-22 14:19] martin-dimi commented on #75
@ericdallo updated to 1.21. Can confirm it works :pray:  thanks

[2022-01-24 10:14] DanTup commented on #140
`toolArgs` should not be _necessary_, but if you want to specify a specific Device (rather than letting the Flutter tool decide which to use if there are multiple) you'll need to pass it.

As for the other flags here, I think structured errors are enabled by default so that flag shouldn't be required. `--web-allow-expose-url` is for web proxies when using web devices (so not required for Windows),

[2022-01-24 12:07] xhcoding commented on #138
I reopen this issue, because finally we have to solve this problem on the client side.
Look Dart-Code/Dart-Code#3796

[2022-01-24 13:13] ericdallo commented on #140
Thanks @DanTup we actually do the same on lsp-dart, I was just not sure if we should pass those args with a default or just don't pass at all if not user didn't overide

[2022-01-24 13:15] ericdallo commented on #138
@xhcoding If I understood correctly, we should always send the cwd disk label for windows as upper case? is that right?

[2022-01-24 13:22] xhcoding commented on #138
@ericdallo  Yes, your are right.

[2022-01-24 13:27] ericdallo commented on #138
Thanks, feel free to give a try, the code is on `lsp-dart-dap.el`, otherwise I can take a look later this week

[2022-01-27 10:39] zw963 opened #141 "[Feature Request] Wrap the widget under the point into another widget(e.g. container)"
Basically, we have the similar feature in left flutter outline window, as following screenshot.

![image](https://user-images.githubusercontent.com/549126/151340940-4720361b-26f0-4566-a3d3-e1c75f12ed82.png)

but, i think it not conveniently because find the widget under the point in this outline window is not so easy anyway, so i consider, we can improve this two different way.

1.  Following curr

[2022-01-29 14:27] #134 closed

[2022-02-07 14:12] zw963 opened #143 "[Feature Request] run lsp-dart-run automatically when run lsp-dart-dap-flutter-hot-reload/restart?"
This was not a bug, just a discuss.

because i binding `lsp-dart-dap-flutter-hot-restart` to a keybinding, so, i expected to this command(and ???-hot-reload) command can start `lsp-dart-run` automatically when i pressing my keybinding, that should be a reasonable default too, and, if user do native desktop development, it is more easy to terminate current app then emulator, which cause user have t

[2022-02-07 15:10] ericdallo commented on #143
If I understood it correctly, you want `lsp-dart-dap-flutter-hot-restart`/`lsp-dart-dap-flutter-hot-reload` to run `lsp-dart-run` automatically if no session is running yet?

[2022-02-07 15:54] zw963 commented on #143
Yes, i think we can more better, :smile:, in fact, `hover.el` do things like this, right?

[2022-02-07 18:26] Walheimat opened #144 "Opening devtools fails because of deprecated `pub global run devtools` command"
**Describe the bug**

Command `lsp-dart-open-devtools` runs the following:

[code]

The problem seemingly is that `pub global run devtools` is deprecated, but then attempts are made to parse the JSON that will appear on the following line after the deprecation warning.

If I replace this call with "dart devtools" instead (because I previously ran `dart pub global activate devtools`), it works.

**

[2022-02-07 18:38] Walheimat commented on #144
Following the suggestion of the deprecation warning, `dart pub global run devtools` also works.

[2022-02-07 21:37] ericdallo commented on #144
thanks, we should probably check the version and use the new command

[2022-02-07 21:47] ericdallo commented on #143
yes, feel free to open a PR

[2022-02-09 17:49] zw963 opened #145 "the exception backtrace log of flutter run not output to `*Flutter run out` buffer."
Today i spent hours for find out one bug in my code.

this bug give me a quite strange output in emulator screen, no clue, as following screenshot.

![image](https://user-images.githubusercontent.com/549126/153258111-8026b4de-a0c7-4e9d-ae29-7dfdab4606e4.png)

Finally, i found the reason. as the following exception report said when run directly from console.

![image](https://user-images.githubuser

[2022-02-09 18:01] ericdallo commented on #145
We need to debug what dap outputs, I'm busy lately so fell free to dive into this

[2022-02-09 18:12] zw963 commented on #145
Sorry, i consider this beyond my ability, for more simpler, e.g. #143,  i will try later when free.

[2022-02-10 17:40] zw963 opened #146 "Get many error after jump into current project dependency libraries with lsp-ui-peek-find-definitions."
**Describe the bug**
We use library, named. infinite_scroll_pagination, I can jump to following page successful when i run `lsp-ui-peek-find-definitions`
on PagedChildBuilderDelegate class, this was expected. but after jump into this file, that is.

/home/zw963/.pub-cache/hosted/pub.flutter-io.cn/infinite_scroll_pagination-3.1.0/lib/src/core/paged_child_builder_delegate.dart:13

I get many errors,

[2022-02-10 18:13] zw963 commented on #146
Even somethings broken when i jump to any dependency libraries, even on the entry file.

![image](https://user-images.githubusercontent.com/549126/153469903-295f4ca1-1dc0-4c21-b8f5-ca1273da2ab0.png)

Was somethings config wrong?

[code]

[2022-02-11 05:18] zw963 commented on #146
What you means of project root is for which one? my working on project, or the library?

[2022-02-11 12:31] ericdallo commented on #146
the working project, the one lsp-mode set and send to server when initializing, you can check

[2022-02-11 17:24] zw963 commented on #146
I don't know why, after i fallback to keep `(setq lsp-auto-guess-root nil)` use default value, it start to work.

thank you very much.

[2022-02-11 17:24] #146 closed

[2022-02-11 17:51] zw963 commented on #143
In fact, this one is too hard for me to contribute ... sorry.

[2022-02-12 00:27] #143 closed

[2022-02-14 08:26] zw963 commented on #143
It works when after start emacs, run lsp-dart the first time, Cool!

but, it seem like not works if start then terminate.

Following is reproduce use linux desktop:

1.  run `lsp-dart-dap-flutter-hot-restart` to start linux desktop, it works.
2.  because some reason, i close my linux desktop app.
3. try run ``lsp-dart-dap-flutter-hot-restart``
4.  I get a message:  dap--send-message: Session Flutt

[2022-02-14 14:14] ericdallo commented on #143
Hum, this sounds like a dap-mode bug :( Not sure there is anything to do on lsp-dart

[2022-02-15 16:53] zw963 opened #147 "click to add a breakpoint in project 1, then when i create a new project use flutter create, can not run this new project successful."
**Describe the bug**

Let me try to describe this issue.

1. I am working on one of my project (it name magpie-mobile-app, as log in following backtrace)

2. I guess at some time. (i do remember), i maybe click on emacs left fringe, add a breaking point temporarily, but i ignore it.

3. then after restart my arch linux, i create a new project use `flutter run test_flutter`.

4. i run `flutter run`

[2022-02-15 19:01] ericdallo commented on #147
From the stack and what you mentioned it seems to be a dap-mode issue, not a lsp-dart one

[2022-02-15 19:01] #147 closed

[2022-02-19 07:22] zw963 opened #148 "[Question] The correct way to reload the lsp-dart and flycheck after add a new package into pubspec.yml"
What is the correct way to reload the current project after add a new package into current package?

When i add a new package into my project, i have to run `dap-delete-all-sessions` then `lsp-dart-run` again to make this new package available, It seem like hot-reload or hot-restart all not take effect.

In fact, even, one or two times, after i rerun `lsp-dart-run` and i can run my app successful,

[2022-02-19 14:16] ericdallo commented on #148
to fix the errors, you can `lsp-workspace-restart` after `lsp-dart-pub-get`

[2022-02-19 14:16] #148 closed

[2022-02-20 15:15] zw963 commented on #147
Okay, i create a issue there, with a quite detailed backtrace (no compiled info)

[2022-02-28 14:49] zw963 opened #149 "High CPU usage caused by timer after update some pacakges recent days?"
I saw most of my CPU time assume consume on timer event, even, i run `dap-delete-all-sessions` close all my emulator, just keep one dart-mode buffer opened, no editing, i can saw CPU usage is high.

please see following screenshot.

![image](https://user-images.githubusercontent.com/549126/156002433-21734445-de8d-463d-805e-15cea2e696c1.png)

![image](https://user-images.githubusercontent.com/54912

[2022-02-28 15:01] zw963 commented on #149
I consider if this caused by run `lsp-dart-dap-flutter-hot-restart` or `lsp-dart-dap-flutter-hot-reload` manually?

because i always run those command manually for avoid performance issue, i saw those timer +1 after i run `lsp-dart-run`.

[2022-02-28 16:22] zw963 commented on #149
I rollback the last 40aa90d, i will report here if no this issue happen again.

[2022-03-01 01:24] ericdallo commented on #149
Yeah, I don't think the issue is on lsp-dart at all, all that logic is simple AFAIK

[2022-03-01 08:31] zw963 commented on #149
Any plan to switch to no dap-mode required version lsp-dart-run ? what i means is #128

[2022-03-01 08:56] zw963 commented on #149
I found lsp-dart run many process when i first time run `lsp-dart-run`.

![image](https://user-images.githubusercontent.com/549126/156137205-6e4ecafd-0a23-46a3-9bc1-2bf4ed0763cd.png)

This is intended?

[2022-03-01 18:34] ericdallo commented on #128
We can make lsp-dart check dart-version and use the dart-sdk debugger instead of the node one, but still use dap-mode to launch the process seems to be the better yet

[2022-03-01 18:35] ericdallo commented on #149
It doesn't sound right @zw963 , maybe you can check if it's a dap-mode issue or something you need to do/tell dap-mode to stop the process?

[2022-03-02 06:35] zw963 commented on #149
Hi, @ericdallo , at least, i know one reason which cause this issue.

Because i enable some config in analysis_options.yaml, which cause many(200+) warning populated into treemacs errorlist.

this heaven use CPU when editing, because i guess it check the syntax error aggressively and refresh this window frequently.

so, i guess this should be a issue like https://github.com/emacs-lsp/lsp-dart/issu

[2022-03-02 18:14] ericdallo commented on #149
I'm not aware of that, but probably is something with flycheck/flymake or lsp-mode, I don't think lsp-dart has anything related with diagnostics

[2022-03-02 18:26] zw963 commented on #149
I consider analysis spent longer time when many warn was raised because `analysis_options.yaml` settings.

[2022-03-02 18:43] zw963 commented on #149
In fact, i use all latest master version of those package, this issue seem like only happen when there have many warn/error on current dart project, like this.

![image](https://user-images.githubusercontent.com/549126/156427324-479df806-405f-40f5-9957-4de7b5584dc3.png)

if only several warn/error, performance is better.

[2022-03-05 16:02] ericdallo commented on #149
This sounds like something not related with lsp-dart but dap-mode or even the debugger server itself.
The `lsp-dart-dap--flutter-tick-progress-update` log is expected as is when lsp-dart receives an event from debugger server.
Maybe try to profile emacs and check what is consuming, if you don't find nothing it's probably outside emacs, like the debugger server process itself

[2022-03-05 19:44] zw963 commented on #149
I try eglot today, it seem like better performance, i will test lsp-dart again later, but for now, eglot just works, thank you.

[2022-03-05 19:44] #149 closed

[2022-03-05 19:47] zw963 commented on #149
BTW,  eglot seem like work well with dart language-server.

[code]

https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md

[2022-03-11 10:52] zw963 commented on #128
Hi, @ericdallo , could you please give some professional advice for [this](https://github.com/joaotavora/eglot/discussions/862#discussioncomment-2329315) thread?

I don't know what that `client-id` means too. :smile:

[2022-03-11 14:06] zw963 opened #150 "lsp-dart not work with a new created dart console-full project.(non flutter)"
**Describe the bug**
i create  a new project use following command:

[code]
when open this folder, and specify the correct lsp root, lsp server start failed.

Following is log:

*lsp-log*

[code]

*dart_analysis_server::stderr*

[code]

[code]

[2022-03-11 16:21] ericdallo commented on #150
Will try to repro and fix if any issues soon, thank you for the report

[2022-03-11 16:34] ericdallo commented on #150
@zw963 couldn't repro creating a new project with the same flutter version, [flutter-sample](https://github.com/ericdallo/flutter_sample/tree/new-sample).
lsp-dart starts properly to me on that repo, could you try as well?

[2022-03-11 16:35] ericdallo commented on #150
oh, it seems lsp-dart it's considering the dart-sdk of yours as `"/home/zw963/flutter/bin/snapshots/analysis_server.dart.snapshot".`, which is wrong and should be `"/home/zw963/flutter/bin/cache/dart-sdk/snapshots/analysis_server.dart.snapshot".`
Maybe some
You can see how it says it's not a flutter project which is wrong:

[Flutter project] false

[2022-03-11 16:36] ericdallo commented on #150
What are the values of `lsp-dart-sdk-dir` and `lsp-dart-flutter-sdk-dir` variable in your emacs?

[2022-03-11 16:41] ericdallo commented on #128
I commented there

[2022-03-12 09:14] zw963 commented on #150
Hi, it work well when use with flutter, current, i am trying with a dart project instead, it have a folder structure like this:

[code]

In fact, it not a flutter project indeed, it just a normally dart new project.

I never set both of them manually.

my flutter is just a git repo which live in  /home/zw963/flutter,  and only add following into PATH

[code]

I get following result when start with

[2022-03-12 09:42] zw963 commented on #150
Hi, it works now after i specify my dart sdk dir explicitly with my others config.

[code]

[2022-03-12 09:49] zw963 commented on #128
Thanks for help on eglot, though, i switch back to lsp-dart (with lsp-ui disabled for performance issue), because eglot can not start correctly after i do rename on one of file of my project.

[2022-03-12 13:10] ericdallo commented on #150
I couldn't repro following your steps on [flutter_sample](https://github.com/ericdallo/flutter_sample/tree/new-sample) indeed, not sure if there is a issue here.

[2022-03-12 16:26] zw963 commented on #150
Yes, it works on any new created flutter project for me too. (use flutter create project_name)

So, lsp-dart only support auto configuration for flutter project, not support dart (non-flutter) project, right?

[2022-03-12 16:29] zw963 commented on #150
Try to reproduce like me is trival, only need

[code]

Anyway, it works  well after i set correct dart sdk folder,  if you think this is expected behavior, i will close it.

[2022-03-12 17:26] ericdallo commented on #150
no, lsp-dart works too for dart only projects, even that project is called flutter_sample that branch was created following only your steps

[2022-03-12 17:28] ericdallo commented on #128
@zw963 I intend to implement this issue soon

[2022-03-12 18:04] zw963 commented on #150
Sorry for miss `flutter_sample` new branch, i test on it,  not work for me, always, are you sure you are not set `lsp-dart-sdk-dir` variable or maybe some environment variable (don't know if any) to teach lsp-dart to find the correct dart sdk ?

[2022-03-12 20:18] #128 closed

[2022-03-12 20:19] ericdallo commented on #128
@zw963 Done one master, could you confirm it works for you too so I can release a new version?
there is a new flag `lsp-dart-dap-use-sdk-debugger` that is `t` by default and will only work for dart SDK versions > 2.16.0.

[2022-03-13 08:32] zw963 commented on #128
Okay, after a quick test, get some result, following is details:

[code]

I try to test on `flutter_sample` on master branch.

For simple, i use linux desktop for test, so, i have to do like this to initialize it.

[code]

Then i can run `flutter run -d linux` succsssful from command line.

-----------------------

Now i start to test lsp-dart

1. use lsp-dart master branch code
2.  run lsp-dart-d

[2022-03-13 14:49] ericdallo commented on #128
It does work for me, not sure why that exception happens for you, also you don't need `lsp-dart-dap-setup` anymore if using that new flag.
All those pasted logs are unrelated to DAP, only the exception, we would need DAP communication logs, @yyoncho any suggestions here?

[2022-03-13 15:33] zw963 commented on #128
Remove json extension, keep default config, get same error.

BTW, are you try with my version flutter and dart?

I am current test it use flutter git tag `2.10.3`, maybe you can reproduce after check it out.

[2022-03-13 15:35] ericdallo commented on #128
I'm using latest stable flutte which is `2.10.3`.

[2022-03-13 16:18] zw963 commented on #128
It works for me now, i guess some network issue happen when i last time use 2.10.3 and run `flutter pub get`

anyway, i fix it by:

1. git checkout to flutter newest master
2. run flutter pub get in flutter_sample project, until it success.
3. i found it works on master
4. switch back to 2.10.3
5. it start to works.

Then i get a error when i test on `flutter_sample` project, like this.

![image](

[2022-03-13 17:24] zw963 commented on #128
Sorry for confusing!

 i think `flutter_sample` still not works for me on 2.10.3, i am messed up the branch just now, but, i can confirm
new dart analysis server works on our (bigger) project well,  even  `lsp-dart-dap-flutter-hot-reload/restart` works on our project too, i guess because "No Content-Length header" issue cause hot reload/restart not work.

I don't know why this, but maybe a network

[2022-03-13 18:36] ericdallo commented on #128
@zw963 , made one more commit fixing the output, besides that, I think everything is right, could you test that specifically?
If that works, I think we can do a release

[2022-03-14 02:07] zw963 commented on #128
Okay, i will new feature today full day, will be touch if any issue.

[2022-03-14 02:40] zw963 commented on #128
Hi, i consider will do test completely after you fix the output, because, `lsp-dart-run` not work again on my another laptop.

It seem like struke by some command, as you can see from ps output:

![image](https://user-images.githubusercontent.com/549126/158095577-093e6835-3693-492e-b93a-aadf687f7f9c.png)

[2022-03-14 11:05] zw963 commented on #128
Don't know if this is issue.

![image](https://user-images.githubusercontent.com/549126/158159711-487aa862-ef3f-4335-8f9d-1ac9d0c1c83f.png)

NavigationRailLabelType is a Enum, only none, selected, all is available, but it show to many member.

![image](https://user-images.githubusercontent.com/549126/158159757-501223a0-9b1f-4d0d-882b-22342992bea7.png)

[2022-03-14 11:57] ericdallo commented on #128
Yeah, I already fixed the output, there is nothing to fix related to that AFAIK.

If it's an issue, certainly a server issue. feel free to open an issue on dart-sdk.

[2022-03-15 14:28] victorblq opened #151 "Context/snippet menu opening to fast"
**Describe the bug**
When I type a `{` anywhere in my code, specially when is a function start the snippets menu open to fast, so when I tap `Enter` to break the line, it applies the snippet selected on the context menu oppened.

**To Reproduce**
With dart-mode on, open a file, start typing something like: `void test(){}` and try to break the line after type the first `{`

**Expected behavior**
It

[2022-03-15 23:34] ericdallo commented on #151
This happens because lsp-mode or server doesn't filter the input text, could you open a issue on lsp-mode?

[2022-03-16 00:00] ericdallo commented on #128
I'm aware of this and not sure how to improve it, but please open a new issue.

[2022-03-16 07:21] zw963 opened #152 "Can not jump to definition when current opened buffer was belong to a package. (but VSCode can)"
this issue just copy from [here](https://github.com/emacs-lsp/lsp-dart/issues/128#issuecomment-1068338118)

i fork `flutter_sample` project [here](https://github.com/zw963/flutter_sample), you can try reproduce on test_jump_to_definition branch.

Following is reproduce:

1. switch to `test_jump_to_definition` branch
2.  open lib/main.dart, hover on Dashboard, as screenshot.
![image](https://user-i

[2022-03-24 23:26] krdzo commented on #130
Hi again. I found out what was the problem here.
When you disable `yas-minor-mode` you can see the "snippet" that the LSP server has returned. In my case with the `print` function it returns
[code]
 Because the yas placeholder `$0` indicates that the snippet expansion has ended yas doesn't do anything and just leaves a active region on the placeholder.
This happens only for one argument functions

[2022-03-24 23:26] #130 closed

[2022-03-24 23:59] ericdallo commented on #130
@krdzo dart-sdk is the right repo, you can ping @dantup, the dart LSP server maintainer too if any doubts, but he doesn't use emacs, but vscode, so having the client <-> server logs are necessary to investigate further

[2022-03-29 18:20] DanTup commented on #130
I don't believe Dart is using the _wrong_ placeholder here. The LSP spec isn't very specific about how snippets are handled, but this seems to just be a difference in how VS Code and whatever is handling the snippets here behave. The spec only states:

[code]

I think the difference here is that VS Code exits "snippet mode" (such that pressing `tab` no longer jumps to a tabstop, but instead insert

[2022-03-29 18:23] ericdallo commented on #130
Yeah, makes sense to me, thank you for your input @DanTup, @yyoncho would you think we could make the behavior similar to vscode on lsp-mode or would we need to change yasnippets?

[2022-04-06 17:08] DanTup commented on #114
@ericdallo not sure if I'd mentioned this elsewhere, but using the current dev/master versions of Dart/Flutter, the SDK DAPs should be pretty good now. Info can be found here:

Dart: https://github.com/dart-lang/sdk/blob/main/pkg/dds/tool/dap/README.md
Flutter: https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/debug_adapters/README.md

To start them, you can use `dart d

[2022-04-06 17:25] ericdallo commented on #114
@DanTup yes! I implemented it some weeks ago, and released a new lsp-dart version already using it, it looks awesome!

[2022-04-06 17:27] ericdallo commented on #114
We are basically checking flutter/dart version is supports that and using it behind a enabled flag by default: https://github.com/emacs-lsp/lsp-dart/blob/01b58674842197eb565fdbaa723e9e536ae6d6ab/lsp-dart-dap.el#L198

[2022-04-06 18:16] DanTup commented on #114
Great! I thought we'd discussed it somewhere, but couldn't see where (I found this notification in my mailbox waiting to be pinged 😄).

[2022-04-07 18:44] Walheimat opened #154 "Duplicate `print` Logs When Using Node Debugger"
**Describe the bug**

Calls to `print` are inserted twice into the debug output buffer.

**To Reproduce**

1. Use the following config:
[code]
2. Call `lsp-dart-dap-setup`.
3. Create a sample project (`flutter create <name>`, should give you counter app).
4. Put a `print` statement into the `_incrementCounter` method.
5. Start a debug session using the "Flutter :: Debug" template.
6. Click on fab.

[2022-04-07 18:48] ericdallo commented on #154
@Walheimat thanks for the report, sounds related to this [recent commit](https://github.com/emacs-lsp/lsp-dart/commit/01b58674842197eb565fdbaa723e9e536ae6d6ab), I'll fix it before a new release but meanwhile using the debugger built-in on dart should be the best, also the new recommended way for recent flutter/dart sdks

[2022-04-07 18:49] ericdallo commented on #154
Any reason you have `lsp-dart-dap-use-sdk-debugger` as nil?

[2022-04-07 18:54] Walheimat commented on #154
Yes, the SDK debugger sessions randomly exit for me. I haven't had time to look into it so I just went back to the old way.

[2022-04-08 15:12] ericdallo commented on #154
@Walheimat also, the built-in dart sdk debugger only works for dart-sdks > 2.16.0, so for versions before that only the node extension is possible

[2022-04-09 07:09] Walheimat commented on #154
I upgraded, same issue.

[code]

[2022-04-09 13:49] ericdallo commented on #154
Right, it seems to happen only with flutter not dart, will test in a flutter sample

[2022-04-24 16:34] NANASHI0X74 opened #157 "lsp-dart currently seems to be broken on nixos"
**Describe the bug**
I've started using flutter again after about half a year where I worked with different tools on different things, but now I can't seem to get a working setup for emacs. I've done some experimenting- I've tried to install flutter via nix-env, via environment.systemPackages and via nix-shell with direnv, but none of those options give me a working setup.
I've seen two different

[2022-04-24 17:34] ericdallo commented on #157
I'm a NixOS/doom user as well and can assure they work pretty well, this seems to be a not lsp-dart related issue as the flutter SDK is found.
Also you can check doom is throwing some exception not related to lsp-dart, try `M-x` `toggle-debug-on-error` and repro the issue, a stacktrace will appear

[2022-04-24 17:39] NANASHI0X74 commented on #157
do you use direnv or how did you install flutter?
I've been trying to debug this for most of today and I'm kind of under pressure

[2022-04-24 17:43] NANASHI0X74 commented on #157
it gives me a stacktrace only if I manually run `M-x dart-mode`, not when I open a buffer. But the stacktrace is:
[code]

[2022-04-24 17:50] ericdallo commented on #157
I installed flutter from nixpkgs flutter derivation, but from the stacktrace it doesn't related with flutter or lsp-dart, you can check that the stack says something about `(envrc-global-mode-enable-in-buffers)`, you can probably repro that if you `M-x` `(envrc-global-mode-enable-in-buffers)`

[2022-04-24 17:53] NANASHI0X74 commented on #157
Actually, that error happens only in the scenario two I described. That I'll have to fix somehow too, but I believe there's also a separate issue to do with just lsp-dart. When I type `C-M-i` to trigger autocompletion while in insert mode in a dart file, I will get this error:
[code]

[2022-04-24 17:53] NANASHI0X74 commented on #157
so the command to the dart lsp server times out. Any idea how to debug that? 😅

[2022-04-24 17:55] NANASHI0X74 commented on #157
thanks for responding so quickly btw ❤️

[2022-04-24 17:58] ericdallo commented on #157
Right, that stack is related to lsp indeed, first we need to know if lsp is connected successfully, what `lsp-describe-session` tells you? also, there is more info [here](https://emacs-lsp.github.io/lsp-mode/page/troubleshooting/)

[2022-04-24 18:04] NANASHI0X74 commented on #157
well, there's a server running.
 `-[-] dart_analysis_server:12237`
Curiously, it seems like lsp-dart is actually starting two servers- log from *Messages* buffer:
LSP :: Guessed project root is ~/Documents/projects/satellite-app
[code]
There's also two processes running which I can see with `ps -ax|grep emacs`:
[code]

[2022-04-24 18:12] ericdallo commented on #157
That is expected, lsp-dart launches a flutter daemon in background to listen to devices connected to debug.
Just to make sure, check your project roots with `M-x` `lsp-workspace-folders-remove` and `lsp` again if removed any wrong folder.

[2022-04-24 18:19] NANASHI0X74 commented on #157
ok, yes, the project root is correct:
[code]
I removed the wrong root /home/nanashi/Documents/projects/circus, but that doesn't solve the envrc issue
(FYI to avoid confusion, I have copied the project from projects/circus/satellite-app to projects/satellite app - outside the direnv - for debugging purposes)

[2022-04-24 18:21] ericdallo commented on #157
Right, that env seems not related to this issue I guess...
So LSP is connected but you don't have any LSP feature? Find definitions, references, completion, anything?

[2022-04-24 18:23] NANASHI0X74 commented on #157
yeah, all of those requests to the lsp server seem to time out. I think I'll try enabling the lsp<->client io logging next 😅

[2022-04-24 18:33] NANASHI0X74 commented on #157
hmm. So the server seems to send an init response:
[code]

[2022-04-24 18:43] NANASHI0X74 commented on #157
does the dart lsp server itself write some logs somewhere as well? Or can I enable that?

[2022-04-24 18:51] NANASHI0X74 commented on #157
omg, after waiting for minutes the server actually starts doing something and completion, error reporting etc seem to work- but I just restarted and now it's unresponsive again 😞

[2022-04-24 18:52] ericdallo commented on #157
That's pretty weird, could you try another project?
I usually test my things on ericdallo/flutter_sample project

[2022-04-24 18:54] ericdallo commented on #157
Also, you can try a flutter not from nixpkgs, that was how we used to use flutter before the derivation, I have a flag on my config.el to use it locally when I need to test anything on older flutters: https://github.com/ericdallo/dotfiles/blob/master/.doom.d/config.el#L112

[2022-04-24 18:58] NANASHI0X74 commented on #157
ahh 🤔
hmm, yeah, when I do `flutter create sample` and open main.dart it's not nearly as bad.
Damn... I've really no idea what could be causing this, the codebase isn't really that big- cloc reports:
[code]
(files and lines of code)

[2022-04-24 19:02] NANASHI0X74 commented on #157
🤔 there's also:
[code]
which is much more than the sample project... Maybe the lsp server is parsing all of that stuff :|
I'm new to this project btw 😅

[2022-04-24 19:26] NANASHI0X74 commented on #157
we use aws amplify, which is producing all of those json files on build... but they're not the culprit. Anyway, removing .dart_tool, build and stray .idea folders from android studio solved the performance issue.
Now to debug the envrc error which seems to be unrelated to lsp-dart (though it's not a problem I've had when I previously used direnv with go and gopls)
Thanks a lot for your help 😅

[2022-04-24 19:26] #157 closed

[2022-04-24 22:14] NANASHI0X74 commented on #157
the envrc error is weird and I don't know what's causing it, but I found a workaround: after opening the buffer, do `M-x envrc-reload` and `M-x dart-mode`, that makes the issues go away 🤷🏻

[2022-05-10 09:26] zw963 opened #161 "Is there a way to hidden the upper debug menu when do lsp-dart-run ?"
Maybe this is not a lsp-dart issue, more like a question, i just ask here, thank you.

please check following screenshot.

![image](https://user-images.githubusercontent.com/549126/167596311-aa9699e2-1fa7-4f85-88ca-baa5715262d7.png)

Is there a way to disable above menu bar? anyway, it always hidden my current buffer tab name or buffer name.

[2022-05-10 14:55] ericdallo commented on #161
yes, it's from `dap-mode`, check `dap-auto-configure-features` variable, you want to remove the `controls` from that var

[2022-05-10 14:55] #161 closed

[2022-05-16 09:44] elken opened #162 "Can't launch on emulaotrs"
**Describe the bug**
Potentially a duplicate of #114, though this works on the latest `lsp-dart` and debug adapter (3.40.0).

Same behaviour, doesn't matter if the emulator has started or not.

I can `flutter run` to load apps in the emulator just fine though.

**Note**
Before logging the bug please make sure that the issue is reproducible with latest melpa packages.

**To Reproduce**
1. Clone htt

[2022-05-16 10:53] elken commented on #162
Using @ericdallo's flutter_sample I get the below stack trace

[code]

[2022-05-16 13:28] ericdallo commented on #162
@elken also, from dart sdk 2.16.0, dark has its own debugger built-in, and lsp-dart checks that [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-dap.el#L140-L141)

[2022-05-16 14:46] ericdallo commented on #162
I can test that later today @elken

[2022-05-16 14:47] elken commented on #162
I'll try on linux tonight against your sample too :)

[2022-05-18 07:47] elken commented on #162
@ericdallo any luck replicating this?

[2022-05-18 13:46] elken commented on #162
No worries! If there's anything I can provide just let me know

[2022-05-19 06:12] elken commented on #162
Glad it wasn't just me then! With pleasure, I'm quite keen to get this working :)

[2022-05-19 06:24] elken commented on #162
![image](https://user-images.githubusercontent.com/2872862/169224474-cb9f8681-cf0d-4ba0-8adf-bdd88c206856.png)

is what I get

[2022-05-19 06:36] elken commented on #162
Odd, if I try with a custom configuration I added for debugging, it seems to start launching

[2022-05-19 12:23] ericdallo commented on #162
So the debug is running properly now? just the hot reload crashes?
I created a `flutter-3.0` on flutter_sample project, could you try testing on that project?

[2022-05-19 12:25] elken commented on #162
Correct, I've been using it all day as a benchmark and (as long as it's already running) the iOS simulator works perfectly now :)

I will make a note to look into it today/tonight and report back :) Thanks!

[2022-05-19 12:57] elken commented on #162
Replied on discord but so there's a response here too; I get a truncated respoonse when I try and `dap-debug`.

![image](https://user-images.githubusercontent.com/2872862/169298562-c26ee8ca-3517-4cba-9f11-378967c0a947.png)

In terms of this issue I consider it closed, might be best to move to another for flutter 3 :)

[2022-05-19 13:04] elken opened #163 "Flutter 3 debug support issues on some cases on MacOS"
**Describe the bug**
Trying to `dap-debug` in [`flutter_sample`](https://github.com/ericdallo/flutter_sample) causes a JSON parsing error to show up.

Making a minor change in `lsp-dart-flutter-daemon--raw->response` to print the incoming response, it's truncated by something and returned in a batch.

**To Reproduce**
<will add repro-able init.el here>

**Expected behavior**

Being able to debug a

[2022-05-19 13:04] elken commented on #162
Continued in #163

[2022-05-19 13:36] ericdallo commented on #163
I can't repro that, so I think it's something specific to the json, could you paste the json that show on the lsp dart flutter daemon buffer?

[2022-05-19 13:39] elken commented on #163
It's likely due to the sheer amount of devices I have. Try adding a bunch of emulators, but JSON [here](https://gist.github.com/elken/35392c5d07cfc9b7a654065525b8ef78)

[2022-05-19 14:44] elken commented on #97
Just to clarify; this is the behaviour on vscode (the button does a hot restart not a full restart). Seems like there could be a `dap-ui-restart-button-function` or something to decide what to use to "restart" the session?

[2022-05-19 17:43] ericdallo commented on #97
yes, ATM the dap-ui-control is generic for all languages, and dart/flutter is the only one that we want this behavior, so we need to make dap-mode accept this custom behavior change c/c @yyoncho

[2022-05-19 18:50] yyoncho commented on #97
I think that restart implementation in dap-mode is incorrect and that it should somehow be generic and handle that case. But adding extension points is generally fine.

[2022-05-20 07:02] elken commented on #163
OK so this gets weirder, there's something funky with the response.

If I open the daemon buffer, go to one of the "faulty" lines and do `beginning-of-line` it takes me halfway through to where it would normally split...

[2022-05-20 07:03] elken commented on #163
https://user-images.githubusercontent.com/2872862/169472110-b7105aa0-cae5-4e88-92b7-5521c8dfb533.mov

All I'm doing is `C-a` and `C-e` (turned evil off to see if that was confusing it)

[2022-05-20 15:41] elken commented on #163
I also get the same behaviour on eglot, so it's not even related to lsp-mode :/

Is it worth @'ing DanTup to assist here?

[2022-05-20 19:04] fosskers commented on #163
Upon running `dap-debug` I get:

After the UI briefly flashes with some cool colours and UI elements.

[2022-05-20 19:23] elken commented on #163
Repro case:

1. Clone `flutter_sample`
2. Change branch to `flutter-3.0`
3. `emacs -Q -l dap.el` with the below
[code]
4. `dap-debug`
5. `Flutter :: Debug`
6. Select any emulator

[2022-05-21 07:16] elken commented on #163
So I "think" I know what's happening.

Something is truncating the buffer, nothing I do seems to resolve it. `inhibit-field-text-motion t` makes the buffer work correctly, but it doesn't make `comint-output-filter` take the whole line.

My first thought is to refactor the comint buffer to print the commands and use them as "prompts" to say anything inbetween them is the response (as long as there'

[2022-05-21 15:12] ericdallo commented on #163
@elken I can't repro the json issue, I'm starting to think it happens only on your emacs :/ I have 3 emulators including linux native device but not getting that issue, could you try using the old debugger to check if it works? you need to disable `lsp-dart-dap-use-sdk-debugger` and remember to `lsp-dart-dap-setup`

[2022-05-21 15:20] elken commented on #163
Others have reported before in the discord, so it's either related to macos or emacs-plus or something else then maybe. Not sure.

No change, it fails before it even gets to hit the debugger.

I'm working on refactoring it to include a JSONRPC version to see if that changes it.

[2022-05-21 15:21] ericdallo commented on #163
@yyoncho any suggestions on how to debug that json parse error? it seems to me something related to a minor mode or something that it's preventing beginning of the buffer works properly

[2022-05-22 09:11] elken commented on #163
Finally got around to testing on Linux, and there is indeed no issue here it seems.

So it seems to somehow related to macOS...

[2022-05-22 20:33] elken commented on #163
https://gist.github.com/elken/852f5656e2416c5b695710db18416df9

Output of `(buffer-string)` in the daemon buffer after running and trying to trigger the issue. With the latest commits, I can also start the chrome debugger, but it fails with the same error shortly after.

I've tried with the nix version of emacs 28.1 and emacs-mac with the exact same result.

[2022-06-10 08:25] flexv99 opened #166 "dart analysis server stuck on status starting"
**Describe the bug**
When openening a .dart file the dart analysis server does not start and I the following shows up in the *Messages* buffer:
`LSP :: Connected to [dart_analysis_server:14656/starting].
LSP :: Error from the Language Server: Invalid params for initialize:
params.processId must be of type int (Invalid Parameters)`

I tried various custom lsp-dart-server-commands, but was not able

[2022-06-10 19:32] PatrickWulfe commented on #141
You can do this with eglot using eglot-code-actions

[2022-06-10 21:38] ericdallo commented on #141
Via code actions this is possible as well using lsp-mode

[2022-06-10 21:40] ericdallo commented on #141
It's not clear to me what is the feature requested @zw963, code actions already provide wrapping widget
![image](https://user-images.githubusercontent.com/7820865/173154743-7208b3d1-a330-4dac-86a3-a3f642a65b16.png)

[2022-06-11 02:08] ericdallo commented on #154
@Walheimat I think this was fixed recently on latest release, could you confirm?

[2022-06-11 08:24] zw963 commented on #141
Wired, It still not works for me ...

![image](https://user-images.githubusercontent.com/549126/173179968-7deb83ab-3915-4a32-afca-115c66cee1ea.png)

[2022-06-11 09:39] Walheimat commented on #154
I'll have a look later, thanks.

[2022-06-11 09:39] zw963 opened #167 "lsp-dart-run not work use with new default `(setq lsp-dart-dap-use-sdk-debugger t)`"
**Describe the bug**
I am not use lsp-dart for flutter development for several days, it not works today, i try record some logs for research

Following is log come from lsp-dart, with the default settings `(setq lsp-dart-dap-use-sdk-debugger t)`

[code]

Following is log come from `*Messags*`

[code]

**Version**
[LSP Dart] 1.22.0 at 2022.06.11 @ Emacs 28.1.50
[Dart SDK] Dart SDK version: 2.16.1 (

[2022-06-11 09:39] zw963 commented on #131
I consider this issue same as #167, so discuss there.

[2022-06-11 09:39] #131 closed

[2022-06-11 09:50] zw963 commented on #167
In fact, i found it not work when i `(setq lsp-dart-dap-use-sdk-debugger t)`

[code]

i consider the issue is:

the name when run with `flutter devices` is not same as the device name in AndroidStudio.

![image](https://user-images.githubusercontent.com/549126/173182707-d264f8ff-f257-4933-8686-7efc9f00d2b4.png)

![image](https://user-images.githubusercontent.com/549126/173182838-15ec9ba6-341a-42b6

[2022-06-11 14:39] ericdallo commented on #141
That's weird indeed, all those cases work for me, @DanTup is there anything on the server-side that may not return "wrap widget" code actions?

[2022-06-11 14:44] ericdallo commented on #167
Odd, `lsp-dart-dap-use-sdk-debugger` will be the canonical and recommended way so we need to make sure everything is working, although the emulator id chosen by lsp-dart is the same if using the SDK debugger or not

[2022-06-11 14:46] ericdallo commented on #167
I'll take a look

[2022-06-11 15:36] #167 closed

[2022-06-11 15:36] ericdallo commented on #167
Found the issue and fixed @zw963 , LMK if any issues

[2022-06-11 15:43] ericdallo commented on #152
I can't repro this, but what I do is press `n` when lsp-mode asks about import that new package and works

[2022-06-11 18:23] DanTup commented on #141
I'm not sure without a repro. I notice in the screenshots above there's a difference with `return Foo()` vs `final app = Foo();`.. does that change things?

If not, some exact code this repros on and a log of the LSP traffic might help figure it out.

[2022-06-11 18:29] ericdallo commented on #141
You are correct @DanTup !
I don't get wrap widget code actions if trying on a widget that belongs to a variable: `final foo = MaterialApp();`

[2022-06-11 20:56] Walheimat commented on #154
Unfortunately can't confirm:

[code]

... leads to ...

[code]

I'm guessing this is the latest version:

[code]

Btw, I have this hack in my config to avoid the issue if anyone else has this:

[code]

[2022-06-11 23:25] HombreLaser opened #168 "Wrong type argument stringp nil when running lsp-dart-run"
When trying to execute a piece of dart code (via the debugger or via the lsp-dart-run command) it fails and prints:

`puny-encode-domain: Wrong type argument: stringp, nil`

The backtrace:

[code]

lsp-dart-version outputs:
[code]

[2022-06-12 03:59] zw963 commented on #167
It works! this issue confuse me for a long time, it finally fixed now.

[2022-06-12 04:19] zw963 commented on #150
Hi, lsp-dart still not work for dart only project if not set `lsp-dart-sdk-dir` manually.

Following is reproduce:

[code]

Get following error:

LSP :: dart_analysis_server has exited (exited abnormally with code 64)

i can see log in *dart_analysis_server:stderr* log.

[code]

The currect path should be

~/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot

Not

~/flutter/bin

[2022-06-12 04:26] zw963 commented on #152
In fact, this issue same as #146 , those error not displayed if pressing n to not treat package root as LSP root, but it not jumpable as VSCode does.

as you mention in https://github.com/emacs-lsp/lsp-dart/issues/128#issuecomment-1068581681, VSCode must do some magic things which make jump to definition always happen even in package, maybe lsp-dart will work someday.

[2022-06-13 03:42] XO39 opened #169 "-32007 - File is not being analyzed"
When opening the first dart file in a flutter project for the first time in a session, I get this error.
The problem is gone when reopening the file, or opening another file.

[code]

Not sure, but it might be related to Dart-Code/Dart-Code#3929.

This if the related part of the log when enabling `lsp-toggle-trace-io`:
[code]

lsp-mode 20220611.1817, Emacs 28.1, darwin

[2022-06-13 08:28] flexv99 commented on #166
Looking at the logs the `processId` is `null`

[2022-06-13 14:41] #154 closed

[2022-06-13 14:45] ericdallo commented on #168
I suspect this could be a dap-mode issue, @yyoncho did you already see this kind of issue?

[2022-06-13 14:57] ericdallo commented on #166
It seems we send processId manually nil [here](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L7337), so not sure this is the problem as it works for all lsp clients and for me on lsp-dart. Also, according to the [LSP spec](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#initializeParams), this param can be null.

Is this message `Invalid

[2022-06-13 15:17] ericdallo commented on #169
It looks related @XO39 , did you try with that dart SDK version which included the fix?

[2022-06-13 19:24] yyoncho commented on #168
afaics the template does not have host

[2022-06-14 02:21] zw963 commented on #141
I try record IO in the last wrappered example.

[code]

[2022-06-14 02:35] zw963 commented on #141
Yep, i can make it works when i try to directly show action on following returned widget instead.

![image](https://user-images.githubusercontent.com/549126/173481030-12997832-b686-47f5-a81e-766b18f1ddb1.png)

Following is lsp output log

http://dpaste.com/E78YBYJTY

Another strange things is, when i select widget use region, then show action, it get different result.

![image](https://user-images

[2022-06-14 02:38] zw963 commented on #152
Yes, it can jumping to packages, but, then, ipressing `n` when tips add package folder into lsp, then, when try do jump in package, it not works.

[2022-06-14 02:48] zw963 commented on #131
Hi,   have to mention, after #167 was fixed by https://github.com/emacs-lsp/lsp-dart/commit/1be022324b6c081eddcf27de546bbf3e87cd29ef, lsp-dart work quite well in my laptop.

before than, meet can not start device frequently.

[2022-06-14 13:48] ericdallo commented on #168
@yyoncho what you mean? should we provide a host on lsp-dart on the dap templates? if so, what host?

[2022-06-14 13:51] ericdallo commented on #141
Awesome @DanTup thank you!
@zw963 we can keep this open until the fix on dart-sdk is merged

[2022-06-14 13:53] ericdallo commented on #152
Yeah, I need to repro to understand why it happens, can you repro on the flutter sample repo?

[2022-06-14 18:12] zw963 commented on #152
No, it seem like in flutter_sample repo, there is no dart code use external package, so, there is no way to jump out to package?

[2022-06-15 14:57] #168 closed

[2022-06-15 15:07] zw963 commented on #152
Sure no, haha, let us leave this issue for a moment, if i meet same issue again, i will do some research, and report here ASAP.

[2022-06-15 15:41] ericdallo opened #170 "CI: eask failing to run tests"
It seems eask is failing to run tests both on CI and local.

@jcs090218 any clues?

[2022-06-15 15:44] HombreLaser commented on #168
Confirmed working with [6bb26fe](https://github.com/emacs-lsp/lsp-dart/commit/6bb26feb9c21bed7a3a52c7b35a2a84805233a5e). Thanks, @ericdallo

[2022-06-15 15:52] #170 closed

[2022-06-15 15:52] ericdallo commented on #170
Fixed, it was missing the test arg

[2022-06-15 17:44] flexv99 commented on #166
I think it's coming from the server, but I am not sure i get this in the echo area and in the *Messages* buffer

[2022-06-16 06:24] flexv99 commented on #166
I hardcoded the processId inside `lsp-mode.el` to a random integer value and now it works but I don't know if I should let it like this

[2022-06-16 21:37] ericdallo commented on #166
@yyoncho do you know why lsp-mode could be sending the processId null?

[2022-06-17 06:32] yyoncho commented on #166
... and processId is optional.

[2022-06-17 15:29] ericdallo commented on #166
Hum, so if it's optional the server must be complaining about it, right?
@DanTup would you mind checking if the dart LSP server is making that required?

[2022-06-17 15:54] Walheimat commented on #154
Would love to, but I can't start anything anymore because of `(wrong-type-argument stringp ("daemon"))`.

[2022-06-17 16:31] yyoncho commented on #166
it should accept null as a valid value

[2022-06-17 16:35] DanTup commented on #166
Is it possible to get the logs? I checked the code for the version quoted above (2.16.2) here:

https://raw.githubusercontent.com/dart-lang/sdk/2.16.2/pkg/analysis_server/lib/lsp_protocol/protocol_generated.dart

But the check looks like this:

[code]

Which looks reasonable to me. It'd be good to review the full payload and see what's going wrong.

[2022-06-17 18:13] ericdallo commented on #166
@flexv99 could you help get the client<->server logs following [this](https://emacs-lsp.github.io/lsp-mode/page/troubleshooting/#log-client-server-json)?

[2022-06-17 19:51] flexv99 commented on #166
`[Trace - 09:48:20 PM] Sending request 'initialize - (1)'.
Params: {
  "processId": null,
  "rootPath": "/Users/flex99/test",
  "clientInfo": {
    "name": "emacs",
    "version": "GNU Emacs 29.0.50 (build 1, x86_64-apple-darwin21.3.0, NS appkit-2113.30 Version 12.2.1 (Build 21D62))\n of 2022-02-25"
  },
  "rootUri": "file:///Users/flex99/test",
  "capabilities": {
    "workspace": {
      "worksp

[2022-06-18 14:32] ericdallo commented on #166
And we are indeed sending it as null right? so it seems the server is not handling properly @DanTup , since I can't repro this issue it could be some server corner case?

[2022-06-18 15:11] XO39 commented on #169
Didn't try the version with the fix, I will just wait to for the official release (maybe next August).

[2022-06-18 15:18] XO39 opened #171 "(wront-type-argument stringp ("daemon"))"
After last update, I'm getting this error:
[code]

Here is the debugger log:
[code]

Is it a bug or am I missing some settings somewhere? (Didn't see anything in the docs)

If it's a bug, i hope to have a fix soon as this one is a showstopper, I had to disable `lsp-mode` entirely for flutter projects.

[2022-06-18 15:20] ericdallo commented on #171
Oh, my bad, I will do a quick fix

[2022-06-18 15:26] XO39 commented on #171
And when I try to close Emacs, it won't close, shows this:

[2022-06-18 15:27] #171 closed

[2022-06-18 15:28] ericdallo commented on #171
It should be fixed on master, will do a 1.22.2 release

[2022-06-18 18:12] yyoncho commented on #166
@flexv99 what is your server version?

[2022-06-18 19:28] DanTup commented on #166
From the log snippet above it does seem like the servers issue, although at a glance the code seemed sound. I'll have to do some testing but I'm not around much this weekend so probably won't be till next week.

This generated code has changed a little recently, so it may be interested to try with the latest code (you can get bleeding edge builds at https://gsdview.appspot.com/dart-archive/channel

[2022-06-18 19:30] DanTup commented on #166
Sorry, missed this above. That definitely sounds odd if you're using the same Dart SDK version. Is it possible for you both to capture logs by passing `--instrumentation-log-file=/foo/log.txt` (set your own path) to the server and sending me everything up until the initialized response? (either here, or logs@dartcode.org). Using the servers log will eliminate any client display issue (although it'

[2022-06-19 09:58] shivjm commented on #110
I’ve got the inverse problem: after installing the Dart and Flutter SDKs via Chocolatey, I have dart.exe, not dart.bat. I have [a WIP branch](https://github.com/emacs-lsp/lsp-dart/commit/af331f56c73080bab8bef110d3e0b3c1d0942fb3) that fixes the issue, but it does so by running `executable-find` every single time it’s called, which seems sub-optimal. I’m not sure what the right solution is here.

[2022-06-19 18:30] Walheimat commented on #154
You closed it already, but just tested with the latest commit and I no longer seem to get duplicate logs.

[2022-06-19 20:39] ericdallo commented on #110
yeah, that could lead to performance issues, I think we should support both .bat and .exe just checking if one of those exsits

[2022-06-20 06:10] flexv99 commented on #166
I am using version `1.32.8`

[2022-06-20 09:50] yyoncho commented on #166
@flexv99 can you tell me what `M-: (lsp--json-serialize (list :processId nil)) RET` returns?

[2022-06-20 09:53] DanTup commented on #166
btw there are some other places that show `null` in the client log shown above but were empty objects in the server log, for example:

[code]

[2022-06-25 13:05] nidyaonur commented on #163
Any progress on this issue? I am having the exact same issue with @elken.

[2022-06-25 14:18] elken commented on #163
#165 was started as a means to address this properly as it's definitely just comint (and provide a faster, stable interface overall) but I have since been moved away from the flutter project that was blocking me.

If eric is able to find time to review what's there I can try and look further :D

[2022-06-25 22:40] ericdallo commented on #163
@elken I thought it was not ready because of tests failing :)
Could you rebase and fix tests?

[2022-06-26 04:47] elken commented on #163
There are a couple of issues I was struggling to resolve, but I will look into fixing them when I can :)

[2022-06-29 04:25] jvliwanag commented on #163
Encountering a similar issue here.

In my particular case, the error is:

[code]

Now, opening `*LSP Dart - Flutter daemon` buffer, the interesting bit is that this first displays ---

[code]

Note that the message itself was cut short ending at `fal`. And then after a while, it then completes the line to:

[code]

[2022-06-29 04:29] jvliwanag commented on #87
Might be similar to what I reported here - https://github.com/emacs-lsp/lsp-dart/issues/163#issuecomment-1169519435

[2022-06-29 10:36] jvliwanag commented on #163
Looks like Mac users fall into the 1024 max line length: https://github.com/emacs-mirror/emacs/blob/9c9e34e9b683b6b548d92dc7c1ed57f06f62eefb/lisp/comint.el#L492

[2022-06-29 10:38] elken commented on #163
https://github.com/emacs-lsp/lsp-dart/issues/163#issuecomment-1133553643 please read the whole thread before commenting :)

[2022-06-29 10:45] jvliwanag commented on #163
Apologies for the duplicate. :) Perhaps the add here is that, 1024 limit is probably just on the mac. Linux and Windows users won't run into it.

[2022-06-29 13:42] jvliwanag commented on #163
Not particularly good with elisp, and unsure what this does. But setting this before launching any dart project solves the issue.

[code]

[2022-06-29 15:00] elken commented on #163
Doesn't work here

[2022-06-29 22:24] jvliwanag commented on #163
Needs to get it set before daemon process start. Just to test the workaround, do put it on init.el

[2022-06-30 04:05] zw963 opened #173 "lsp-dart treat current-buffer as entry function when run `lsp-dart-run`."
lsp-dart work REALLY REALLY WELL recent days! with offical debugger.

only one concern, when i run `lsp-dart-run`, it let me device,
but, it not let me select the entry function. in fact, it always
use current open buffer as entry, that not work well. will make
start failed.

the, the corrent working processing is, open project, and open
`lib/main.dart` first(this step is necessory), run `lsp-dart

[2022-06-30 04:13] elken commented on #163
I did, and it's probably not something that should be set globally anyway.

[2022-06-30 16:54] ericdallo commented on #173
For dart projects, lsp-dart does this:
[code]

that function `lsp-dart-get-project-entrypoint` checks the variable `lsp-dart-program-entrypoints` which already include the `lib/main.dart`, so not sure why it's not working for you

[2022-06-30 18:30] zw963 commented on #173
Sorry, i consider maybe i run lsp-dart-run too early, even before lsp start sucessful.

i will back if other issue.

[2022-07-08 06:49] zw963 commented on #173
But, when i open project root folder use step 1, lsp-workspace-root not exists, it only exists after i open a dart file in current project, and after lsp start correct, so, we still need check the return of this function if nil, if nil, we can use `default-directory` instead?

[2022-07-08 15:01] flexv99 commented on #166
Sorry for the super late reply, as mentioned by @DanTup it returns:
`"{\"processId\":{}}"`

[2022-07-10 05:03] yyoncho commented on #166
@flexv99 what is your emacs version? This is causing the issue.

[2022-07-12 01:45] laynor opened #174 "weird output on generating override for build method in StatelessWidget"
**Describe the bug**

When I create a simple widget class
[code]
and then invoke `lsp-execute-code-action`  with the cursor on `Foo` I get this weird output:
[code]

**To Reproduce**
{populate}

**Expected behavior**
[code]

**Version**
Include here the result of: <kbd>M-x</kbd> `lsp-dart-version`
[code]

[2022-07-13 12:25] ericdallo commented on #174
@laynor I think your emacs is missing yasnippets package, the returned code action is a snippet and those numbers are the place where the cursor should jump, for some reason is not working properly well for you, so I suggest you double check if yasnippets is installed.
https://emacs-lsp.github.io/lsp-mode/page/faq/#the-completion-does-not-work-fine-and-inserts-arguments-and-placeholders-what-i-am-

[2022-07-13 12:25] #174 closed

[2022-07-17 18:34] #173 closed

[2022-07-17 18:35] ericdallo commented on #173
@zw963 it should be fixed to use lsp-workspace-root, could you try again?

[2022-07-18 03:53] laynor commented on #174
@ericdallo Yasnippet is installed,  and I use it daily. In fact, I have not changed my emacs config in quite a while and overriding `build` used to work flawlessly. It may have stopped working after some flutter upgrade, but I cannot be sure.
I'm using doom emacs, with a pretty standard configuration.

[2022-07-18 12:34] ericdallo commented on #174
Yeah, looks correct, maybe @yyoncho could help here?

[2022-07-19 11:39] yyoncho commented on #174
@laynor what is happening?

[2022-07-27 07:01] flexv99 commented on #166
After using eglot for a while I gave it another try today first using `emacs 28.1` which did not change anything.
But I solved the issue changing [processID](https://github.com/emacs-lsp/lsp-mode/blob/b2dc84128fc6b2cd0460569bae6d0451856d2e0b/lsp-mode.el#L7363) from `nil` to `0`

[2022-07-27 12:07] yyoncho commented on #166
@flexv99 I tried the reproduce the issue with these builds but I am unable to do so. Another user reported it here: https://github.com/emacs-lsp/lsp-mode/issues/3629#issuecomment-1193297553 and it was fixed after compiling it with native json support. Can you tell me if `(functionp 'json-serialize)` returns t? I suspect that the issue might be caused by jansson changes but without a reproducer it

[2022-08-01 14:04] #166 closed

[2022-08-25 12:46] latpaw opened #175 "flutter analyze makes emacs slow"
problem：
1. use lsp-dart with flutter project
2. jump to definition which may be some flutter file

lsp-dart will analyze all the flutter source code and makes many errors / warnings
lsp-treemacs-errors-list list more than 800, 000 errors

this will make emacs slow Significantly, even just try to save a file which is not .dart

should lsp-dart just support ignore analyze flutter source code
 or
ch

[2022-08-25 15:53] ericdallo commented on #175
@latpaw when you go to flutter source, try not importing the flutter source, since you probably already imported try `lsp-workspace-folders-remove` to remove flutter source code project

[2022-08-26 02:09] latpaw commented on #175
yeah, it works. Thanks @ericdallo
I should learn more about lsp docs

[2022-08-26 02:09] #175 closed

[2022-08-26 12:34] ericdallo commented on #175
@latpaw maybe we could mention it somewhere on lsp-dart docs, I think this is pretty common

[2022-09-06 04:11] reimager opened #176 "Can't open menu inside lsp-dart-show-flutter-outline"
**Describe the bug**
After running M-x lsp-dart-show-flutter-outline, I right click on a Widget (same as example gif in README) and I expect a popup to allow wrapping a widget or whatever. Instead I get an error

**To Reproduce**
Right click on Widget in flutter outline window

This is the error:
Error running timer: (wrong-type-argument listp #[128 "\302\205\0\303\300\301\"\207" ["file:///home/u

[2022-09-06 20:42] reimager opened #178 "significant performance loss with lsp-dart-flutter-widget-guides"
This is an FYI in case others run into this issue. My lsp-dart performance was pretty terrible.

I was testing by just going into a dart file and typing a comment and mashing buttons.
Something like:
// aoeuao eaosethaosenuthaosneuhtaosueh aoeuaoeusnthaosh

There is a noticeable lag for characters to appear, sometimes several seconds.
I can hear my CPU fans spin up as emacs takes 100% CPU.

I trie

[2022-09-07 12:35] ericdallo commented on #178
Thanks, to be honest I thought we solved every performance issue on that feature as we had lots of performance in the past, I work on big flutter projects and didn't notice that, but if there is anything we could fix it'd be nice

[2022-09-27 15:31] gnumonk commented on #178
+1 , (setq lsp-dart-flutter-widget-guides nil) setting up this is helping, else flutter with emacs was stuck and very slow.

[2022-10-14 07:50] laynor commented on #174
@yyoncho I'm getting weird output from LSP dart when I chose for example the `create missing overrides` action. I guess the action uses yasnippet, but I wonder if the issue is yasnippet related.
for example, I get this output
[code]
I would expect this instead
[code]

[2022-10-14 09:06] yyoncho commented on #174
@ericdallo do we have custom handling for this code action? If yes, we should use yas to expand the text edits send by the server. If no, then we should check if we are missing a piece from the protocol implementation.

[2022-10-14 16:27] ericdallo commented on #174
Yeah, we don't have any code actions customizations on lsp-dart, so maybe something kissing from spec

[2022-10-29 20:09] ericdallo commented on #107
#182 should fix this, It's not a ideal fix, but seems good enough to fix it for now for most people

[2022-10-29 20:09] #107 closed

[2022-10-31 00:01] ericdallo commented on #163
This should be fixed by https://github.com/emacs-lsp/lsp-dart/pull/165, LMK otherwise

[2022-10-31 00:01] #163 closed

[2022-10-31 00:02] ericdallo commented on #152
@zw963 I made a commit which should fix this: https://github.com/emacs-lsp/lsp-dart/commit/a8939d6784c033f97941908b067fa364ee2580a3
LMK if otherwise

[2022-10-31 00:02] #152 closed

[2022-10-31 00:05] ericdallo commented on #87
This should be fixed after https://github.com/emacs-lsp/lsp-dart/pull/165

[2022-10-31 00:05] #87 closed

[2022-10-31 03:27] zw963 commented on #152
Cool, thanks, that will be a big improvement, i am not use dart recent days, i will test it later and give feedback.

[2022-11-01 11:46] dot-wei2021 commented on #83
Is there a solution now?

[2022-11-02 01:06] ericdallo commented on #176
@reimager I just tried latest lsp-dart with latest lsp-mode and managed to right click and call actions like wrap widget properly, could you try latest in this [sample project](https://github.com/ericdallo/flutter_sample/tree/flutter-3.0)

[2022-11-02 01:16] #141 closed

[2022-11-04 17:52] SpongeManiac commented on #169
I'm still having this issue, I am on the latest flutter and dart sdk.
Here is my `flutter doctor`:

[code]

[2022-11-04 20:17] ericdallo commented on #169
VSCode or emacs?

[2022-11-06 11:13] Artawower opened #183 "Debug doesn't work. [jsonrpc] (warning) Invalid JSON"
**Describe the bug**
When i start `lsp-dart-run` or `Flutter :: Debug` template i see next warning messages:
[code]
Device list is not displayed. `lsp-dart-dap-setup` pressed.

Several week ago it worked fine, but after i updated packages it broke

result of `lsp-dart-dap-setup` command
[code]

**To Reproduce**
- Create flutter app
- run `lsp-dart-dap-setup`
- Try to start debug session

**Expecte

[2022-11-06 13:13] ericdallo commented on #183
Probably related to the merge of #165 which was suppose to fix cases like that, but seems to be a regression specific to your case, @elken any thoughts?

[2022-11-06 13:44] elken commented on #183
Seeing the response would help

[2022-11-06 18:44] Artawower commented on #183
I pined this commit 4d28d13d8b468bfb8f992da0ea450269d672562c and it works perfect now

[2022-11-07 15:37] ericdallo commented on #183
@Artawower can you `toggle-debug-on-error` and print the stacktrace here so we can try to fix the issue?

[2022-11-07 15:42] ericdallo commented on #183
Also @Artawower I made a commit on master right now, improving that log so we can understand what is wrong on the json

[2022-11-07 15:43] ericdallo commented on #183
I suspect it's a issue [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart-flutter-daemon.el#L103-L104) c/c @elken

[2022-11-07 19:56] Artawower commented on #183
Warning
[code]

Error
[code]

[2022-11-07 19:59] elken commented on #183
Ah it's not handling the device list correctly, should check if the string is delimited by square brackets first before trying to split it

[2022-11-07 21:39] ericdallo commented on #183
Makes sense, willing to open a PR @elken?

[2022-11-07 21:41] elken commented on #183
Sure I'll have a look first thing tmrw

[2022-11-08 12:41] #183 closed

[2022-11-08 12:42] ericdallo commented on #183
@Artawower lsp-dart 1.24.1 should fix that, could you confirm please?

[2022-11-08 15:33] Artawower commented on #183
Works as expected! Thanks for the quick fix

[2022-11-26 16:21] Artawower opened #185 "wrong-type-argument hash-table-p when debug with real device"
**Describe the bug**
After selecting a real device from the debug list, I got an error:
[code]
With enabled toggle-debug-on-error

[code]

**To Reproduce**
1. call `dap-debug`
2. Choose `Flutter :: Debug`
3. Select real device, try to debug

**Expected behavior**
Debugging works correctly.

**Version**

[code]

[2022-11-26 19:13] ericdallo commented on #185
@Artawower any chance you have `lsp-use-plists` as `t`?

[2022-11-26 19:20] Artawower commented on #185
Yep,  its `t`

[2022-11-26 19:21] ericdallo commented on #185
I think that's the issue, lsp-dart is not handling pretty well that, I'll try to take a look soon